{% extends 'base.html' %}

{% block title %}{% if state_edit %}Edit{% else %}Create{% endif %} membership group | {{ site.title | safe }}{% endblock title %}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-8">
			{% include 'breadcrumbs.html' with skipself=False %}
		</div>
	</div>
	<h1>{% if state_edit %}Edit{% else %}Create{% endif %} Membership Group</h1>
</div>

<div class="content-body">

	<div class="row form-container">
		<div class="col-lg-12">
			<div class="form-container-inner padded">
				<div role="form" id="createForm">

					<div class="form-group">
						<div class="row">
							<h3 class="col-sm-12">
								What is the name of this membership group?
							</h3>
						</div>

						<div class="row">
							<label class="col-sm-12" for="name">Please enter a name for the group:</label>
							<div class="col-sm-12 row-meta">
								<p class="alert-warning">Tip: A good name describes the role people within the group, i.e. "guests", "members", "banned", "moderators", "committee members", etc.</p>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" id="name" name="name" placeholder="Name of group" value="{{ role.title | safe }}" />
							</div>
						</div>
					</div> <!-- /form-group -->

					<div class="form-group">
						<div class="row">
							<h3 class="col-sm-12">
								Who is in this group?
							</h3>
						</div>
						<div class="row">
							<label class="col-sm-12">
								<h4>Include people automatically:</h4>
							</label>
							<div class="col-md-6">
								<ul class="list-toggles">
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">All signed-in users</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="include_registered"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="include_registered"></label>
											</button>
										</div><!-- /form-group -->
									</li>
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">All unregistered / guests users</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="include_unregistered"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="include_unregistered"></label>
											</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-12">
								<h4>Include people that match the following criteria:</h4>
							</label>
							<div class="col-sm-12 row-meta">
								<p class="alert-warning">Tip: Use criteria to manage a large number of people. This allows you to re-use these criteria on other subforums and makes it easy to manage permissions for a large number of people across many subforums.</p>
							</div>
							<div class="form-widget criteria-list">
								<div class="form-widget-empty-state">
									No criteria is defined for this group.
									<a href="javascript:void 0">Add criteria for users to join this group</a>
								</div>
								<div class="form-widget-list"></div>
								<div class="form-widget-inlineform">
									<label>Add criteria</label>

									<div class="btn-group btn-group-xs toggle">
										<button type="button" class="btn btn-default">
											<label class="active">And <input type="radio" value="and" name="switch" checked="checked"></label>
										</button>
										<button type="button" class="btn btn-default">
											<label>Or <input type="radio" value="or" name="switch"></label>
										</button>
									</div>

									<select name="condition" class="form-control first">
										<option value="email">Email Address</option>
										<option value="commentCount">Comment Count</option>
										<option value="created">Join Date</option>
										<option value="profileName">Profile Name</option>
										<option value="">Custom Attribute</option>
									</select>

									<span>is</span>

									<select name="predicate" class="form-control last">
										<option value="gt">Greater than</option>
										<option value="ge">Greater than or equals</option>
										<option value="eq">Equals</option>
										<option value="le">Less than or equals</option>
										<option value="lt">Less than</option>
										<option value="neq">Not equal to</option>
										<option value="substr">Contains</option>
										<option value="nsubstr">Does not contain</option>
									</select>

									<input type="text" class="form-control" name="value" placeholder="Value"/>

									<button type="button" class="btn btn-primary submit">Add</button>
								</div>
							</div><!-- /form-widget -->
						</div>
						<div class="row">
							<label class="col-sm-12">
								<h4>Include these individuals:</h4>
							</label>
							<div class="col-sm-12 row-meta">
								<p class="alert-warning">Tip: Use this method to add named individuals to specific subforums, this works best on small groups for one-off permissions such as a subforum for an organising committee.</p>
							</div>
							<div class="col-sm-12">
								<!-- <div class="list-participants"></div> -->

								<div class="list-participants" style="display: none">
									<ul class="list-people list-people-sm">
									</ul>
								</div>

							</div>
							<div class="col-sm-12">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="sprite sprite-search-small"></span>
									</div>
									<input id="invite" class="form-control" autocomplete="off" placeholder="Type in a user's name" />
									<input name="invite" type="hidden" value="" />
								</div>
							</div>
						</div>
					</div> <!-- /form-group -->

					<div class="form-group">
						<div class="row">
							<h3 class="col-sm-12">
								What are these people able to do?
							</h3>
						</div>
						<div class="row">
							<label class="col-sm-12">
								Special permissions:
							</label>
							<div class="col-md-10">
								<ul class="list-toggles">
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">People in this group are <span class="green bold">responsible for moderating</span> this forum</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="is_moderator"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="is_moderator"></label>
											</button>
										</div>
									</li>
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">People in this group are <span class="red bold">banned</span> and cannot see this forum or interact with it</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="is_banned"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="is_banned"></label>
											</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-12">
								Specific permissions:
							</label>
							<div class="col-md-10">
								<ul class="list-toggles">
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">User can access and read this forum</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="can_read"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="can_read"></label>
											</button>
										</div>
									</li>
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">User can create, edit and delete their own conversations, events and comments</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="can_create"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="can_create"></label>
											</button>
										</div>
									</li>
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">User can edit conversations, events and comments of others</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="can_edit_others"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="can_edit_others"></label>
											</button>
										</div>
									</li>
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">User can delete conversations, events and comments of others</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="can_delete_others"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="can_delete_others"></label>
											</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div> <!-- /form-group -->

				</div> <!-- /form-container-inner -->

				<div class="form-group padded" style="border-top: 1px solid #ccc">
					<div class="row col-sm-12" style="margin:0; padding:0;">
						<div class="form-footer-buttons pull-right">
							<a href="{% url 'list-memberships' content.id %}" class="btn btn-lg btn-default">Cancel</a>
							<a href="{% url 'list-memberships' content.id %}" class="btn btn-lg btn-primary" id="submit">{% if state_edit %}Save{% else %}Create{% endif %} group</a>
						</div>
					</div>
				</div> <!-- form-footer -->

			</div>

		</div>
	</div>
</div>

{% endblock content %}
{% block sidebar %}

<div class="metabar-module">

	{% if state_edit %}
		<div class="metabar-module">
			<div class="metabar-module-primary-buttons">
			{% if user %}
				<a
					id="delete_membership_group"
					class="btn btn-large btn-block btn-danger"
				><span class="sprite sprite-user-group"></span>
				<span>Delete membership group</span>
				</a>
			{% endif %}
			</div>
		</div> <!-- primary actions -->
	{% endif %}

	<h5>About</h5>
	<div class="metabar-module-title">
		<h3>{% if state_edit %}Edit{% else %}Create{% endif %} Membership Group</h3>
		<p>A membership group is a group of people that have collectively been granted some permissions.</p>
		<p>By default a person has no permission to do anything, and permissions are granted through membership of one or more membership groups.</p>

		<h3>Core concepts</h3>
		<p>The site has default membership groups, all new forums are assigned these. Default groups will be used by forums unless you create new membership groups on the forum that override them.</p>
		<p>Moderator and banned membership groups are considered special, they will not override the defaults.</p>
		<p class="well well-sm">The creation of a membership group may supercede the defaults. To return to the defaults, delete all of your custom membership groups.</p>

		<h3>Common Scenarios</h3>
		<p>To create a <b>semi-private forum</b> (not indexable by Google and not visible to those not signed-in) create at least one membership group that includes signed-in users, but do not create any membership group that contains guests with the "read" permission.</p>
		<p>To create a <b>truly private forum</b> (not indexable by Google, and visible only to selected signed-in users), create at least one membership group but do not add guests or signed-in users. Add people manually or by criteria.</p>
		<p>To <b>add moderators</b> add a moderator group and add your moderators to the group.</p>
		<p>To <b>ban a person from this one forum</b> add a banned membership group and add the person to that group.</p>

	</div>
</div> <!-- / about -->


{% endblock %}



{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/peopleWidget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/membership_form.js"></script>

<script type="text/javascript">
	// initialize
	var criteria = new ListWidget(
		{
			el   : '.criteria-list',
			{% if criteria.criteria.items %}
			data : {
				{% for crit in criteria.criteria.items %}
					{{ crit.id }}: ["{{ crit.andor }}","{% if crit.profile_column %}{{ crit.profile_column }}{% else %}{{ crit.attr_key }}{% endif %}","{{ crit.predicate }}", "{{ crit.value }}"],
				{% endfor %}
			}
			{% endif %}
		}
	);
	criteria.render();

	//  people widget
	var subdomain = $('meta[name="subdomain"]').attr('content');

	var participating = new Participating({
		el         : '.list-participants',
		className  : 'list-people list-people-sm',
		static_url : subdomain
	});

	participating.render([
		{% for p in profiles.profiles.items %}
			{"id": {{p.id}}, "profileName": "{{p.profile_name}}", "sticky": "true", "avatar": "{{p.avatar}}" },
		{% endfor %}
		]
	).show();

	var peopleWidget = new PeopleWidget({
		el         : '#invite',
		is_textbox : true,
		static_url : subdomain,
		dataSource : subdomain + '/api/v1/profiles?disableBoiler&top=true&q='
	});

	// update the hidden input box
	var invite_input_field = $('input[name="invite"]');
	var updateInvitedField = function(){
		invite_input_field.val(peopleWidget.invitedListToDelimitedString());
	};

	// triggers when user clicks on a person in the autocomplete dropdown
	peopleWidget.onSelection(function(invited){
		if (invited.length > 0){
			participating.render(invited).show();
		}else{
			participating.hide();
		}
		peopleWidget.show();
		updateInvitedField();
	});

	// triggers when the user clicks on a person in the participants list
	participating.$el.on('click', 'li', function(e){
		var id = e.currentTarget.rel;
		peopleWidget.removePersonFromInvitedById(id).render();
		if (peopleWidget.people_invited.length>0) {
			participating.render(peopleWidget.people_invited).show();
		}else{
			participating.hide();
		}
		updateInvitedField();
	});

	var role = new Role(
		{
			id: {% if role.id %}{{ role.id}}{% else %}0{% endif %},
			criteria   : '.criteria-list',
			individuals: '.list-participants',
			mappings   : {
				'name'         : {el: 'input[name=name]',                 value: "{{ role.title | safe }}" },
				'members'      : {el: 'input[name=invite]',               value: "" },
				'includeUsers' : {el: 'input[name=include_registered]',   value: "{% if role.include_users %}1{% else %}0{% endif %}" },
				'includeGuests': {el: 'input[name=include_unregistered]', value: "{% if role.include_guests %}1{% else %}0{% endif %}" },
				'isModerator'  : {el: 'input[name=is_moderator]',         value: "{% if role.moderator %}1{% else %}0{% endif %}" },
				'isBanned'     : {el: 'input[name=is_banned]',            value: "{% if role.banned %}1{% else %}0{% endif %}" },
				'canRead'      : {el: 'input[name=can_read]',             value: "{% if role.read %}1{% else %}0{% endif %}" },
				'canCreate'    : {el: 'input[name=can_create]',           value: "{% if role.create %}1{% else %}0{% endif %}" },
				'canEdit'      : {el: 'input[name=can_edit_others]',      value: "{% if role.update %}1{% else %}0{% endif %}" },
				'canDelete'    : {el: 'input[name=can_delete_others]',    value: "{% if role.delete %}1{% else %}0{% endif %}" }
			}
		}
	);
	role.updateForm();

	{% if state_edit %}
	$('#delete_membership_group').click(function() {
		if (confirm('Deleting a membership group will change permissions for all members of this groups.\n\nContinue with deletion?')) {

			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');

			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			});

			var apiUrl = '../api/';
			if (role.id > 0) {
				apiUrl = '../../api/';
			}

			$("#createForm :input").attr("disabled","disabled");
			$.ajax({
				type: 'POST',
				url: apiUrl,
				contentType: 'application/json; charset=UTF-8',
				processData: false,
				data: JSON.stringify({ "deleteRole": {{role.id}} }),
				dataType: 'json',
			}).done(function() {
				window.location = $('#submit').attr('href');
			}).fail(function(xhr, status, err) {
				// If error, re-enable the form so people can fix things
				alert(status + ' ' + err);
			});
		}
	});
	{% endif %}
</script>
{% endblock %}