{% if content.meta.permissions.moderator %}
<div class="metabar-module">
	<h5>Moderation actions</h5>
	<div class="metabar-admin">
		<form class="metabar-admin-actions" action="{% url 'moderate-item' %}" method="GET">
			<input type="hidden" name="item_id" value="{{ content.id }}" />
			<input type="hidden" name="item_type" value="{{ item_type }}" />
			<select id="metabar-admin-actions" class="cselect cselect-xs" name="action">
				<option value="move">Move this item</option>
				<option value="delete">Delete this item</option>
				<!--<option>Delete</option>-->
				<!--<option>Undelete</option>-->
				<!--<option>Approve</option>-->
				<!--<option>Unapprove</option>-->
				<!--<option>Pin</option>-->
				<!--<option>Unpin</option>-->
			</select>
			<input type="submit" value="Go" class="btn btn-primary btn-xs"/>
		</form>
	</div> <!-- /metabar-admin -->
</div>
{% endif %}