{% extends 'base.html' %}

{% block content %}

    <div class="content-header padded" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-sm-8">
                {% include 'breadcrumbs.html' %}
            </div>
        </div>
        <h1>
            {% if action == 'move' %}
                Move {{ content.title }} to:
            {% elif action == 'delete' %}
                Do you wish to delete "{{ content.title }}"?
            {% elif action == 'undelete' %}
                Do you wish to undelete "{{ content.title }}"?
            {% elif action == 'approve' %}
                Do you wish to approve "{{ content.title }}"?
            {% elif action == 'open' %}
                Do you wish to open "{{ content.title }}"?
            {% elif action == 'close' %}
                Do you wish to close "{{ content.title }}"?
            {% elif action == 'pin' %}
                Do you wish to pin "{{ content.title }}"?
            {% elif action == 'unpin' %}
                Do you wish to unpin "{{ content.title }}"?
            {% endif %}
        </h1>
    </div>

    <div class="content-body">
        {% if action == 'move' %}
            <div class="row form-container">
                <div class="col-xs-12">
                    <form role="form" action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="{{ action }}" />
                        <input type="hidden" name="item_type" value="{{ item_type }}"/>
                        <input type="hidden" name="item_id" value="{{ content.id }}"/>
                        <select name="microcosm_id" class="cselect">
                            {% for m in microcosms.microcosms.items %}
                                <option value="{{ m.id }}">{{ m.title }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        {% else %}
                <div class="row form-container">
                    <div class="col-xs-12">
                        <form role="form" action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="{{ action }}" />
                            <input type="hidden" name="item_type" value="{{ item_type }}"/>
                            <input type="hidden" name="item_id" value="{{ content.id }}"/>
                            {% if content.microcosm_id %}
                            <input type="hidden" name="microcosm_id" value="{{content.microcosm_id}}" />
                            {% endif %}
                            {% if action == 'delete' %}
                                <input type="submit" value="Delete" class="btn btn-primary"/>
                            {% elif action == 'undelete' %}
                                <input type="submit" value="Undelete" class="btn btn-primary"/>
                            {% elif action == 'approve' %}
                                <input type="submit" value="Approve" class="btn btn-primary"/>
                            {% elif action == 'open' %}
                                <input type="submit" value="Open" class="btn btn-primary"/>
                            {% elif action == 'close' %}
                                <input type="submit" value="Close" class="btn btn-primary"/>
                            {% elif action == 'pin' %}
                                <input type="submit" value="Pin" class="btn btn-primary"/>
                            {% elif action == 'unpin' %}
                                <input type="submit" value="Unpin" class="btn btn-primary"/>
                            {% endif %}
                        </form>
                    </div>
                </div>
        {% endif %}

        {% if content.microcosm_id %}
        <p>Or, <a href={% url 'single-microcosm' content.microcosm_id %}>cancel and go back</a>.</p>
        {% else %}
        <p>Or, <a href={% url 'single-microcosm' content.id %}>cancel and go back</a>.</p>
        {% endif %}
    </div>
{% endblock %}