{% if user and not (item_type == 'profile' and content.id == user.id) %}
	<div class="subscribe {% if content.meta.flags.watched %}active{% endif %}">

	<form method="POST" action="" id="subscribe_form">
		{% csrf_token %}
		<input type="hidden" name="update_type_id" value="1">

		<div id="subscribe-button" class="btn-switch {% if content.meta.flags.watched %}on{%else%}off{%endif%}">

			<div class="btn-switch-state loading">
				<img src="/static/img/preloader.gif" />
			</div>
			<div class="btn-switch-state off">
				<a class="btn-switch-on" href="javascript:void 0">
				<strong>
					Follow{% if item_type == 'profile'%} @{{ content.profile_name | safe }}{%endif%}
				</strong>
				</a>
			</div>
			<div class="btn-switch-state on">
				<span class="sprite sprite-ok-small"></span>
				<strong>Following</strong>
				(<a class="btn-switch-off" href="javascript:void 0">unfollow</a>)
			</div>
		</div>

	</form>
		<div class="subscribe-meta {% if content.meta.flags.watched %}active{%endif%}">
			<form method="POST" action="" id="email_me_form">
			{% csrf_token %}
			<span class="sprite sprite-branch-arrow-right"></span>
				<label title="Emails will only be sent if emails are enabled in your notification settings">
					<input type="checkbox" name="emailme" {% if content.meta.flags.sendEmail %}checked{% endif %} />
						Notify me by email
				</label>
			</form>
		</div>

	</div>
{% endif %}
