# Virtualenv created by dependencies script.
ENV

# Compiled python files.
*.pyc

# IDE project files.
.idea/
*.iml

# Local settings.
newrelic.ini
local_settings.py
newrelic.ini
microweb/local_settings.py
