Django==1.5.4
requests==1.1.0
python-dateutil==2.1

# Production server
gunicorn==0.17.2

# Riemann client
bernhard==0.0.3

# Mock python objects for testing
mock==1.0.1

# Memcache client
pylibmc==1.2.3

# Gevent requests
grequests==0.2.0

newrelic==2.16.0.12
