Django==1.5.9
requests==2.4.1
python-dateutil==1.4

# Production server
gunicorn==0.17.2

# Riemann client
bernhard==0.1.1

# Mock python objects for testing
mock==1.0.1

# Memcache client
pylibmc==1.2.3

# Gevent requests
# grequests==0.2.0
git+https://github.com/microcosm-cc/grequests.git@85884230bff825063e2f05e7b5de1d31c8e9cfd2

newrelic==2.16.0.12
