Django==1.5.9
requests==1.1.0
python-dateutil==1.4

# Production server
gunicorn==0.17.2

# Riemann client
bernhard==0.1.1

# Mock python objects for testing
mock==1.0.1

# Memcache client
pylibmc==1.2.3

# Gevent requests
grequests==0.2.0

newrelic==2.16.0.12
