<div class="reply-box">
  <ul>
    <li class="se-bold"><strong>Bold</strong></li>
    <li class="se-italics"><i>Italics</i></li>
    <li class="se-quote">Quote</li>
    <li class="se-link"><span class="glyphicon glyphicon-link"></span> Link</li>
    <li class="se-list"><span class="glyphicon glyphicon-th-list"></span> List</li>
    <li class="se-image"><span class="glyphicon glyphicon-picture"></span> Image</li>
  </ul>

  <form action="{% url 'create-comment' %}" method="POST">
    {% csrf_token %}
    {{ comment_form.inReplyTo }}
    {{ comment_form.itemId }}
    {{ comment_form.itemType }}
    <textarea id="reply-box-textarea"
              name="{{ comment_form.markdown.name }}"
              placeholder="Enter your text here..."></textarea>
    <div class="reply-box-footer">
      <div class="pull-right">
        <input type="submit" class="btn btn-primary" value="Post reply">
      </div>
      <a href="javascript:void 0">
        <span class="glyphicon glyphicon-question-sign"></span>
        Formatting help
      </a>
    </div>
  </form>
</div>