<div class="reply-box">
{% if user %}
	<ul>
		<li class="se-bold"><strong>Bold</strong></li>
		<li class="se-italics"><i>Italics</i></li>
		<li class="se-quote">Quote</li>
		<li class="se-link"><span class="sprite sprite-format-link"></span> Link</li>
		<li class="se-list"><span class="sprite sprite-format-list"></span> List</li>
		<li class="se-image"><span class="sprite sprite-format-img"></span> Image</li>
	</ul>
	{% if not as_component %}
	<form action="{% url 'create-comment' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ comment_form.id }}
		{{ comment_form.inReplyTo }}
		{{ comment_form.itemId }}
		{{ comment_form.itemType }}
	{% endif %}
		<textarea
			id="reply-box-textarea"
			{% if not as_component %}
			name="{{ comment_form.markdown.name }}"
			maxlength="{{ comment_form.fields.markdown.max_length }}"
			{%else%}
			name="{{ name|default:"markdown" }}"
			maxlength="{{ max_length|default:'5000' }}"
			{% endif %}
			placeholder="Enter your text here..."
			tabindex="1"
		>{{ value|default:"" }}</textarea>

		{% if no_attachments and as_component %}
		{% else %}
			<div class="reply-box-footer">
			{% if not no_attachments %}
				<div class="reply-box-attachments">
					<div class="reply-box-attachments-gallery"></div>
					<span class="reply-box-drop-zone">Drag your files into this area</span> or
					<label for="reply-box-attachments">
						upload a file
					</label>
					<input type="file" id="reply-box-attachments" name="attachments" multiple />
				</div>
			{% endif %}
			{% if not as_component %}
				<input type="submit" class="btn btn-primary" value="Post reply" tabindex="1" />
				<input type="reset" class="btn btn-default" value="Cancel">
				<a href="javascript:void 0" class="formatting-help-handle" data-toggle="modal" data-target="#formatting-help-modal">
					<span class="sprite sprite-help-small"></span>
					Formatting help
				</a>
			</div>
			{% endif %}
		{% endif %}
	{% if not as_component %}
	</form>
	{% endif %}
{% else %}
	<ul>
		<li><strong>Bold</strong></li>
		<li><i>Italics</i></li>
		<li>Quote</li>
		<li><span class="sprite sprite-format-link"></span> Link</li>
		<li><span class="sprite sprite-format-list"></span> List</li>
		<li><span class="sprite sprite-format-img"></span> Image</li>
	</ul>
	<div class="dummy-textarea">
		<button class="btn btn-primary" onclick="login()">Sign-in to post a reply</button>
	</div>
{% endif %}
</div>
{% include 'modal_formatting_help.html' %}