{% extends 'base.html' %}

{% block content %}
	<section id="reply">
		{% if user %}
			<div id="comment{{ comment.id }}" class="row">
				
				<div class="col col-lg-4">
					<img src="{{ user.gravatar }}" alt="Avatar for {{ user.profileName }}" align="left" class="gravatar" />
					<div class="h4">{{ user.profileName }}</div>
				</div>


				<form action="" method="POST" id="commentForm">{% csrf_token %}
					<div class="col col-lg-12">
						<div class="row">
							<section class="col col-lg-16" id="comment{{ comment.id }}body">
								{{ form.id }}
								{{ form.inReplyTo }}
								{{ form.itemId }}
								{{ form.itemType }}
								<div>{{ form.markdown }}</div>
							</section>
						</div>
						<br />
						<div class="row">
							<div class="pull-left muted">
								<small><a data-toggle="modal" data-target="#markdownModal">Formatting help</a></small>
							</div>
							<section class="pull-right" id="comment{{ comment.id }}controls">
								<input class="btn btn-primary" type="submit" value="Save comment">
							</section>
						</div>
					</div>              
				</form>
			</div>
		{% else %}
			<a class="btn btn-primary" id="prompt_login_link" href="javascript:login()">Signup or login to post a comment</a>
		{% endif %}

	</section>


<!-- Markdown Modal -->
<div id="markdownModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Markdown Cheat Sheet</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col col-lg-8">
						<strong>Links</strong>
<pre>http://www.google.com - automatic!
[Google](http://www.google.com)
</pre>
						<strong>Images</strong>
<pre>![Microcosm Logo](/static/themes/1/logo.png)
Format: ![Alt Text](url)
</pre>
						<strong>Emphasis</strong>
<pre>*This text will be italic*
_This will also be italic_
**This text will be bold**
__This will also be bold__

*You **can** combine them*
</pre>
						<strong>Headers</strong>
<pre># Main Header
## Header
### Sub Header
</pre>
						<strong>Mentioning people</strong>
<pre>@user +user</pre>
					</div>
					<div class="col col-lg-8">
						<strong>Unordered Lists</strong>
<pre>* fruits
	+ apples
		- macintosh
		- red delicious
	+ pears
	+ peaches
* vegetables
	+ brocolli
</pre>
<p>Sub-lists are indented by 4 spaces.</p>
						<strong>Ordered Lists</strong>
<pre>1. fruits
	a. apples
		- macintosh
		- red delicious
	b. pears
	c. peaches
1. vegetables
	a. brocolli
</pre>
						<strong>Quotes</strong>
<pre>As Octocat said:

> We're living the future so
> the present is our past.
</pre>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dalog -->
</div><!-- /.modal -->
{% endblock %}

{% block js %}
	<script src="{{ STATIC_URL }}js/md5.min.js"></script>
	<script type="text/javascript">
		function isEmpty(e) {
			return (e.val().trim() == '');
		}
		function checkEmpty(e) {
			if (isEmpty($(e))) {
				addError($(e))
			} else {
				removeError($(e))
			}
		}
		function addError(e) {
			e.parent().addClass('has-error')
		}
		function removeError(e) {
			e.parent().removeClass('has-error')
		}

		$('#id_markdown').on('change', function() {
			checkEmpty(this);
		}).on('blur', function() {
			checkEmpty(this);
		});

		$('#commentForm').submit(function() {
			if (isEmpty($('#id_markdown'))) {
				addError($('#id_markdown'))
				return false;
			}

			// Client-side dupe check
			md5 = hex_md5($('#id_markdown').val())
			if (this.md5 && this.md5 == md5) {
				return false
			}
			this.md5 = md5;

			return true;
		});

		$(document).ready(function() {
			$('#id_markdown').addClass('input-with-feedback').parent().addClass('control-group');
		});
	</script>
{% endblock %}
