{% extends 'base.html' %}

{% block css %}
		<!-- Datepicker + Timepicker -->
		<link href="/static/themes/1/css/datepicker.css" rel="stylesheet" type="text/css" />
		<link href="/static/themes/1/css/timepicker.css" rel="stylesheet" type="text/css" />
		<!-- Leaflet -->
		<link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.5.1/leaflet.min.css" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.5.1/leaflet.ie.css" />
		<![endif]-->
{% endblock %}

{% block content %}

	{% if form.id > 0 %}
		<h3>Edit event</h3>
	{% else %}
		<h3>Create event</h3>
	{% endif %}

	<form action="" method="POST" id="eventForm">
		{% csrf_token %}
		{{ form.microcosmId }}
		{{ form.id }}

		{{ form.sticky }}
		{{ form.moderated }}
		{{ form.visible }}
		{{ form.deleted }}
		
		<!-- Hidden fields hard-coded for integration with the JavaScript UI.
			Check /microcosm/forms/forms.py for what fields should exist. -->
		<input type="hidden" name="lat"      id="id_lat"      value="{{ form.lat.value }}" />
		<input type="hidden" name="lon"      id="id_lon"      value="{{ form.lon.value }}" />
		<input type="hidden" name="north"    id="id_north"    value="{{ form.north.value }}" />
		<input type="hidden" name="east"     id="id_east"     value="{{ form.east.value }}" />
		<input type="hidden" name="south"    id="id_south"    value="{{ form.south.value }}" />
		<input type="hidden" name="west"     id="id_west"     value="{{ form.west.value }}" />

		<input type="hidden" name="when"     id="id_when"     value="{{ form.when.value|date:"Y-m-d H:i:00" }}" />
		<input type="hidden" name="duration" id="id_duration" value="{{ form.duration.value }}" />

		<div class="row">
			<div class="col-span-16 {% if form.errors.title %} has-errors{% endif %}" style="padding-right:0px;">
				<h4>Title</h4>
				<p>
					<input
						id="id_title"
						type="text"
						name="title"
						class="input-with-feedback"
						maxlength="150"
						value="{{ form.title.value }}"
					/>
				</p>
				{% if form.errors.title %}
					<p class="text-danger">What is the event called?</p>
				{% endif %}
			</div>
		</div>

		<div class="row">
			<div class="col-span-8">
				<h4>Where</h4>
				<div id="control_where" class="input-group">
					<input
						id="id_where"
						type="text"
						name="where"
						class="input-with-feedback"
						maxlength="150"
						value="{{ form.where.value }}"
					/>
					<span class="input-group-btn">
						<button class="btn btn-info" type="button" id="locate">Locate</button>
					</span>
				</div>
				{% if form.errors.where %}
					<p class="text-danger">Where is the event going to be held?</p>
				{% endif %}
			</div>
			<div id="map" class="col-span-8 pull-right" style="height:366px"></div>

			<div class="col-span-8">
				<h4>From</h4>
				<div id="control_from_date" class="control-group">
					<div class="controls col-span-8" style="padding-left:0px">
						<input id="id_from_date" name="from_date" type="text" class="input-with-feedback" value="" />
					</div>
					<div class="input-group col-span-8 bootstrap-timepicker">
						<input id="id_from_time" type="text" value="" />
					</div>
				</div>
				{% if form.errors.when %}
					<p class="text-danger">The event start time must be in the future.</p>
					<p class="text-danger">{{ field.errors.when|safe }}</p>
				{% endif %}
			</div>

			<div class="col-span-8">
				<h4>To</h4>
				<div id="control_to_date" class="control-group">
					<div class="controls col-span-8" style="padding-left:0px">
						<input id="id_to_date" name="to_date" type="text" class="input-with-feedback" value="" />
					</div>
					<div class="input-group col-span-8 bootstrap-timepicker">
						<input id="id_to_time" type="text" value="" />
					</div>
				</div>
			</div>

			<div class="col-span-8">
				<h4>Attendee Limit (0 for unlimited)</h4>
				<div id="control_rsvp" class="input-group">
					<input
						id="id_rsvpLimit"
						type="text"
						name="rsvpLimit"
						class="input-with-feedback"
						maxlength="150"
						value="{{ form.rsvpLimit.value }}"
					/>
				</div>
				{% if form.errors.rsvpLimit %}
					<p class="text-danger">Attendee limit should be 0 for unlimited, or a whole number representing the maximum number of people that may attend the event.</p>
				{% endif %}
			</div>
		</div>

		{% if form.id > 0 %}
			<div class="row">
				<div class="col-span-16 input-group">
					<h4>Edit reason</h4>
					<p>
						<input
							id="id_editReason"
							type="text"
							name="editReason"
							class="input-with-feedback"
							maxlength="150"
							value="{{ form.editReason.value }}"
						/>
					</p>
					{% if form.errors.editReason %}
						<p class="text-danger">What did you change?.</p>
					{% endif %}
				</div>
			</div>
		{% endif %}

		<input class="btn btn-primary" id="submit" type="submit" value="Save Event" />

	</form>
{% endblock %}

{% block js %}
	<!-- Leaflet -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.5.1/leaflet.min.js"></script>

	<!-- Datepicker https://github.com/ianserlin/bootstrap-datepicker/tree/3.x -->
	<script src="/static/js/bootstrap-datepicker.js"></script>

	<!-- Timepicker https://github.com/ianserlin/bootstrap-timepicker -->
	<script src="/static/js/bootstrap-timepicker.js"></script>

	<script type="text/javascript">
		/////////
		// MAP //
		/////////

		var map = L.map('map')
			.setMaxBounds([[-90,-180],[90,180]]); // Restrict map to valid lat:lng pairs

		L.tileLayer(
			'https://d1qte70nkdppk5.cloudfront.net/d6f1a0c60e9746faa7cbfaec4b92dff3/997/256/{z}/{x}/{y}.png',
			{
				attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
				minZoom: 0, // Zoom to world
				maxZoom: 18 // Zoom to finest detail
			}
		).addTo(map);

		var marker;
		function dropMarker(latLng) {
			if (marker) {
				map.removeLayer(marker);
			}

			marker = L.marker(latLng);
			map.addLayer(marker);
			saveLocationState(latLng);
		}

		map.on('click', function(e) {
			dropMarker(e.latlng);
		});

		map.on('moveend', function(e) {
			if (marker) {
				latLng = marker.getLatLng()
				saveLocationState(latLng);
			}
		});

		$('#locate').bind('click', function() {
			var place = $.trim($('#id_where').val());
			if (place == '') {return;}

			// TODO: Put a real access_token in this request or proxy via Django
			var geoCodeUrl = '/geocode/?q=' + place;
			$.getJSON(geoCodeUrl, function(data) {
				if (!data.found) {
					$('#control_where').addClass('has-error');
					$('#locate').removeClass('btn-info').addClass('btn-danger');
					return;
				}

				var p = data.features[0];
				map.fitBounds(p.bounds);
				dropMarker(new L.LatLng(p.centroid.coordinates[0], p.centroid.coordinates[1]));
			});
		});

		$('#id_where').bind('change', function() {
			if (marker && $('#id_where').val().trim() != '') {
				// Dropping a pin without a label
				$('#control_where').removeClass('has-error');
				$('#locate').removeClass('btn-danger').addClass('btn-info');
			}
		});

		function saveLocationState(latLng) {
			// If not the create/edit page, this should just return and do nothing
			$('#control_where').removeClass('has-error');
			$('#locate').removeClass('btn-danger').addClass('btn-info');

			if (marker && $('#id_where').val().trim() == '') {
				// Dropping a pin without a label
				$('#control_where').addClass('has-error');
				$('#locate').removeClass('btn-info').addClass('btn-danger');
			}

			var b = map.getBounds();
			var sw = b.getSouthWest();
			var ne = b.getNorthEast();
			
			// Save these things
			$('#id_lat').val(latLng.lat);
			$('#id_lon').val(latLng.lng);
			$('#id_north').val(ne.lat);
			$('#id_east').val(ne.lng);
			$('#id_south').val(sw.lat);
			$('#id_west').val(sw.lng);
		}

		function restoreLocationState(lat, lng, bounds) {
			map.fitBounds(bounds);
			dropMarker(new L.LatLng(lat, lng));
		}

		//////////
		// DATE //
		//////////

		var startDate = false;
		var endDate = false;

		// Very basic test of dates between 2010-01-01 and 2059-12-31
		var dateReg = /^20[1-5][0-9]-(0[1-9]|1[0-2])-([0][1-9]|[1-2][0-9]|3[0-1])$/

		function getDateFromIsoString(d) {
			if (d.match(dateReg)) {
				var ds = d.split("-");
				return new Date(Date.UTC(ds[0],ds[1]-1,ds[2]));
			} else {
				return false;
			}
		}

		function getIsoStringFromDate(d) {
			var dd = d.getUTCDate();
			var mm = d.getUTCMonth() + 1;
			return '' + d.getUTCFullYear() + '-' +
				(mm <= 9 ? '0' + mm : mm) + '-' +
				(dd <= 9 ? '0' + dd : dd);
		}

		function setStartDate(d) {
			if (!d) {
				$('#id_from_date').val('');
				startDate = false;
				return;
			}
			$('#id_from_date').val(getIsoStringFromDate(d));
			startDate = d;
			validateDateTimes();
		}

		function setEndDate(d) {
			if (!d) {
				$('#id_to_date').val('');
				endDate = false;
				return;
			}
			$('#id_to_date').val(getIsoStringFromDate(d));
			endDate = d;
			validateDateTimes();
		}

		$('#id_from_date')
			.datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev){
				if (endDate && ev.date.valueOf() > endDate.valueOf()){
					setStartDate(new Date(ev.date));
					$('#id_to_date').val($('#id_from_date').val());
				} else {
					$('#control_from_date').removeClass('has-error');
					$('#control_to_date').removeClass('has-error');
					setStartDate(new Date(ev.date));
				}
				$('#id_to_date').datepicker('setStartDate', $('#id_from_date').val());
				$('#id_from_date').datepicker('hide');
			});

		$('#id_to_date')
			.datepicker({format: 'yyyy-mm-dd'})
			.on('changeDate', function(ev){
				if (startDate && ev.date.valueOf() < startDate.valueOf()){
					$('#control_from_date').addClass('has-error');
					$('#control_to_date').addClass('has-error');
					setEndDate(false);
				} else {
					$('#control_from_date').removeClass('has-error');
					$('#control_to_date').removeClass('has-error');
					setEndDate(new Date(ev.date));
				}
				$('#id_to_date').datepicker('hide');
			});

		$('#id_from_date').bind('change', function() {
			var d = $(this).val()
			if (d.trim() == '' || d.match(dateReg)) {
				$('#control_from_date').removeClass('has-error');
			} else {
				$('#control_from_date').addClass('has-error');
			}
		});

		$('#id_to_date').bind('change', function() {
			var d = $(this).val()
			if (d.trim() == '' || d.match(dateReg)) {
				$('#control_to_date').removeClass('has-error');
			} else {
				$('#control_to_date').addClass('has-error');
			}
		});

		//////////
		// TIME //
		//////////

		function setTime(d, ts) {
			if (!d) {d = new Date()}
			var time = ts.match(/(\d?\d):(\d\d)\s(P?)/);
			d.setHours( parseInt(time[1]) + ( ( parseInt(time[1]) < 12 && time[3] ) ? 12 : 0) );
			d.setMinutes( parseInt(time[2]) || 0 );
		}

		function getTimeStringFromDate(d) {
			var hh = d.getUTCHours();
			var mi = d.getUTCMinutes();
			var pm = (hh > 12);
			return '' + (hh <= 9 ? '0' + hh : (hh > 12 ? hh - 12: hh)) + ':' + 
				(mi <= 9 ? '0' + mi : mi) + ' ' +
				(pm ? 'PM' : 'AM');
		}

		// Not all browsers know how to do toISOString() and Django doesn't like T and Z in ISO8601
		function dateToUtcString(d) {
			function pad(n) { return n < 10 ? '0' + n : n }
			return d.getUTCFullYear() + '-'
				+ pad(d.getUTCMonth() + 1) + '-'
				+ pad(d.getUTCDate()) + 'T'
				+ pad(d.getUTCHours()) + ':'
				+ pad(d.getUTCMinutes()) + ':'
				+ pad(d.getUTCSeconds()) + 'Z';
		}

		var duration = 0;
		function validateDateTimes() {
			var startTime = $('#id_from_time').val().trim();
			var endTime = $('#id_to_time').val().trim();
			if (!startDate || !endDate || !startTime || !endTime) {
				return false;
			}

			var startDateTime = startDate;
			setTime(startDateTime, startTime);

			var endDateTime = endDate;
			setTime(endDateTime, endTime);

			// We need the start date and time in ISO8601
			$('#id_when').val(dateToUtcString(startDateTime));

			// And we need duration in minutes
			duration = (endDateTime.valueOf() / 60000) - (startDateTime.valueOf() / 60000);
			if (!duration) {duration = 60;}
			$('#id_duration').val(duration);

			return true;
		}

		///////////////
		// ATTENDEES //
		///////////////
		$('#id_rsvpLimit').bind('change', function() {
			rsvp = $(this);
			if (isNaN(rsvp.val()) || rsvp.val().trim() == '') {
				rsvp.val('0');
			}
		});

		////////////////////
		// INITIALISATION //
		////////////////////
		function loadForm() {
			// Clear Django empty
			$('input[value="None"]').val('');
			if ($('#id_rsvpLimit').val().trim() == '') {
				$('#id_rsvpLimit').val('0');
			}

			// Map
			if ($('#id_lat').val().trim() != '' && $('#id_lon').val().trim() != '') {
				// When loading a page and needing to default the map to a specific set of values.
				restoreLocationState(
					Number($('#id_lat').val().trim()),
					Number($('#id_lon').val().trim()),
					[
						[
							Number($('#id_north').val()),
							Number($('#id_west').val())
						],
						[
							Number($('#id_south').val()),
							Number($('#id_east').val())
						]
					]
				);
			} else {
				// When loading a page with no location information we just default to show London, UK
				map.fitBounds(
					[[51.47860327187397,-0.16805648803710938],[51.5177162373547,-0.0926971435546875]]
				);
			}

			// Dates
			if ($('#id_when').val().trim() != '') {
				// Restore fields
				// We have a date in Django format: 2013-05-02 15:15:00
				var parts = $('#id_when').val().trim().match(/(\d+)/g);

				if (parts.length == 6) {
					tStartDate = new Date(Date.UTC(parts[0], parts[1]-1, parts[2], parts[3], parts[4], parts[5]));
					$('#id_from_date').val(getIsoStringFromDate(tStartDate));
					$('#id_from_time').val(getTimeStringFromDate(tStartDate));

					if ($('#id_duration').val().trim() != '') {
						duration = Number($('#id_duration').val().trim()) * 60000;
						tEndDate = new Date(tStartDate.valueOf() + duration);
						$('#id_to_date').val(getIsoStringFromDate(tEndDate));
						$('#id_to_time').val(getTimeStringFromDate(tEndDate));
					}
				}
			}

			if ($('#id_from_date').val().trim() != "" && $('#id_from_date').val().trim().match(dateReg)) {
				setStartDate(getDateFromIsoString($('#id_from_date').val()));
				$('#id_to_date').datepicker('setStartDate', $('#id_from_date').val());

				if ($('#id_to_date').val().trim() != "" && $('#id_to_date').val().trim().match(dateReg)) {
					setEndDate(getDateFromIsoString($('#id_to_date').val()));
				} else {
					$('#id_to_date').val($('#id_from_date').val());
				}
			} else {
				// Blank form, we can default date pickers to only pick future dates
				var now = new Date()
				now.setDate(now.getDate() + 1);
				var tomorrow = getIsoStringFromDate(now);
				$('#id_from_date').datepicker('setStartDate', tomorrow);
				$('#id_to_date').datepicker('setStartDate', tomorrow);
				$('#id_from_date').val(tomorrow);
				$('#id_to_date').val(tomorrow);
				setStartDate(getDateFromIsoString(tomorrow));
				setEndDate(getDateFromIsoString(tomorrow));
			}

			// Times
			var fromTime = ($('#id_from_time').val().trim() != "") ? $('#id_from_time').val() : 'current';
			var toTime = ($('#id_to_time').val().trim() != "") ? $('#id_to_time').val() : 'current';

			$('#id_from_time')
				.timepicker({"disableFocus": true, "defaultTime": fromTime})
				.on('focus', function() {
					$('#id_from_time').timepicker('showWidget');
				})
				.on('change', function() {
					validateDateTimes();
					if (duration<0) {
						$('#id_to_time').val($('#id_from_time').val());
					}
				});

			$('#id_to_time')
				.timepicker({"disableFocus": true, "defaultTime": fromTime})
				.on('focus', function() {
					$('#id_to_time').timepicker('showWidget');
				})
				.on('change', function() {
					validateDateTimes();
					if (duration<0) {
						$('#id_from_time').val($('#id_to_time').val());
					}
				});

			validateDateTimes();
		}
		loadForm();

		$('#eventForm').submit(function() {
			validateDateTimes();
		});
	</script>
{% endblock %}