{% extends 'base.html' %}

{% block css %}
<!-- Leaflet -->
<link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 8]>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.ie.min.css" />
<![endif]-->
{% endblock %}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-12"></div>
	</div>
	<h1>{% if form.id > 0 %}Edit event{% else %}Start an event{% endif %}</h1>
</div>

<div class="content-body">

	<div class="row form-container">
		<div class="col-xs-12">
			<div class="form-container-inner padded">

				<form class="form-create-event" role="form" action="" method="POST">

					{% csrf_token %}
					{{ form.microcosmId }}
					{{ form.id }}

					{{ form.sticky }}
					{{ form.moderated }}
					{{ form.visible }}
					{{ form.deleted }}


					<!-- Hidden fields hard-coded for integration with the JavaScript UI.
					Check /microcosm/forms/forms.py for what fields should exist. -->
					<input type="hidden" name="lat"      id="id_lat"      value="{{ form.lat.value|default:"" }}" />
					<input type="hidden" name="lon"      id="id_lon"      value="{{ form.lon.value|default:"" }}" />
					<input type="hidden" name="north"    id="id_north"    value="{{ form.north.value|default:"" }}" />
					<input type="hidden" name="east"     id="id_east"     value="{{ form.east.value|default:"" }}" />
					<input type="hidden" name="south"    id="id_south"    value="{{ form.south.value|default:"" }}" />
					<input type="hidden" name="west"     id="id_west"     value="{{ form.west.value|default:"" }}" />

					<input type="hidden" name="when"     id="id_when"     value="{{ form.when.value|date:"c\Z" }}" />
					<input type="hidden" name="duration" id="id_duration" value="{{ form.duration.value }}" />

					{# title #}
					<div class="form-group">
						<div class="row">
							<label class="col-sm-12" for="title">
								{{ form.title.label }}
							</label>

							<div class="col-sm-12">
								{% if form.errors.title %}
									<div class="text-error">{{ form.errors.title.as_text }}</div>
								{% endif %}
								<input
									type="text"
									class="form-control"
									id="title"
									name="{{ form.title.name }}"
									value="{{ form.title.value|default:"" }}"
									placeholder="Title of event"
									maxlength="150"
								/>
							</div>
						</div>
					</div> <!-- /form-group -->

					{# reason #}
					{% if form.id > 0 %}
					<div class="form-group">
						<div class="row">
							<label class="col-sm-12" for="editReason">
								{{ form.editReason.label }}
							</label>
							<div class="col-sm-12">
								{% if form.errors.editReason %}
									<div class="text-error">{{ form.errors.editReason.as_text }}</div>
								{% endif %}
								<input
									type="text"
									class="form-control {% if form.errors.editReason %}error{% endif %}"
									id="editReason"
									name="{{ form.editReason.name }}"
									placeholder="Reason for editing"
									maxlength="150"
								/>
							</div>
						</div>
					</div> <!-- /form-group -->
					{% endif %}

				<div class="event-form-dates">

					{# event date options #}
					<div class="form-group">
						<div class="row" id="event-date-type-options">
							<label class="col-sm-12">When does your event begin?</label>
							{% if form.errors.when %}
								<div class="text-error">{{ form.errors.when.as_text }}</div>
							{% endif %}
							<div class="col-sm-3 col-lg-2">
								<div class="radio">
									<label>
										<input
											type="radio"
											id="date-type"
											name="date-type"
											value="1"
											checked="checked"
										/> Single day
									</label>
								</div>
							</div>
							<div class="col-sm-3 col-lg-2">
								<div class="radio">
									<label>
										<input type="radio" id="date-type" name="date-type" value="2" /> Multiple days
									</label>
								</div>
							</div>
							<div class="col-sm-3 col-lg-2">
								<div class="radio">
									<label>
										<input type="radio" id="date-type" name="date-type" value="0" />
										<abbr title="To Be Announced - select this option if you have not yet set a date">TBA</abbr>
									</label>
								</div>
							</div>
						</div>
					</div> <!-- /form-group -->



					{# event date start #}
					<div class="form-group form-datepicker">
						<div class="row">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-12">
										<div id="event-start-calendar">
											<div class="event-start-calendar-label">Start</div>
											<div class="event-start-calendar-contents"  data-date="2013-01-01"></div>
										</div>
									</div>
									<div class="col-sm-12">
											<select id="event-start-calendar-start-time" class="event-time">
												{# hacky way to do it. Please improve as and when time is available. - jim #}
												{% for hour in '123456789012345678901234'%}
													{% for minute in '1234'%}
														<option>
															{% if forloop.parentloop.counter0 <= 9 %}0{% endif %}{% if forloop.parentloop.counter0 > 12 %}{{ forloop.parentloop.counter0|add:"-12" }}{% else %}{{ forloop.parentloop.counter0 }}{% endif %}:{% cycle '00' '15' '30' '45' %}
															{% if forloop.parentloop.counter0 > 11 %}
															PM
															{%else%}
															AM
															{% endif %}
														</option>
													{% endfor %}
												{% endfor %}
											</select>
											<span class="form-datepicker-single">to</span>
											<select class="form-datepicker-single event-time" id="event-start-calendar-end-time">
												{% for hour in '123456789012345678901234'%}
													{% for minute in '1234'%}
														<option>
															{% if forloop.parentloop.counter0 <= 9 %}0{% endif %}{% if forloop.parentloop.counter0 > 12 %}{{ forloop.parentloop.counter0|add:"-12" }}{% else %}{{ forloop.parentloop.counter0 }}{% endif %}:{% cycle '00' '15' '30' '45' %}
															{% if forloop.parentloop.counter0 > 11 %}
															PM
															{%else%}
															AM
															{% endif %}
														</option>
													{% endfor %}
												{% endfor %}
											</select>
										</div>
								</div>
							</div>

							{# event date end #}
							<div class="col-sm-6 form-datepicker form-datepicker-multiple">
								<div class="row">
									<div class="col-sm-12">
										<div id="event-end-calendar">
											<div class="event-start-calendar-label">Finish</div>
											<div class="event-start-calendar-contents" data-date="2013-01-01"></div>
										</div>
									</div>
									<div class="col-sm-12">
											<select id="event-end-calendar-end-time" class="event-time">
												{% for hour in '123456789012345678901234'%}
													{% for minute in '1234'%}
														<option>
															{% if forloop.parentloop.counter0 <= 9 %}0{% endif %}{% if forloop.parentloop.counter0 > 12 %}{{ forloop.parentloop.counter0|add:"-12" }}{% else %}{{ forloop.parentloop.counter0 }}{% endif %}:{% cycle '00' '15' '30' '45' %}
															{% if forloop.parentloop.counter0 > 11 %}
															PM
															{%else%}
															AM
															{% endif %}
														</option>
													{% endfor %}
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					<!-- /form-group -->

				</div>

					<div class="clearfix"></div>

					{# event location options #}
					<div class="form-group">
						<div class="row" id="location-options">
							<label class="col-sm-12">Where is your event being held?</label>

							<div class="col-sm-4 col-lg-3">
								{% if form.errors.where %}
										<div class="text-error">{{ form.errors.where.as_text }}</div>
								{% endif %}
								<div class="radio">
									<label>
										<input type="radio" name="location-type" value="1" checked="checked" /> Enter a location
									</label>
								</div>
							</div>
							<div class="col-sm-4 col-lg-3">
								<div class="radio">
									<label>
										<input type="radio" name="location-type" value="0"/>
										<abbr title="To Be Announced - select this option if you have not yet set a location">TBA</abbr>
									</label>
								</div>
							</div>
						</div>
					</div> <!-- /form-group -->

					{# event location #}
					<div class="form-group form-location">
						<div class="row">
							<div class="col-sm-6">
								<div id="location-control">
								{% spaceless %}
									<textarea
										id="location"
										class="form-control event-location-textarea"
										name="{{ form.where.name }}"
										placeholder="Eg. Street, station, landmark, country..."
										maxlength="150"
									>
									{{ form.where.value|default:"" }}
									</textarea>
								{% endspaceless %}
									<div class="row">
										<div class="col-sm-5 col-sm-offset-7">
											<a
												href="javascript:void 0"
												id="locate"
												class="btn btn-block btn-default"
											>Show on map</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="event-form-map">
									<div id="map-canvas"></div>
								</div>
							</div>

						</div>
					</div> <!-- /form-group -->

					{# event attendees #}
					<div class="form-group attendee-options">
						<div class="row">
							<label class="col-sm-12" for="location">
								{{ form.rsvpLimit.label }}
							</label>
							<div class="col-sm-2">
								{% if form.errors.rsvpLimit %}
										<div class="text-error">{{ form.errors.rsvpLimit.as_text }}</div>
									{% endif %}
								<div class="radio">
									<label>
										<input
											type="radio"
											name="attendee-limit-option"
											value="0"
											{% if not form.rsvpLimit.value %}checked="checked"{% endif %}
										/> No limit
									</label>
								</div>

							</div>
							<div class="col-sm-5">
								<div class="row">
									<div class="col-xs-9">
										<div class="radio">
											<label>
												<input
													type="radio"
													name="attendee-limit-option"
													value="1"
													{% if form.rsvpLimit.value %}checked="checked"{% endif %}
												/> Max number of attendees is
											</label>
										</div>
									</div>
									<div class="col-xs-3">
										<input
											type="number"
											class="form-control"
											name="{{ form.rsvpLimit.name }}"
											min="1"
											max="999"
											value="{{ form.rsvpLimit.value|default:"0" }}"
											{% if not form.rsvpLimit.value %}disabled="disabled"{% endif %}
										/>
									</div>
							</div>
						</div>
					</div>

				</div> <!-- /form-group -->


				{# event invites #}
				<div class="form-group">
					<div class="row">

						<label class="col-sm-12" for="invite"><span>Optional.</span> Do you wish to invite others to your event?</label>

						<input type="hidden" name="invite" value="" />

						<div class="col-sm-12">
							<div class="list-participants"></div>
						</div>

						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-addon">
									<span class="sprite sprite-search-small"></span>
								</div>
								<input id="invite" class="form-control" placeholder="Type in a user's name" autocomplete="off"/>
							</div>
						</div>

					</div>
				</div> <!-- /form-group -->

				{# comment #}
				<div class="form-group">
					<div class="row">
						<label class="col-sm-12" for="reply-box-textarea">What is it you want to say?</label>
						<div class='col-sm-12'>

							<div class="reply-box">
								<ul>
									<li class="se-bold"><strong>Bold</strong></li>
									<li class="se-italics"><i>Italics</i></li>
									<li class="se-quote">Quote</li>
									<li class="se-link"><span class="sprite sprite-format-link"></span> Link</li>
									<li class="se-list"><span class="sprite sprite-format-list"></span> List</li>
									<li class="se-image"><span class="sprite sprite-format-img"></span> Image</li>
								</ul>

								<textarea
									id="reply-box-textarea"
									name="firstcomment"
									placeholder="Enter your text here..."
									maxlength="5000"
								></textarea>
								<div class="reply-box-footer">
									<a href="javascript:void 0">
										<span class="sprite sprite-help-small"></span>
										Formatting help
									</a>
								</div>
						</div> <!-- /reply-box -->


						</div>
					</div>
				</div> <!-- /form-group -->


			</div> <!-- /form-container-inner -->

				<div class="form-group form-footer padded">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-footer-buttons">
								<input type="submit" class="btn btn-lg btn-primary" value="Create event">
								<input type="reset" class="btn btn-lg btn-default" value="Cancel">
							</div>
						</div>
					</div>
				</div>
			</form>


		</div>
	</div>
</div>

<div class="row content-footer">
</div>

{% endblock %}
{% block sidebar %}
	{# if content.meta.permissions.create #}
		<div class="metabar-module">
			<h5>Got something to add?</h5>
			<div class="metabar-module-primary-buttons">
				<a href="{% url 'create-conversation' microcosm_id %}" class="btn btn-large btn-block btn-primary">
					<span class="sprite sprite-speech-bubble-small"></span> Start a conversation
				</a>
				<a href="{% url 'create-event' microcosm_id %}" class="btn btn-large btn-block btn-primary">
					<span class="sprite sprite-calendar-small"></span> Start an event
				</a>
			</div>
		</div> <!-- primary actions -->
	{# endif #}


{% endblock %}

{% block js %}


<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.js"></script>
<script src="https://maps.google.com/maps/api/js?v=3.2&key=AIzaSyAQiDoalPm41b4e-tuIecK39xoaPPV5k3E&sensor=false"></script>

<script src="{{ STATIC_URL }}js/leaflet.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/eventFormClasses.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/simpleEditor.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/peopleWidget.js"></script>
<script type="text/javascript">
(function(){

	////////////////////
	//  event map   //
	///////////////////
	var formMap = new EventFormMap({
		el : '.event-form-map',
		mappings : {
			'lat'   : { el : 'input[name=lat]',   value : {{ form.lat.value|default:"null" }}   },
			'lng'   : { el : 'input[name=lon]',   value : {{ form.lon.value|default:"null" }}   },
			'north' : { el : 'input[name=north]', value : {{ form.north.value|default:"null" }} },
			'south' : { el : 'input[name=east]',  value : {{ form.east.value|default:"null" }}  },
			'east'  : { el : 'input[name=south]', value : {{ form.south.value|default:"null" }} },
			'west'  : { el : 'input[name=west]',  value : {{ form.west.value|default:"null" }}  }
		}
	});

	{% if form.lat.value and form.lon.value %}
	formMap.restore(
		{{ form.lat.value|default:"null" }},
		{{ form.lon.value|default:"null" }},
		[
			[ {{ form.north.value|default:"null" }}, {{ form.west.value|default:"null" }} ],
			[ {{ form.south.value|default:"null" }}, {{ form.east.value|default:"null" }} ]
		]
	)
	{% else %}
	formMap.map.fitBounds(
		[
			// london
			[51.47860327187397,-0.16805648803710938],
			[51.5177162373547,-0.0926971435546875]
		]
	);
	{% endif %}

	window.formMap = formMap; // make accessible to other scripts

	////////////////////
	//  event dates   //
	///////////////////
	var formDates = new EventDateForm({
		el       : '.event-form-dates',

		{% if form.when.value %}
		startDate : '{{ form.when.value }}',
		{% endif %}

		{% if form.duration.value %}
		duration  : {{ form.duration.value|floatformat:"0" }},
		{% endif %}

		// controls
		controls : {
			start_calendar            : '#event-start-calendar .event-start-calendar-contents',
			start_calendar_start_time : '#event-start-calendar-start-time',
			start_calendar_end_time   : '#event-start-calendar-end-time',
			end_calendar              : '#event-end-calendar .event-start-calendar-contents',
			end_calendar_end_time     : '#event-end-calendar-end-time'
		},

		form : {
			when      : 'input[name=when]',
			duration  : 'input[name=duration]'
		}

	});


	/////////////////////////////
	//  event attendees limit  //
	/////////////////////////////

	var formAttendees = new AttendeesForm({
		el        : '.attendee-options',
		choices   : 'input[name=attendee-limit-option]',
		attendees : 'input[name={{ form.rsvpLimit.name }}]'
	});


})();
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/eventForm.js"></script>
{% endblock %}