{% extends 'base.html' %}
{% block content %}

	<div class="content-header padded">
		<div class="row">
			<div class="col-sm-12">
			{% include 'breadcrumbs.html' %}
			</div>
		</div>
		<h1>Huddles</h1>
	</div>

	<div class="content-body">
		<div class="row form-container">
			<div class="col-lg-12">
				<div class="form-container-inner padded">

					<form role="form" action="" method="POST">
						{% csrf_token %}
						{{ form.id }}

						<input type="hidden" name="invite" value="" />
						{# title #}
						<div class="form-group">
							<div class="row">

								<label class="col-sm-12" for="title">
									{{ form.title.label }}
								</label>
								<div class="col-sm-12">
									{% if form.errors.title %}
										<div class="text-error">{{ form.errors.title.as_text }}</div>
									{% endif %}
									<input
										type="text"
										class="form-control"
										id="title"
										name="{{ form.title.name }}"
										placeholder="Title of huddle"
										maxlength="150"
									/>
								</div>

							</div>
						</div> <!-- /form-group -->


						{# invite #}
						<div class="form-group">
							<div class="row">

								<label class="col-sm-12" for="invite">Who will join this huddle?</label>

								<div class="col-sm-12">
									<div class="list-participants"></div>
								</div>
								<div class="col-sm-6">

									<div class="input-group">
										<div class="input-group-addon">
											<span class="sprite sprite-search-small"></span>
										</div>
										<input
											id="invite"
											class="form-control"
											autocomplete="off"
											placeholder="Type in a user's name"
										/>
									</div>
								</div>

							</div>
						</div> <!-- /form-group -->

						{# comment #}
						<div class="form-group">
							<div class="row">

								<label class="col-sm-12" for="reply-box-textarea">What is it you want to say?</label>
								<div class="col-sm-12">

									<div class="reply-box">
											<ul>
												<li class="se-bold"><strong>Bold</strong></li>
												<li class="se-italics"><i>Italics</i></li>
												<li class="se-quote">Quote</li>
												<li class="se-link"><span class="sprite sprite-format-link"></span> Link</li>
												<li class="se-list"><span class="sprite sprite-format-list"></span> List</li>
												<li class="se-image"><span class="sprite sprite-format-img"></span> Image</li>
											</ul>
											<textarea id="reply-box-textarea"
																name="firstcomment"
																placeholder="Enter your text here..."></textarea>
											<div class="reply-box-footer">
												<div class="reply-box-attachments">
													<div class="reply-box-attachments-gallery"></div>
													<span class="reply-box-drop-zone">Drag your files into this area</span> or
													<label for="reply-box-attachments">
														upload a file
													</label>
													<input type="file" id="reply-box-attachments" name="attachments" multiple/>
												</div>
												<a href="javascript:void 0" class="formatting-help-handle">
													<span class="sprite sprite-help-small"></span>
													Formatting help
												</a>
											</div>
										</div>
								</div>

							</div>
						</div> <!-- /form-group -->

						<div class="form-group form-group-highlighted">
							<div class="row">
								<label class="col-sm-12">Is this huddle confidential?</label>
								<div class="col-sm-12">
									<p>
										Confidential huddles disable the ability to invite more people later on.
									</p>
									<p>
										<label>
											<input type="radio" name="confidential" value="yes" /> Yes
										</label>
										<label>
											<input type="radio" name="confidential" value="no" /> No
										</label>
									</p>
								</div>
							</div>
						</div>

				</div> <!-- /form-container-inner -->


				{# footer #}
				<div class="form-group form-footer padded">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-footer-buttons">
								<input type="submit" class="btn btn-lg btn-primary" value="Start Huddle">
								<input type="reset" class="btn btn-lg btn-default" value="Cancel">
							</div>
						</div>
					</div>
				</div> <!-- /form_footer -->

			</form>
		</div>
	</div>

</div>

{% endblock %}

{% block sidebar %}

<div class="metabar-module">
	<h5>About</h5>
	<div class="metabar-module-title">
		<h3>
			Huddles
		</h3>
		<p>
			Start private sessions with other members of the community.
		</p>
	</div>
</div> <!-- / about -->


{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/formValidator.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/attachments.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/simpleEditor.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/peopleWidget.js"></script>
<script type="text/javascript">
(function(){

	var commentBox = new simpleEditor({
		el : '.reply-box'
	});

	var subdomain = $('meta[name="subdomain"]').attr('content');

	var participating = new Participating({
		el         : '.list-participants',
		className  : 'list-people list-people-sm',
		static_url : subdomain
	});

	var peopleWidget = new PeopleWidget({
		el         : '#invite',
		is_textbox : true,
		static_url : subdomain,
		dataSource : subdomain + '/api/v1/profiles?disableBoiler&top=true&q='
	});

	// update the hidden input box
	var invite_input_field = $('input[name="invite"]');
	var updateInvitedField = function(){
		invite_input_field.val(peopleWidget.invitedListToDelimitedString());
	};

	// triggers when user clicks on a person in the autocomplete dropdown
	peopleWidget.onSelection(function(invited){
		if (invited.length > 0){
			participating.render(invited).show();
		}else{
			participating.hide();
		}
		peopleWidget.show();
		updateInvitedField();
	});

	// triggers when the user clicks on a person in the participants list
	participating.$el.on('click', 'li', function(e){
		var id = e.currentTarget.rel;
		peopleWidget.removePersonFromInvitedById(id).render();
		if (peopleWidget.people_invited.length>0){
			participating.render(peopleWidget.people_invited).show();
		}else{
			participating.hide();
		}
		updateInvitedField();
	});

})();
</script>
{% endblock%}