{% extends 'base.html' %}

{% block title %}Create a membership group | {{ site.title | safe }}{% endblock title %}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-8">
      {% include 'breadcrumbs.html' %}
    </div>
	</div>
	<h1>Create a Membership Group</h1>
</div>

<div class="content-body">

	<div class="row form-container">
		<div class="col-lg-12">
			<div class="form-container-inner padded">
				<form role="form" id="createForm">

					<div class="form-group">
						<div class="row">
							<h3 class="col-sm-12">
								What is the name of this membership group?
							</h3>
						</div>

						<div class="row">
							<label class="col-sm-12" for="name">Please enter a name for the group:</label>
							<div class="col-sm-12 row-meta">
								<p class="alert-warning">Tip: A good name describes the role people within the group, i.e. "guests", "members", "banned", "moderators", "committee members", etc.</p>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" id="name" name="name" placeholder="Name of group" />
							</div>
						</div>
					</div> <!-- /form-group -->

					<div class="form-group">
						<div class="row">
							<h3 class="col-sm-12">
								Who is in this group?
							</h3>
						</div>
						<div class="row">
							<label class="col-sm-12">
								<h4>Include people automatically:</h4>
							</label>
							<div class="col-md-6">
								<ul class="list-toggles">
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">All signed-in users</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="include_registered"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="include_registered"></label>
											</button>
										</div><!-- /form-group -->
									</li>
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">All unregistered / guests users</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="include_unregistered"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="include_unregistered"></label>
											</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-12">
								<h4>Include people that match the following criteria:</h4>
							</label>
							<div class="col-sm-12 row-meta">
								<p class="alert-warning">Tip: Use criteria to manage a large number of people. This allows you to re-use these criterion on other subforums and makes it easy to manage permissions for a large number of people across many subforums.</p>
							</div>
							<div class="form-widget criteria-list">
								<div class="form-widget-empty-state">
									No criteria is set for this group.
									<a href="javascript:void 0">Add a criteria for users to join this group</a>
								</div>
								<div class="form-widget-list"></div>
								<div class="form-widget-inlineform">
									<label>Add a criteria</label>

									<div class="btn-group btn-group-xs toggle">
										<button type="button" class="btn btn-default">
											<label class="active">And <input type="radio" value="and" name="switch" checked="checked"></label>
										</button>
										<button type="button" class="btn btn-default">
											<label>Or <input type="radio" value="or" name="switch"></label>
										</button>
									</div>

									<select name="condition" class="form-control first">
										<option value="commentCount">Comment count</option>
										<option value="created">Join Date</option>
										<option value="profileName">Profile Name</option>
										<option value="">Custom Attribute</option>
									</select>

									<span>is</span>

									<select name="predicate" class="form-control last">
										<option value="gt">Greater than</option>
										<option value="ge">Greater than or equals</option>
										<option value="eq">Equals</option>
										<option value="le">Less than or equals</option>
										<option value="lt">Less than</option>
										<option value="neq">Not equal to</option>
										<option value="substr">Contains</option>
										<option value="nsubstr">Does not contain</option>
									</select>

									<input type="text" class="form-control" name="value" placeholder="Value"/>

									<button type="button" class="btn btn-primary submit">Add</button>
								</div>
							</div><!-- /form-widget -->
						</div>
						<div class="row">
							<label class="col-sm-12">
								<h4>Include these individuals:</h4>
							</label>
							<div class="col-sm-12 row-meta">
								<p class="alert-warning">Tip: Use this method to add named individuals to specific subforums, this works best on small groups for one-off permissions such as a subforum for an organising committee.</p>
							</div>
							<div class="col-sm-12">
								<!-- <div class="list-participants"></div> -->

								<div class="list-participants" style="display: none">
									<ul class="list-people list-people-sm">
									<!--
										<li>
											<a id="6"><img src="https://dev1.microco.sm/api/v1/files/17d40c20956ab63266d6ae67c76bdbda4ebd264a">Velocio<span class="remove">×</span></a>
										</li>
									-->
									</ul>
								</div>

							</div>
							<div class="col-sm-12">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="sprite sprite-search-small"></span>
									</div>
									<input id="invite" class="form-control" autocomplete="off" placeholder="Type in a user's name"/>
									<input name="invite" type="hidden" />
								</div>

							</div>
						</div>
					</div> <!-- /form-group -->

					<div class="form-group">
						<div class="row">
							<h3 class="col-sm-12">
								What are these people able to do?
							</h3>
						</div>
						<div class="row">
							<label class="col-sm-12">
								Special permissions:
							</label>
							<div class="col-md-10">
								<ul class="list-toggles">
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">People in this group are <span class="green bold">responsible for moderating</span> this forum</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="is_moderator"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="is_moderator"></label>
											</button>
										</div>
									</li>
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">People in this group are <span class="red bold">banned</span> and cannot see this forum or interact with it</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="is_banned"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="is_banned"></label>
											</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<label class="col-sm-12">
								Specific permissions:
							</label>
							<div class="col-md-10">
								<ul class="list-toggles">
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">User can access and read this forum</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="can_read"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="can_read"></label>
											</button>
										</div>
									</li>
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">User can create, edit and delete their own conversations, events and comments</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="can_create"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="can_create"></label>
											</button>
										</div>
									</li>
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">User can edit conversations, events and comments of others</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="can_edit_others"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="can_edit_others"></label>
											</button>
										</div>
									</li>
									<li>
										<span class="list-toggles-marker"></span>
										<span class="list-toggles-text">User can delete conversations, events and comments of others</span>
										<div class="btn-group btn-group-xs pull-right">
											<button type="button" class="btn btn-default">
												<label>Yes <input type="radio" value="1" name="can_delete_others"></label>
											</button>
											<button type="button" class="btn btn-default">
												<label>No <input type="radio" value="0" name="can_delete_others"></label>
											</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div> <!-- /form-group -->

				</div> <!-- /form-container-inner -->

				<div class="form-group form-footer padded">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-footer-buttons">
								<input type="submit" class="btn btn-lg btn-primary" value="Create group"/>
								<a href="{% url 'list-memberships' content.id %}" class="btn btn-lg btn-default">Cancel</a>
							</div>
						</div>
					</div>
				</div> <!-- form-footer -->

			</form>

		</div>
	</div>
</div>

{% endblock content %}
{% block sidebar %}

<div class="metabar-module">
	<h5>About</h5>
	<div class="metabar-module-title">
		<h3>
			Create a new membership group
		</h3>
		<p>A membership group is a group of people that have collectively been granted some permissions.</p>
		<p>By default a person has no permission to do anything at all, and permission is granted through membership of one or more membership groups.</p>
		<p>To create a semi-private forum (not indexable by Google or visible to those not signed-in) do not create any membership group that contains guests and has "read" permission. But do create a membership group that contains signed-in users and has "read" permission.</p>
		<p>To create a truly private forum, do not add guests or signed-in users, and rely solely on the criteria and named individuals to grant permissions.</p>
	</div>
</div> <!-- / about -->


{% endblock %}



{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/peopleWidget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/membership_form.js"></script>

<script type="text/javascript">
var role = new Role(
	{
		criteria   : '.criteria-list',
		individuals: '.list-participants',
		mappings   : {
			'name'         : {el: 'input[name=name]',                 value: "" },
			'members'      : {el: 'input[name=invite]',               value: "" },
			'includeUsers' : {el: 'input[name=include_registered]',   value: "0" },
			'includeGuests': {el: 'input[name=include_unregistered]', value: "0" },
			'isModerator'  : {el: 'input[name=is_moderator]',         value: "0" },
			'isBanned'     : {el: 'input[name=is_banned]',            value: "0" },
			'canRead'      : {el: 'input[name=can_read]',             value: "0" },
			'canCreate'    : {el: 'input[name=can_create]',           value: "0" },
			'canEdit'      : {el: 'input[name=can_edit_others]',      value: "0" },
			'canDelete'    : {el: 'input[name=can_delete_others]',    value: "0" }
		}
	},
	[
		{profileColumn:"commentCount", key:null, predicate:"gt", value:1000},
	]
);
role.updateForm();
</script>
{% endblock %}