{% extends 'base.html' %}

{% block title %}{% if form.id > 0 %}Edit this microcosm{% else %}Create a microcosm{% endif %} | {{ site.title }}{% endblock title %}

{% block content %}
	{% if form.id > 0 %}
		<h1>Edit this microcosm</h1>
	{% else %}
		<h1>Create a microcosm</h1>
	{% endif %}

	<form action="" method="POST" id="microcosm-form" role="form">{% csrf_token %}
		{{ form.siteId.value }}
		{{ form.id }}
		
		<div>
			<label for="id_title">{{ form.title.label }}</label>
			{{ form.title }}
			{% if form.errors.title %}
				<div class="text-error">{{ form.errors.title.as_text }}</div>
			{% endif %}
		</div>

		<div>
			<label for="id_description">{{ form.description.label }}</label>
			{{ form.description }}
			{% if form.errors.description %}
				<div class="text-error">{{ form.errors.description.as_text }}</div>
			{% endif %}
		</div>
		
		{{ form.visibility }}

		{% if form.id > 0 %}
			<div>
				<label for="id_editReason">{{ form.editReason.label }}</label>
				{{ form.editReason }}
				{% if form.errors.editReason %}
					<div class="text-error">{{ form.errors.editReason.as_text }}</div>
				{% endif %}
			</div>
		{% endif %}

		<div>
			<input class="btn btn-primary pull-right" id="submit" type="submit" value="Save Microcosm">
		</div>
	</form>
{% endblock %}

{% block js %}
	<script src="{{ STATIC_URL }}js/md5.min.js"></script>
	<script type="text/javascript">
		function isEmpty(e) {
			return (e.val().trim() == '');
		}
		function checkEmpty(e) {
			if (isEmpty($(e))) {
				addError($(e))
			} else {
				removeError($(e))
			}
		}
		function addError(e) {
			e.parent().addClass('has-error')
		}
		function removeError(e) {
			e.parent().removeClass('has-error')
		}

		$('#id_title,#id_description').on('change', function() {
			checkEmpty(this);
		}).on('blur', function() {
			checkEmpty(this);
		});

		$('#microcosm-form').submit(function() {
			if (isEmpty($('#id_title'))) {
				addError($('#id_title'))
				return false;
			}
			if (isEmpty($('#id_description'))) {
				addError($('#id_description'))
				return false;
			}

			// Client-side dupe check
			md5 = hex_md5($('#id_title').val() + $('#id_description').val())
			if (this.md5 && this.md5 == md5) {
				return false
			}
			this.md5 = md5;

			return true;

		});

		$(document).ready(function() {
			$('#id_title,#id_description,#id_visibility,#id_editReason').addClass('form-control').parent().addClass('form-group');
		});
	</script>
{% endblock %}
