{% extends 'base.html' %}

{% block title %}{% if form.id > 0 %}Edit this forum{% else %}Create a forum{% endif %} | {{ site.title | safe }}{% endblock title %}

{% block content %}

	<div class="content-header padded">
		<div class="row">
			<div class="col-sm-12">
			</div>
		</div>
		<h1>
			{% if form.id > 0 %}
			Edit a forum
			{% else %}
			Create a forum
			{% endif %}
		</h1>
	</div>

	<div class="content-body">

		<div class="row form-container">
			<div class="col-lg-12">
				<div class="form-container-inner padded">
					<form role="form" action="" method="POST" id="microcosmForm">
						{% csrf_token %}
						{{ form.siteId.value }}
						{{ form.id }}

						{# title #}
						<div class="form-group">
							<div class="row">

								<label class="col-sm-12" for="title">
									{{ form.title.label }}
								</label>
								<div class="col-sm-12 {% if form.errors.title %}has-error{%endif%}">
									{% if form.errors.title %}
										<label class="control-label">{{ form.errors.title.as_text }}</label>
									{% endif %}
									<input
										type="text"
										class="form-control {% if form.errors.title %}error{% endif %}"
										id="title"
										name="{{ form.title.name }}" placeholder="Title of forum"
										maxlength="{{ form.fields.title.max_length }}"
										value="{{ form.title.value|default:"" }}"
									/>
								</div>

							</div>
						</div> <!-- /form-group -->


						{# description #}
						<div class="form-group">
							<div class="row">

								<label class="col-sm-12" for="title">
									{{ form.description.label }}
								</label>
								<div class="col-sm-12 {% if form.errors.description %}has-error{%endif%}">
									{% if form.errors.description %}
										<label class="control-label">{{ form.errors.description.as_text }}</label>
									{% endif %}
									<input
										type="text"
										class="form-control {% if form.errors.description %}error{% endif %}"
										id="description"
										name="{{ form.description.name }}" placeholder="Description of forum"
										maxlength="{{ form.fields.description.max_length }}"
										value="{{ form.description.value|default:"" }}"
									/>
								</div>

							</div>
						</div> <!-- /form-group -->

						{{ form.visibility }}

						{# reason #}
						{% if form.id > 0 %}
						<div class="form-group">
							<div class="row">
								<label class="col-sm-12" for="editReason">
									{{ form.editReason.label }}
								</label>
								<div class="col-sm-12">
									{% if form.errors.editReason %}
										<label class="control-label">{{ form.errors.editReason.as_text }}</label>
									{% endif %}
									<input
										type="text"
										class="form-control {% if form.errors.editReason %}error{% endif %}"
										id="editReason"
										name="{{ form.editReason.name }}"
										placeholder="Reason for editing"
									/>
								</div>
							</div>
						</div> <!-- /form-group -->
						{% endif %}

					</div> <!-- /form-container-inner -->

					<div class="form-group form-footer padded">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-footer-buttons">
									<input id="submit" type="submit" class="btn btn-lg btn-primary" value="Save forum">
									<input type="reset" class="btn btn-lg btn-default" value="Cancel">
								</div>
							</div>
						</div>
					</div> <!-- /form_footer -->
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/formValidator.js"></script>
<script type="text/javascript">

var form = new FormValidator(
	document.getElementById('microcosmForm'),
	{
		rules : {
			'{{ form.title.name }}' 		 : ['not_empty','maxlength'],
			'{{ form.description.name }}': ['not_empty','maxlength']
		},
		tests : {
			'maxlength' : function(field){ var $field = $(field); return $field.val().length < parseInt($field.attr('maxlength'),10); }
		},
		error_messages : {
			'{{ form.title.name }}:not_empty' : "* {{ form.fields.title.error_messages.required }}",
			'{{ form.title.name }}:maxlength' : "* {{ form.fields.title.error_messages.max_length }}",
			'{{ form.description.name }}:not_empty' : "* {{ form.fields.description.error_messages.required }}",
			'{{ form.description.name }}:maxlength' : "* {{ form.fields.description.error_messages.max_length }}",
		}
	}
);
</script>
{% endblock %}
