{% extends 'base.html' %}

{% block content %}

    <div class="content-header padded">
        <div class="row">
            <div class="col-sm-8">
                {% include 'breadcrumbs.html' %}
            </div>
        </div>
        <h1>Move {{ content.title }} to:</h1>
    </div>

    <div class="content-body">
        <div class="row form-container">
            <div class="col-xs-12">
                <form id="moveForm" role="form" action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="item_type" value="{{ item_type }}" />
                    <input type="hidden" name="item_id" value="{{ content.id }}" />
                    <select name="microcosm_id">
                        {% for m in microcosms.microcosms.items %}
                        <option value="{{ m.id }}">{{ m.title }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}