{% if user %}
  <div class="subscribe {% if content.meta.flags.watched %}active{% endif %}">

  <form method="POST" action="" id="subscribe_form">
    {% csrf_token %}
    <input type="hidden" name="update_type_id" value="1">

    <button id="subscribe_button" class="btn btn-xsmall btn-primary {% if content.meta.flags.watched %}btn-success{% endif %}">
      <span class="sprite sprite-ok-small"></span>
      <strong>
        {% if content.meta.flags.watched %}Added to updates{%else%}Subscribe{% endif %}
      </strong>
    </button>

  </form>

    <div class="subscribe-meta" {% if content.meta.flags.watched %}style="display: block;"{% else %}style="display: none;"{% endif %}>
      <form method="POST" action="" id="email_me_form">
      {% csrf_token %}
      <span class="sprite sprite-arrow-right"></span>
        <label><input type="checkbox" id="emailme" {% if content.meta.flags.sendEmail %} checked{% endif %} /> Instantly notify me by email</label>
      </form>
    </div>
  </div>
{% endif %}

