{% extends 'base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active"><a href='/notifications'>Notifications</a></li>
    </ol>
{% endblock %}

{% block content %}
    <section class="row margin-bottom-half">
    <h1>Notifications</h1>
    </section>
    {% if not content.alerts.items %}
        <p>No notifications yet. When your username is mentioned or a new comment is posted on an item you're watching, it'll show here.</p>
    {% else %}
        {% include "pagination_nav.html" %}
        {% for alert in content.alerts.items %}
            <section class="row">
                <div class="col col-sm-10">
                    <span{% if not alert.viewed %} class="unread"{% endif %}>
                        <a href="{{ alert.item_link }}">
                        {% if alert.item_type == "conversation" or alert.item_type == "event" %}
                        	{{ alert.item.title }}
                        {% elif alert.item_type == "comment" %}
                            {{ alert.data }}
                        {% endif %}
                        </a>
                    </span>
                </div>
                <div class="col col-sm-4">
                    <span class="text-muted"><time datetime="{{ alert.created|date:"c" }}"></time></span>
                </div>
                <div class="col col-sm-2">
                    {% if not alert.viewed %}
                    <form method="POST" action="{% url 'mark-notification-viewed' alert.id %}">
                        {% csrf_token %}
                        <input type="submit" value="✔" class="btn btn-small" />
                    </form>
                    {% endif %}
                </div>
            </section>
        {% endfor %}
        <hr />
        {% include "pagination_nav.html" %}
    {% endif %}
{% endblock %}

{% block sidebar%}
{% endblock%}
