{% extends 'base.html' %}

{% block content %}
    <section class="row margin-bottom-half">
        <h1>Notification Settings</h1>
        <p class="text-muted">Configure which notifications you receive with the controls below.</p>
    </section>
        {% for preference in content %}
            {% if preference.alert_type_id == 1 %}
            <section class="row">
                <div class="col col-sm-10">
                    <span>A new comment is posted on an item you're watching</span>
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="alert_type_id" value="1">
                    <div class="col col-sm-2">
                        Notify me<br> <input name="receive_alert" type="checkbox" {% if preference.receive_alert %}checked="true"{% endif %}>
                    </div>
                    <div class="col col-sm-2">
                        Email me<br> <input name="receive_email" type="checkbox" {% if preference.receive_email %}checked="true"{% endif %}>
                    </div>
                    <div class="col col-sm-2">
                        <input type="submit" value="Save" class="btn btn-primary btn-small" />
                    </div>
                </form>
            </section>
            <hr />
            {% endif %}
            {% if preference.alert_type_id == 3 %}
            <section class="row">
                <div class="col col-sm-10">
                    <span>Your username is mentioned in a comment</span>
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="alert_type_id" value="3">
                    <span class="col col-sm-2">
                        Notify me<br> <input name="receive_alert" type="checkbox" {% if preference.receive_alert %}checked="true"{% endif %}>
                    </span>
                    <div class="col col-sm-2">
                        Email me<br> <input name="receive_email" type="checkbox" {% if preference.receive_email %}checked="true"{% endif %}>
                    </div>
                    <div class="col col-sm-2">
                        <input type="submit" value="Save" class="btn btn-primary btn-small" />
                    </div>
                </form>
            </section>
            <hr />
            {% endif %}
        {% endfor %}
{% endblock %}

{% block sidebar%}
{% endblock%}
