<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ site.title }}</title>
		<link rel="shortcut icon" href="/static/img/favico.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">

		<!-- Default site theme ID is 1 -->
		<link href="{{ STATIC_URL }}themes/{% if site.themeId %}{{ site.themeId }}{% else %}1{% endif %}/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}base.css" rel="stylesheet" type="text/css" />
		<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,400italic,600italic" rel="stylesheet" type="text/css" />

		<style type="text/css">
		.headBand {
			background-image: url('{% if site.headerBackgroundUrl %}{{ site.headerBackgroundUrl }}{% else %}{{ STATIC_URL }}themes/1/background.png{% endif %}');
			background-position: center center;
			margin: 24px 0;
			min-height: 96px;
		}
		</style>

		<!-- For custom page css (e.g. event.html) -->
		{% block css %}{% endblock %}

		<!--[if lt IE 9]>	
		  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
		  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
<body>

	<!-- Site banner and user module -->
	<div class="headBand">
		<div class="container">
			<header class="row">
				<div class="col col-lg-16">
					<div class="row">
						<div id="logo" class="col col-lg-6 col-md-6 col-sm-8 margin-top-half">	
							<a href="/"><img src="{% if site.logoUrl %}{{ site.logoUrl }}{% else %}{{ STATIC_URL }}themes/1/logo.png{% endif %}" alt="{{ site.title }} - Powered by Microcosm" id="logo" /></a>
						</div>

						{% block whoami %}
							{% if user %}
								<div class="col col-lg-3 col-sm-7 pull-right">
									<div class="row margin-top-half">
										<a href="{% url edit-profile user.id %}" id="edit_profile"><img src="https://{{ request.META.HTTP_HOST }}{{ user.avatar }}" alt="Avatar for {{ user.profile_name }}" title="Edit your profile" class="gravatar" align="left" /></a>
										<a href="{% url edit-profile user.id %}" id="profile_name">{{ user.profile_name|truncatechars:25 }}</a><br /><br />
										<a href="{% url logout %}" id="logout">Log out</a>
									</div>
								</div>
							{% else %}
								<div class="col col-lg-3 col-sm-8 pull-right">
									Browsing as a guest.
									<a class="btn btn-primary buffer-right" id="login_link" href="javascript:login()">Log in with Persona</a><br />
									<a href="https://login.persona.org/about">What is Persona?</a>
								</div>
							{% endif %}
						{% endblock %}
					</div>
				</div>
			</header>
		</div>
	</div>

	<!-- Container for main page content -->
	<div class="container">
		{% block notifications %}{% endblock %}

		<div class="row">
			<section id="content" class="col col-lg-12">
				{% block content %}{% endblock %}
			</section>

			<section id="sidebar" class="col-offset-1 col col-lg-3">
				{% block sidebar %}{% endblock %}
			</section>
		</div>

		<footer class="row">
			<div class="col-offset-13 col col-lg-3">
				<small>Powered by <a href="http://microco.sm/" title="{{ site.title }} is powered by Microcosm">Microcosm</a></small>
			</div>
		</footer>

	</div>

	{% if not user %}
		<!-- Persona Login Form (submitted by persona login action, not directly by user) -->
		<form id="login-form" method="POST" action="{% url login %}">
			{% csrf_token %}
			<input id="Assertion" type="hidden" name="Assertion" value="" />
			<input id="target_url" type="hidden" name="target_url" value="{{ request.get_full_path }}" />
		</form>

		<!-- Mozilla Persona -->
		<script src="{{ STATIC_URL }}js/persona.js"></script>
		<script>
			function login() {
				navigator.id.get(function(assertion) {
					if (assertion) {
						var assertion_field = document.getElementById("Assertion");
						assertion_field.value = assertion;
						var login_form = document.getElementById("login-form");
						login_form.submit();
					}
				});
			}
		</script>
	{% endif %}

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/base.js"></script>

	<!-- For custom page js (e.g. event.html) -->
	{% block js %}{% endblock %}

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-36931318-3', 'microco.sm');
		ga('set', 'dimension1', '{{ site.subdomainKey }}');
		ga('set', 'dimension2', '{% if user %}user{% else %}guest{% endif %}');
		ga('send', 'pageview');
	</script>

</body>
</html>