<li id="comment{{ comment.id }}" class="comment-item">
  <a name="{{ comment.id }}"></a>
  <div class="comment-item-inner">
    <div class="comment-item-header">

      <div class="comment-item-permalink">

        <div class="comment-item-header-admin">
          <input type="checkbox" />
        </div>

        <time datetime="{{ comment.meta.created|date:"c" }}"></time>
        <span style="color:#eee">&bull;</span>
        <a href="{% url 'single-comment' comment.id %}">
          #{{ forloop.counter }}
        </a>
      </div>

      <div class="comment-item-author">
      {% if comment.meta.created_by %}
        <a href="{% url 'single-profile' comment.meta.created_by.id %}">
          <img src="{% if 'gravatar' in comment.meta.created_by.avatar %}{{comment.meta.created_by.avatar}}{% elif 'files' in comment.meta.created_by.avatar %}https://{{site.subdomain_key}}.microco.sm{{comment.meta.created_by.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ comment.meta.created_by.profile_name }}" align="left" class="gravatar" />
          <strong class="comment-item-author-name">
            {{ comment.meta.created_by.profile_name|truncatechars:25 }}
          </strong>
        </a>
        {% endif %}

        {% if comment.in_reply_to %}
        <span class="sprite sprite-arrow-forward"></span>
        <span>
          in reply to
          <a href="{% url 'incontext-comment' comment.in_reply_to %}">
            @{{ comment.meta.links.inReplyToAuthor.title }}
          </a>
        </span>
        {% endif %}
      </div>

    </div>
    <div class="comment-item-body">
      {{ comment.html|escape }}
    </div>

    <div class="comment-item-footer">
      <div class="comment-item-attachments">
      </div>
    {% if user %}
      {% if not comment.meta.created_by.id == user.id %}
          <a class="insertReplyBox"
             data-action="{% url 'create-comment' %}"
             data-ref="{{ comment.id }}" href="javascript:void 0">
            <span class="sprite sprite-arrow-left"></span>
            Reply
            {% comment %}
            to <strong>@{{ comment.meta.created_by.profile_name|truncatechars:25 }}</strong>
            {% endcomment %}
          </a>
      {%else%}
        <a class="insertReplyBox"
           data-action="{% url 'edit-comment' comment.id %}"
           data-source="{% url 'source-comment' comment.id %}"
           data-comment-id="{{ comment.id }}"
           href="javascript:void 0">Edit</a>
      {% endif %}
    {% endif %}
    </div>

  </div>
</li>