<li id="{{ item.item_type }}{{ item.item.id }}"
		class="list-collection-row {% if item.is_pinned %}row-pinned{% endif %} {% if item.is_deleted %}row-deleted{% endif %}">

	<div class="row">
		<div class="col-sm-8 col-md-7 col-lg-8">

			<div class="list-collection-row-icon">
				{% if item.flags.sticky %}
					<span class="sprite sprite-pushpin"></span>
				{% endif %}
					<span class="sprite sprite-calendar"></span>
			</div>

			<div class="list-collection-row-offset">

				<div class="row-title-wrapper">
					<h3 class="row-title">
						<a href="/{{ item.item_type }}s/{{ item.item.id }}/{% if user %}newest/{% endif %}">{{ item.item.title | safe }}</a>
						{% if item.item.meta.flags.unread %}<span class="label label-warning">New</span>{% endif %}
					</h3>
				</div>

				{% if not item.item.meta.flags.sticky %}
				<div class="row-meta">

					{% if item.item.meta.created_by %}
					<a href="{% url 'single-profile' item.item.meta.created_by.id %}">
						<img src="{% if 'gravatar' in item.item.meta.created_by.avatar %}{{ item.item.meta.created_by.avatar }}{% elif 'files' in  item.item.meta.created_by.avatar  %}https://{{site.subdomain_key}}.microco.sm{{ item.item.meta.created_by.avatar }}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ item.item.meta.created_by.profile_name }}" />
						@{{ item.item.meta.created_by.profile_name|truncatechars:25 }}
					</a>

						started <time datetime="{{ item.item.meta.created|date:"c" }}"></time>
						{% endif %}
					<div class="pills-event">
						<span>
							{{ item.item.when|date:"N jS" }}
						</span>
						<span>
							{{ item.item.where }}
						</span>
					</div>

				</div>
				{% endif %}
			</div>
		</div>

		<div class="col-sm-4 col-md-5 col-lg-4">

			{% if content.meta.permissions.moderator %}
			<div class="list-collection-row-admin">
				<input class="row-admin-checkbox" type="checkbox" />
			</div>
			{% endif %}

			{% if item.total_comments or item.total_views %}
			<div class="row-stats">

				<ul class="list-stats list-stats-sm">

					<li>
						<span>{{ item.total_comments }}</span>
						comment{{ item.total_comments|pluralize:",s"}}
					</li>
					{% if item.total_views %}
					<li>
						<span>{{ item.total_views }}</span>
						view{{ item.total_views|pluralize:",s"}}
					</li>
					{% endif %}
				</ul>

			</div>
			{% endif %}

			{% if not item.flags.sticky %}

				<div class="row-context">

						{% if item.item.rsvp_limit > 0 and rsvp_percentage and rsvp_percentage > 0 %}

							<div class="item-event-attending"
									 data-toggle="tooltip"
									 title="{{ item.item.rsvp_attend }} people are attending this event">
								<div class="progress">
									<div class="progress-bar"
											 role="progressbar"
											 aria-valuenow="{{rsvp_percentage}}"
											 aria-valuemin="0"
											 aria-valuemax="100"
											 style="width: {{rsvp_percentage}}%;">
										<span class="sr-only">{{rsvp_percentage}}% Complete</span>
									</div>
								</div>
									{{ item.item.rsvp_attend|default:"0" }}/{{ item.item.rsvp_limit }}
							</div>

						{% elif item.item.rsvp_attend > 0 %}
							{{ item.item.rsvp_attend }} {{ item.item.rsvp_attend|pluralize:"person,people" }} are going
						{% else %}

							{% if item.last_comment_created %}
								<a href="{% url 'single-profile' item.last_comment_created_by.id %}">
									@{{item.last_comment_created_by.profile_name }}
								</a> replied <time datetime="{{ item.last_comment_created|date:"c" }}"></time>
							{% endif %}

						{% endif %}





				</div>

			{% endif %}

		</div>
	</div>
	</li>