<ol class="breadcrumb">
	<li>
		<a href="{% url 'index' %}">Home</a>
	</li>

	{% if not skipparents %}
		{% for key,value in content.meta.links.iteritems reversed%}
			{% if value.title and key != "up"%}
	<li>
		<a href="{{ value.href }}">{{ value.title | safe }}</a>
	</li>
			{% endif %}
		{% endfor %}
	{% endif %}


	{% if content.isConfidential == True or content.isConfidential == False %}
	<li>
		<a href="{% url 'list-huddle' %}">Messages</a>
	</li>
	{% endif %}

	{% if content.user_id %}
	<li>
		<a href="{% url 'list-profiles' %}">People</a>
	</li>
	{% endif %}

	{% if not skipself %}
		{% if content.profile_name %}
	<li><a href="{{ content.meta.links.self.href }}">{{ content.profile_name|safe }}</a></li>
		{% elif 'huddles' in content.meta.links.self.href %}
	<li><a href="{{ content.meta.links.self.href }}">Messages</a></li>
		{% elif content.title %}
	<li><a href="{{ content.meta.links.self.href }}">{{ content.title|safe }}</a></li>
		{% elif site_section == 'legal' %}
	<li><a href="{% url 'list-legal' %}">About</a></li>
		{% endif %}
	{% endif %}
</ol>