{% extends 'base.html' %}
{% block content %}
<div class="row content-header">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-6">
        {% include 'breadcrumbs.html' %}
      </div>
    </div>
  </div>
</div>

<div class="content-body">
  <div class="item">

    <div class="item-header">
      <h1>{{content.title}}</h1>
      <div class="item-meta">Posted on {{ content.meta.created|date:"D jS, F Y"}}</div>
    </div>
    {% if content.itemType == 'event' %}
    	{% include 'event_header_small.html' %}
    {% endif %}
  </div> <!-- item -->

  {% with comments as content.meta.parents %}
      {% include 'block_comments.html' %}
    {% endwith %}

    <ul class="list-comments">
      <li id="comment{{ content.id }}" class="comment-item">
        <div class="comment-item-inner">
          <div class="comment-item-header">

            <div class="comment-item-permalink">
              {% comment %}
              <div class="comment-item-header-admin">
                <input type="checkbox" />
              </div>
              {% endcomment %}

              <time datetime="{{ content.meta.created|date:"c" }}">
                {{ content.meta.created|timesince }}
              </time>
            </div>

            <div class="comment-item-author">

              <a href="{% url 'single-profile' content.meta.created_by.id %}">
                <img src="{% if 'gravatar' in content.meta.created_by.avatar %}{{content.meta.created_by.avatar}}{% elif 'files' in content.meta.created_by.avatar %}https://{{site.subdomain_key}}.microco.sm{{content.meta.created_by.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ content.meta.created_by.profile_name }}" align="left" class="gravatar" />
                <strong>
                  {{ content.meta.created_by.profile_name|truncatechars:25 }}
                </strong>
              </a>

              {% comment %}
              {% if content.is_in_reply_to %}
              <span class="glyphicon glyphicon-arrow-right"></span>
              <span>
                in reply to
                <a href="{% url 'comments' content.replied_to_parent_content.item.microcosm.name|slugify content.replied_to_parent_content.item.name|slugify content.replied_to_parent_content.id %}">
                  {{ content.replied_to_parent_content.author.name }}
                </a>
              </span>
              {% endif %}
              {% endcomment %}
            </div>

          </div>
          <div class="comment-item-body">
            {{ content.html|safe }}
          </div>

          {% if user %}
          <div class="comment-item-footer">
            <a class="insertReplyBox" href="javascript:void 0">
              <span class="glyphicon glyphicon-arrow-left"></span>
              Reply to
              <strong>@{{ content.meta.created_by.profile_name|truncatechars:25 }}</strong>
            </a>
          </div>
          {% endif %}

        </div>
      </li>
    </ul>

    {% with comments as content.meta.children %}
      {% include 'block_comments.html' %}
    {% endwith %}

</div> <!-- / content-body -->

<div class="reply-container">
    <ul class="list-comments">
      <li class="comment-item">
        <div class="comment-item-inner">
          <div class="comment-item-header">
            <div class="comment-item-author">
                <img src="{{ STATIC_URL }}{{ member.avatar}}" />
                <strong>Post a reply</strong>
            </div>
          </div>
          <div class="comment-item-body">
            {% include 'forms/block_comment_box.html' %}
          </div>
        </div>
      </li>
    </ul>
  </div> <!-- /reply-container -->

{% endblock content %}

{% block sidebar %}

  <div class="metabar-module">
    <h5>Got something to add?</h5>
    <div class="metabar-module-primary-buttons">
      <a href="#" class="btn btn-large btn-block btn-primary">
        <span class="glyphicon glyphicon-comment"></span> Post a reply
      </a>
    </div>
  </div> <!-- primary actions -->

  <div class="metabar-module">
    <h5>About</h5>
    <div class="metabar-module-title">
      <h3>
        {{ content.title }}
      </h3>

      {% include 'forms/subscribe.html' %}

      <p>
        {{ content.description }}
      </p>
      <p class="metabar-module-author">
        <a href="{% url 'single-profile' content.meta.created_by.id %}">
          <img src="{% if 'gravatar' in content.meta.created_by.avatar %}{{ content.meta.created_by.avatar }}{% elif 'files' in  content.meta.created_by.avatar  %}https://{{site.subdomain_key}}.microco.sm{{ content.meta.created_by.avatar }}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ content.meta.created_by.profile_name }}" />
          @{{ content.meta.created_by.profile_name|truncatechars:25 }}
        </a> started <time datetime="{{ content.meta.created|date:"c" }}"></time>
      </p>
    </div>
  </div> <!-- / about -->


{% endblock %}

{% block js %}

<script type="text/javascript" src="{{STATIC_URL}}js/simpleEditor.js"></script>
<script type="text/javascript">
  (function(){

    var se = new simpleEditor({
      el : '.reply-box'
    });

  })();
</script>
{% endblock %}