<section id ="comments_list">

	{% if content.comments.total > 0 %}

        {% include "pagination_nav.html" %}

		{% for comment in content.comments.items %}
			<article id="comment{{ comment.id }}" class="row">
				
				<div class="col col-sm-4">
					<a href="/profiles/{{ comment.meta.created_by.id }}/"><img src="{% if 'gravatar' in comment.meta.created_by.avatar %}{{comment.meta.created_by.avatar}}{% elif 'files' in comment.meta.created_by.avatar %}https://{{site.subdomain_key}}.microco.sm{{comment.meta.created_by.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ comment.meta.created_by.profile_name }}" align="left" class="gravatar" /></a>
					<div class="h4"><a href="/profiles/{{ comment.meta.created_by.id }}/">{{ comment.meta.created_by.profile_name|truncatechars:25 }}</a></div>
				</div>

				<div class="col col-sm-12">
					<div class="row">
						<section class="col col-sm-16 ugc" id="comment{{ comment.id }}body">
							{{ comment.html|safe }}
						</section>
					</div>
					<div class="row">
						<div class="col col-sm-4 pull-left">
							<small class="text-muted"><time datetime="{{ comment.meta.created|date:"c" }}"></time></small>
						</div>

						<section class="pull-right" id="comment{{ comment.id }}controls">
							{% if comment.meta.created_by.id == user.id or user.admin or user.moderator %}
								<form method="POST" action="{% url 'delete-comment' comment.id %}" style="display:inline;" onsubmit="return (confirm('Delete is a one-way action, are you sure?'))">
									{% csrf_token %}
									<input type="hidden" name="item_id" value="{{comment.item_id}}"/>
									<input type="hidden" name="item_type" value="{{comment.item_type}}"/>
									<input type="submit" value="Delete" class="btn btn-small btn-link text-danger" id="comment{{ comment.id }}delete"/>
								</form>
								<a class="btn btn-small btn-link" href="/comments/{{comment.id}}/edit" id="comment{{ comment.id }}edit">Edit</a>
							{% endif %}
							{% if user %}
							<a class="btn btn-small btn-primary" href="/comments/create?itemId={{content.id}}&itemType={{item_type}}&inReplyTo={{comment.id}}" id="comment{{ comment.id }}reply">Reply</a>
							{% else %}
							<a class="btn btn-small btn-primary" href="javascript:login()" id="comment{{ comment.id }}reply">Reply</a>
							{% endif %}
						</section>
					</div>
				</div>
			</article>
			<hr />
		{% endfor %}

        {% include "pagination_nav.html" %}

	{% endif %}

</section>

<section id="quick_reply">
	{% if user %}
		<div id="comment{{ comment.id }}" class="row">
			
			<div class="col col-sm-4">
				<img src="{% if 'gravatar' in user.avatar %}{{user.avatar}}{% elif 'files' in user.avatar %}https://{{site.subdomain_key}}.microco.sm{{user.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ user.profile_name|truncatechars:25 }}" align="left" class="gravatar" />
				<div class="h4">{{ user.profile_name|truncatechars:25 }}</div>
			</div>

			<form action="/comments/create/" method="POST" id="commentForm">{% csrf_token %}
				<div class="col col-sm-12">
					<div class="row">
						<section class="col col-sm-16" id="comment{{ comment.id }}body">
							{{ comment_form.inReplyTo }}
							{{ comment_form.itemId }}
							{{ comment_form.itemType }}
							<div>{{ comment_form.markdown }}</div>
						</section>
					</div>
					<br />
					<div class="row">
						<div class="pull-left muted">
							<small><a data-toggle="modal" data-target="#markdownModal">Formatting help</a></small>
						</div>
						<section class="pull-right" id="comment{{ comment.id }}controls">
							<input class="btn btn-primary" id="submit_comment" type="submit" value="Add comment">
						</section>
					</div>
				</div>				
			</form>
		</div>

	{% else %}
		<a class="btn btn-primary" id="prompt_login_link" href="javascript:login()">Sign In or Register to post</a>
	{% endif %}

</section>

<!-- Markdown Modal -->
<div id="markdownModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Markdown Cheat Sheet</h4>
			</div>
			<div class="modal-body">
				<p>
					Don't worry about formatting, just type in the text and we'll take care of
					making sense of it.
				</p>
				<p>
					We'll auto-convert links, and if you put asterisks around
					words we'll make them bold.
				</p>
				<p>
					The only things you might really need to know are:
					<ul>
						<li>Create headers by underlining header text with ==== or ----</li>
						<li>To make text <em>*italic*</em> put one asterisks each side of the word</li>
						<li>To make text <bold>**bold**</bold> put two asterisks each side of the word</li>
						<li>Embed images by entering:<br />&nbsp;![](https://www.google.co.uk/images/srpr/logo4w.png)<br />That's the only hard one, exclamation, square brackets and then the URL to the image in brackets.</li>
						<li>* Create lists by starting lines with asterisks</li>
						<li>1. Create numbered lists by starting lines with a number and a dot</li>
						<li>&gt; Quote text by starting lines with &gt;</li>
						<li>Mention another user by +username or @username</li>
                        <li>For syntax highlighting, surround the code block with three backticks:<br />
                        <br />
                        ```<br />
                        Your code goes here<br />
                        ```<br />
                        Just like <a href="https://help.github.com/articles/github-flavored-markdown#fenced-code-blocks">Github</a>, a blank line must precede a code block.
                        </li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dalog -->
</div><!-- /.modal -->