<section id ="comments_list">

	{% if content.comments.total > 0 %}

        {% include "pagination_nav.html" %}

		{% for comment in content.comments.items %}
			<article id="comment{{ comment.id }}" class="row">
				
				<div class="col col-lg-4">
					<a href="{% if user.id == comment.meta.created_by.id %}{% url edit-profile user.id %}{% else %}/profiles/{{ comment.meta.created_by.id }}/{% endif %}"><img src="https://{{ request.META.HTTP_HOST }}{{ user.avatar }}" alt="Avatar for {{ comment.meta.created_by.profile_name }}" align="left" class="gravatar" /></a>
					<div class="h4"><a href="{% if user.id == comment.meta.created_by.id %}{% url edit-profile user.id %}{% else %}/profiles/{{ comment.meta.created_by.id }}/{% endif %}">{{ comment.meta.created_by.profile_name|truncatechars:25 }}</a></div>
				</div>

				<div class="col col-lg-12">
					<div class="row">
						<section class="col col-lg-16" id="comment{{ comment.id }}body">
							{{ comment.html|safe }}
						</section>
					</div>
					<div class="row">
						<div class="col col-lg-4 pull-left">
							<small class="text-muted"><time datetime="{{ comment.meta.created|date:"c" }}"></time></small>
						</div>

						<section class="pull-right" id="comment{{ comment.id }}controls">
							{% if comment.meta.created_by.id == user.id or user.admin or user.moderator %}
								<form method="POST" action="{% url delete-comment comment.id %}" style="display:inline;">
									{% csrf_token %}
									<input type="hidden" name="item_id" value="{{comment.item_id}}"/>
									<input type="hidden" name="item_type" value="{{comment.item_type}}"/>
									<input type="submit" value="Delete Comment" class="btn btn-small btn-danger" id="comment{{ comment.id }}delete"/>
								</form>
								<a class="btn btn-default btn-small" href="/comments/{{comment.id}}/edit" id="comment{{ comment.id }}edit">Edit</a>
							{% endif %}
							<a class="btn btn-small btn-primary" href="/comments/create?itemId={{content.id}}&itemType={{item_type}}&inReplyTo={{comment.id}}" id="comment{{ comment.id }}reply">Reply</a>
						</section>
					</div>
				</div>
			</article>
			<hr />
		{% endfor %}

        {% include "pagination_nav.html" %}

	{% endif %}

</section>

<section id="quick_reply">
	{% if user %}
		<div id="comment{{ comment.id }}" class="row">
			
			<div class="col col-lg-4">
				<img src="https://{{ request.META.HTTP_HOST }}{{ user.avatar }}" alt="Avatar for {{ user.profile_name|truncatechars:25 }}" align="left" class="gravatar" />
				<div class="h4">{{ user.profile_name|truncatechars:25 }}</div>
			</div>

			<form action="/comments/create/" method="POST" id="commentForm">{% csrf_token %}
				<div class="col col-lg-12">
					<div class="row">
						<section class="col col-lg-16" id="comment{{ comment.id }}body">
							{{ comment_form.inReplyTo }}
							{{ comment_form.itemId }}
							{{ comment_form.itemType }}
							<div>{{ comment_form.markdown }}</div>
						</section>
					</div>
					<br />
					<div class="row">
						<div class="pull-left muted">
							<small><a data-toggle="modal" data-target="#markdownModal">Formatting help</a></small>
						</div>
						<section class="pull-right" id="comment{{ comment.id }}controls">
							<input class="btn btn-primary" id="submit_comment" type="submit" value="Add comment">
						</section>
					</div>
				</div>				
			</form>
		</div>

	{% else %}
		<a class="btn btn-primary" id="prompt_login_link" href="javascript:login()">Signup or login to post a comment</a>
	{% endif %}

</section>

<!-- Markdown Modal -->
<div id="markdownModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Markdown Cheat Sheet</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col col-lg-8">
						<strong>Links</strong>
<pre>http://www.google.com - automatic!
[Google](http://www.google.com)
</pre>
						<strong>Images</strong>
<pre>![Microcosm Logo](/static/themes/1/logo.png)
Format: ![Alt Text](url)
</pre>
						<strong>Emphasis</strong>
<pre>*This text will be italic*
_This will also be italic_
**This text will be bold**
__This will also be bold__

*You **can** combine them*
</pre>
						<strong>Headers</strong>
<pre># Main Header
## Header
### Sub Header
</pre>
						<strong>Mentioning people</strong>
<pre>@user +user</pre>
					</div>
					<div class="col col-lg-8">
						<strong>Unordered Lists</strong>
<pre>* fruits
    + apples
        - macintosh
        - red delicious
    + pears
    + peaches
* vegetables
    + brocolli
</pre>
<p>Sub-lists are indented by 4 spaces.</p>
						<strong>Ordered Lists</strong>
<pre>1. fruits
    a. apples
        - macintosh
        - red delicious
    b. pears
    c. peaches
1. vegetables
    a. brocolli
</pre>
						<strong>Quotes</strong>
<pre>As Octocat said:

> We're living the future so
> the present is our past.
</pre>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dalog -->
</div><!-- /.modal -->