{% extends 'base.html' %}

{% block content %}
    <h4>Showing single comment</h4>
    <div class='text-muted'>
    {% for item in content.meta.parents %}
		<article id="comment{{ item.id }}" class="row">
			
			<div class="col col-sm-4">
				<a href="/profiles/{{ item.meta.created_by.id }}/"><img src="{% if 'gravatar' in item.meta.created_by.avatar %}{{item.meta.created_by.avatar}}{% elif 'files' in item.meta.created_by.avatar %}https://{{site.subdomain_key}}.microco.sm{{item.meta.created_by.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ item.meta.created_by.profile_name }}" align="left" class="gravatar" /></a>
				<div class="h4"><a href="/profiles/{{ item.meta.created_by.id }}/">{{ item.meta.created_by.profile_name|truncatechars:25 }}</a></div>
			</div>

			<div class="col col-sm-12">
				<div class="row">
					<section class="col col-sm-16 ugc" id="comment{{ item.id }}body">
						{{ item.html|safe }}
					</section>
				</div>
				<div class="row">
					<div class="col col-sm-4 pull-left">
						<small class="text-muted"><time datetime="{{ item.meta.created|date:"c" }}"></time></small>
					</div>

					<section class="pull-right" id="item{{ v.id }}controls">
						{% if item.meta.created_by.id == user.id or user.admin or user.moderator %}
							<form method="POST" action="{% url 'delete-comment' item.id %}" style="display:inline;" onsubmit="return (confirm('Delete is a one-way action, are you sure?'))">
								{% csrf_token %}
								<input type="hidden" name="item_id" value="{{item.item_id}}"/>
								<input type="hidden" name="item_type" value="{{item.item_type}}"/>
								<input type="submit" value="Delete" class="btn btn-small btn-link text-danger" id="comment{{ item.id }}delete"/>
							</form>
							<a class="btn btn-small btn-link" href="/comments/{{item.id}}/edit" id="comment{{ item.id }}edit">Edit</a>
						{% endif %}
						{% if user %}
						<a class="btn btn-small btn-primary" href="/comments/create?itemId={{item.id}}&itemType={{item_type}}&inReplyTo={{item.id}}" id="comment{{ item.id }}reply">Reply</a>
						{% else %}
						<a class="btn btn-small btn-primary" href="javascript:login()" id="comment{{ item.id }}reply">Reply</a>
						{% endif %}
					</section>
				</div>
			</div>
		</article><br/>
		{% endfor %}</div>
			<hr /><br />
		<article id="comment{{ content.id }}" class="row">
			
			<div class="col col-sm-4">
				<a href="/profiles/{{ content.meta.created_by.id }}/"><img src="{% if 'gravatar' in content.meta.created_by.avatar %}{{content.meta.created_by.avatar}}{% elif 'files' in content.meta.created_by.avatar %}https://{{site.subdomain_key}}.microco.sm{{content.meta.created_by.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ content.meta.created_by.profile_name }}" align="left" class="gravatar" /></a>
				<div class="h4"><a href="/profiles/{{ content.meta.created_by.id }}/">{{ content.meta.created_by.profile_name|truncatechars:25 }}</a></div>
			</div>

			<div class="col col-sm-12">
				<div class="row">
					<section class="col col-sm-16 ugc" id="comment{{ content.id }}body">
						{{ content.html|safe }}
					</section>
				</div>
				<div class="row">
					<div class="col col-sm-4 pull-left">
						<small class="text-muted"><time datetime="{{ content.meta.created|date:"c" }}"></time></small>
					</div>

					<section class="pull-right" id="content{{ v.id }}controls">
						{% if content.meta.created_by.id == user.id or user.admin or user.moderator %}
							<form method="POST" action="{% url 'delete-comment' content.id %}" style="display:inline;" onsubmit="return (confirm('Delete is a one-way action, are you sure?'))">
								{% csrf_token %}
								<input type="hidden" name="item_id" value="{{content.item_id}}"/>
								<input type="hidden" name="item_type" value="{{content.item_type}}"/>
								<input type="submit" value="Delete" class="btn btn-small btn-link text-danger" id="comment{{ content.id }}delete"/>
							</form>
							<a class="btn btn-small btn-link" href="/comments/{{content.id}}/edit" id="comment{{ content.id }}edit">Edit</a>
						{% endif %}
						{% if user %}
						<a class="btn btn-small btn-primary" href="/comments/create?itemId={{content.id}}&itemType={{item_type}}&inReplyTo={{content.id}}" id="comment{{ content.id }}reply">Reply</a>
						{% else %}
						<a class="btn btn-small btn-primary" href="javascript:login()" id="comment{{ content.id }}reply">Reply</a>
						{% endif %}
					</section>
				</div>
			</div>
		</article>
	<br /><hr />
	<div class='text-muted'>
    {% for item in content.meta.children %}
		<article id="comment{{ item.id }}" class="row">
			
			<div class="col col-sm-4">
				<a href="/profiles/{{ item.meta.created_by.id }}/"><img src="{% if 'gravatar' in item.meta.created_by.avatar %}{{item.meta.created_by.avatar}}{% elif 'files' in item.meta.created_by.avatar %}https://{{site.subdomain_key}}.microco.sm{{item.meta.created_by.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ item.meta.created_by.profile_name }}" align="left" class="gravatar" /></a>
				<div class="h4"><a href="/profiles/{{ item.meta.created_by.id }}/">{{ item.meta.created_by.profile_name|truncatechars:25 }}</a></div>
			</div>

			<div class="col col-sm-12">
				<div class="row">
					<section class="col col-sm-16 ugc" id="comment{{ item.id }}body">
						{{ item.html|safe }}
					</section>
				</div>
				<div class="row">
					<div class="col col-sm-4 pull-left">
						<small class="text-muted"><time datetime="{{ item.meta.created|date:"c" }}"></time></small>
					</div>

					<section class="pull-right" id="item{{ v.id }}controls">
						{% if item.meta.created_by.id == user.id or user.admin or user.moderator %}
							<form method="POST" action="{% url 'delete-comment' item.id %}" style="display:inline;" onsubmit="return (confirm('Delete is a one-way action, are you sure?'))">
								{% csrf_token %}
								<input type="hidden" name="item_id" value="{{item.item_id}}"/>
								<input type="hidden" name="item_type" value="{{item.item_type}}"/>
								<input type="submit" value="Delete" class="btn btn-small btn-link text-danger" id="comment{{ item.id }}delete"/>
							</form>
							<a class="btn btn-small btn-link" href="/comments/{{item.id}}/edit" id="comment{{ item.id }}edit">Edit</a>
						{% endif %}
						{% if user %}
						<a class="btn btn-small btn-primary" href="/comments/create?itemId={{item.id}}&itemType={{item_type}}&inReplyTo={{item.id}}" id="comment{{ item.id }}reply">Reply</a>
						{% else %}
						<a class="btn btn-small btn-primary" href="javascript:login()" id="comment{{ item.id }}reply">Reply</a>
						{% endif %}
					</section>
				</div>
			</div>
		</article><br/>
		{% endfor %}
		</div>
{% endblock content %}