{% extends 'base.html' %}

{% block css %}
		<!-- Leaflet -->
		<link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.5.1/leaflet.min.css" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.5.1/leaflet.ie.css" />
		<![endif]-->
{% endblock %}

{% block notifications %}
	<h2><a href='{{ content.meta.links.1.href|slice:"7:" }}/'>{{ content.meta.links.1.title}}</a></h2>
{% endblock %}

{% block content %}
	<h1 id="event_title">{{content.title}}</h1>


	<div class="row">
		<div class="col col-lg-4">
			<p class="text-muted">Where</p>
		</div>
		<div class="col col-lg-4">
			<p id="where">{% if content.where %}{{ content.where }}{% else %}To be determined.{% endif %}</p>
		</div>
		<div id="map" class="col col-lg-8 pull-right" style="height:366px"></div>

		<div class="row col col-lg-8">
			<div class="col col-lg-8">
				<p class="text-muted">Starts</p>
			</div>
			<div class="col col-lg-8">
				<p style="padding-left:6px;"><time id="when" format="LLL" datetime="{{ content.when|date:"c\Z" }}" duration="{{content.duration}}">{{content.when}}</time></p>
			</div>
		</div>

		<div class="row col col-lg-8">
			<div class="col col-lg-8">
				<p class="text-muted">Ends</p>
			</div>
			<div class="col col-lg-8">
				<p style="padding-left:6px;"><time id="ends" format="LLL"></time></p>
			</div>
		</div>

		<div class="row col col-lg-8">
			<div class="col col-lg-8">
				<p class="text-muted">Attendees</p>
			</div>
			<div class="col col-lg-8">
				<p id="rsvp_limit" style="padding-left:6px;">{{ content.rsvpAttend }}</p>
			</div>
		</div>

		<div class="row col col-lg-8">
			<div class="col col-lg-8">
				<p class="text-muted">Attendee Limit</p>
			</div>
			<div class="col col-lg-8">
				<p id="rsvp_limit" style="padding-left:6px;">{{ content.rsvpLimit }}</p>
			</div>
		</div>

		<div class="row col col-lg-8">
			<div class="col col-lg-8">
				<p class="text-muted">Spaces Left</p>
			</div>
			<div class="col col-lg-8">
				<p id="spaces_left" style="padding-left:6px;">{{ content.rsvpSpaces }}</p>
			</div>
		</div>
	</div>

	<hr />

	{% include "comments_block.html" %}
{% endblock %}

{% block sidebar %}
	<p class="muted">
		Created by <a href="/profiles/{{content.meta.createdBy.id}}/">{{ content.meta.createdBy.profileName|truncatechars:25 }}</a><br />
		<time datetime="{{ content.meta.created|date:"c" }}"></time>
	</p>

	{% if content.meta.permissions.update %}
		<p>
			<a href="{% url edit-event content.id %}" id="edit_event" class="btn btn-default col col-lg-16">Edit event</a>
		</p>
	{% endif %}
	{% if content.meta.permissions.delete %}
		<form method="POST" action="{% url delete-event content.id %}">
			{% csrf_token %}
			<input type="hidden" name="microcosm_id" value="{{content.microcosmId}}" />
			<input type="submit" value="Delete Event" id="delete-event" class="btn btn-danger col col-lg-16" style="width:100%; margin-top:12px;" />
		</form>
	{% endif %}

	<h4>Are you coming?</h4>
	{% if user %}
	<form method="POST" action="{% url rsvp-event content.id %}">
		{% csrf_token %}
		<input type="hidden" name="rsvp" value="yes" />
		<input id="rsvp_yes" type="submit" value="Count me in" class="btn btn-primary col col-lg-16" style="width:100%;">
	</form>

	<form method="POST" action="{% url rsvp-event content.id %}">
		{% csrf_token %}
		<input type="hidden" name="rsvp" value="maybe" />
		<input id="rsvp_maybe" type="submit" value="Maybe" class="btn btn-default col col-lg-16" style="width:100%; margin-top:12px;">
	</form>

	<form method="POST" action="{% url rsvp-event content.id %}">
		{% csrf_token %}
		<input type="hidden" name="rsvp" value="no" />
		<input id="rsvp_no" type="submit" value="Can't make it" class="btn btn-default col col-lg-16" style="width:100%; margin-top:12px;">
	</form>
	{% else %}
	<a class="btn btn-primary" id="prompt_login_link" href="javascript:login()">Signup or login to attend</a>
	{% endif %}

	<h4>Who's going?</h4>
	{# Iterating the attendees four times is only temporary, they'll be split into different collections in future. #}
	<p><strong>Confirmed</strong></p>
	{% for item in attendees.attendees.items %}
		<ul>
			{% if item.rsvp == "yes" %}
				<li>{{ item.attendee.profileName|truncatechars:25 }}</li>
			{% endif %}
		</ul>
	{% endfor %}
	<p><strong>Maybe</strong></p>
	{% for item in attendees.attendees.items %}
		<ul>
			{% if item.rsvp == "maybe" %}
				<li>{{ item.attendee.profileName|truncatechars:25 }}</li>
			{% endif %}
		</ul>
	{% endfor %}
	<!--<p><strong>Yet to reply</strong></p>
	{% for item in attendees.attendees.items %}
		<ul>
			{% if item.rsvp == "invited" %}
				<li>{{ item.attendee.profileName|truncatechars:25 }}</li>
			{% endif %}
		</ul>
	{% endfor %}-->
	<p><strong>Nope</strong></p>
	{% for item in attendees.attendees.items %}
		<ul>
			{% if item.rsvp == "no" %}
				<li>{{ item.attendee.profileName|truncatechars:25 }}</li>
			{% endif %}
		</ul>
	{% endfor %}

{% endblock %}

{% block js %}
	<!-- Leaflet -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.5.1/leaflet.min.js"></script>

	<!-- Microcosm event -->
    {% if user %}
    <script src="{{ STATIC_URL }}js/md5.min.js"></script>
    {% endif %}
	<script src="{{ STATIC_URL }}js/m-event.js" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			console.log($('#when').attr('datetime'))
			console.log($('#when').attr('duration'))
			showEndDate($('#when').attr('datetime'), $('#when').attr('duration'));

			restoreLocationState(
				Number('{{ content.lat }}'),
				Number('{{ content.lon }}'),
				[
					[Number('{{ content.north }}'), Number('{{ content.west }}')],
					[Number('{{ content.south }}'), Number('{{ content.east }}')]
				]
			);
		});
	</script>
{% endblock %}
