{% extends 'base.html' %}
{% load huddle %}
{% block title %}Huddles{% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %} | {{ site.title }}{% endblock title %}

{% block ga %},'dimension3': '{{ content.id }}'{% endblock%}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-8">
			{% include 'breadcrumbs.html' %}
		</div>
		<div class="col-sm-4">
			{% include 'pagination.html' %}
		</div>
	</div>
	<h1>Huddles</h1>
</div>

<div class="content-body">

{% if content.huddles.items %}
<div class="list-huddles">
	<ul class="list-collection bordered padded">
	{% for item in content.huddles.items %}
		{% huddle item %}
	{% endfor %}
	</ul>
</div>

{% else %}
<p>
	You currently have no messages
</p>
{% endif %}
</div>

{% endblock %}

{% block sidebar%}
<div class="metabar-module">
	<h5>Got something to add?</h5>
	<div class="metabar-module-primary-buttons">
		<a href="{% url 'create-huddle' %}" class="btn btn-large btn-block btn-primary">
			<span class="sprite sprite-envelope-small"></span> Send a Message
		</a>
	</div>
</div> <!-- primary actions -->


<div class="metabar-module">
	<h5>About</h5>
	<div class="metabar-module-title">
		<h3>
			Huddles
		</h3>
		<p>
			Start private sessions with other members of the community.
		</p>
	</div>
</div> <!-- / about -->
{% endblock%}