{% extends 'base.html' %}

{% block content %}
	{% if not content.microcosms.items %}
		<p>This is such a new site that there are no Microcosms at the moment.</p>
		{% if content.meta.permissions.create %}
	    <p>Create your first Microcosm using the button on the right.</p>
		{% endif %}
	{% else %}

        {% include "pagination_nav.html" %}

		{% for item in content.microcosms.items %}
			<section id="microcosm{{item.id}}" class="row">
				<div class="col col-lg-16">
					<a href="{% url single-microcosm item.id %}">
						<h1>{{ item.title }}</h1>
					</a>
				</div>
				<div>
					<div class="col col-lg-10 text-muted">
						{{ item.description }}
					</div>
					<div class="col col-lg-2 col-sm-4 small text-muted">
						<small><i class="glyphicon glyphicon-list buffer-right"></i> {{ item.total_items }}</small></br>
						<small><i class="glyphicon glyphicon-comment buffer-right"></i> {{ item.total_comments }}</small>
					</div>
					<div class="col col-lg-4 col-sm-12 recent">
						{% if item.most_recent_update %}
							<!-- TODO: use a template tag (or provide from the view) a mapping of item_type to path -->
							<a href="/{{item.most_recent_update.item_type}}s/{{item.most_recent_update.id}}/">{{item.most_recent_update.title}}</a><br />
							{% if item.most_recent_update.total_comments %}
								<small class="text-muted"><time datetime="{{item.most_recent_update.last_comment_created|date:"c"}}"></time> by <a href="{% url single-profile item.most_recent_update.last_comment_created_by.id %}">{{ item.most_recent_update.last_comment_created_by.profile_name }}</a></small>
							{% else%}
								<small class="text-muted"><time datetime="{{item.most_recent_update.meta.created|date:"c"}}"></time> by <a href="{% url single-profile item.most_recent_update.meta.created_by.id %}/">{{ item.most_recent_update.meta.created_by.profile_name }}</a></small>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</section>
			<hr />
		{% endfor %}

        {% include "pagination_nav.html" %}

    {% endif %}

{% endblock %}

{% block sidebar%}
	{% if content.meta.permissions.create %}
		<p><a class="btn btn-primary col col-lg-16" id="create_microcosm" href="{% url create-microcosm %}">Create Microcosm</a></p>
	{% endif %}

{% endblock%}
