{% extends 'base.html' %}

{% load conversation %}
{% load event %}

{% block title %}{{ content.title | safe }}{% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %} | {{ site.title | safe }}{% endblock title %}

{% block ga %},'dimension3': '{{ content.id }}'{% endblock%}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-8">
			{% include 'breadcrumbs.html' %}
		</div>
		<div class="col-sm-4">
			{% include 'pagination.html' %}
		</div>
	</div>
	<h1>{{ content.title }}</h1>
</div>

<div class="content-body">

{% include "forms/content-moderation.html" %}

	<div class="list-items">

		<ul class="list-collection bordered padded">
		{% for item in content.items.items %}

			{% if item.item_type == "conversation" %}
				{% conversation item %}
			{% endif %}

			{% if item.item_type == "event" %}
				{% event item %}
			{% endif %}

		{% endfor %}
		</ul>
	</div>

</div>

{% include "forms/content-moderation.html" %}


<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-8">
			{% include 'breadcrumbs.html' %}
		</div>
		<div class="col-sm-4">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>


{% endblock %}

{% block sidebar%}

	{# if content.meta.permissions.create #}
		<div class="metabar-module">
			<h5>Got something to add?</h5>
			<div class="metabar-module-primary-buttons">
			{% if user %}
				<a href="{% url 'create-conversation' content.id %}" class="btn btn-large btn-block btn-primary">
					<span class="sprite sprite-speech-bubble-small"></span> Start a conversation
				</a>
				<a href="{% url 'create-event' content.id %}" class="btn btn-large btn-block btn-primary">
					<span class="sprite sprite-calendar-small"></span> Start an event
				</a>
			{% else %}
				<a href="#" class="btn btn-large btn-block btn-primary" data-toggle="modal" data-target="#modal-signin">
					<span class="sprite sprite-speech-bubble-small"></span> Start a conversation
				</a>
				<a href="#" class="btn btn-large btn-block btn-primary" data-toggle="modal" data-target="#modal-signin">
					<span class="sprite sprite-calendar-small"></span> Start an event
				</a>

			{% endif %}
			</div>
		</div> <!-- primary actions -->
	{# endif #}


	<div class="metabar-module">
		<h5>About</h5>
		<div class="metabar-module-title">
			<h3>
				{{ content.title | safe }}
			</h3>
			<p class="metabar-module-author">
				<a href="{% url 'single-profile' content.meta.created_by.id %}">
					<img src="{% if 'gravatar' in content.meta.created_by.avatar %}{{ content.meta.created_by.avatar }}{% elif 'files' in  content.meta.created_by.avatar  %}https://{{site.subdomain_key}}.microco.sm{{ content.meta.created_by.avatar }}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ content.meta.created_by.profile_name | safe }}" />
					@{{ content.meta.created_by.profile_name | safe | truncatechars:25 }}
				</a> started <time datetime="{{ content.meta.created|date:"c" }}"></time>
			</p>
		</div>
		<div class="metabar-module-body">
			<p>
				{{ content.description | safe }}
			</p>
			{% include 'forms/subscribe.html' %}
		</div>
	</div> <!-- / about -->


{% comment %}
	{% if content.meta.permissions.update %}
	<p class="hidden-xs">
		<a id="edit_microcosm" href="{% url 'edit-microcosm' content.id %}">Edit Microcosm</a>

		{% if content.meta.permissions.delete %}
		<form method="POST" action="{% url 'delete-microcosm' content.id %}" id="microcosm_delete_form" class="hidden-xs">
			{% csrf_token %}
			<a id="delete-microcosm" href="#" onClick="if (confirm('Delete is a one-way action, are you sure?')) {$('#microcosm_delete_form').submit()}" class="text-danger">Delete Microcosm</a>
		</form>
		{% endif %}
	</p>
	{% endif %}
{% endcomment %}

{% endblock %}
{% block js %}
<script type="text/javascript">
	var subscribe = new Subscribe({
		el    : '.subscribe',
		url   : '{% url 'single-watcher' %}',
		id    : {{ content.id }},
		type  : '{{ item_type }}',
		token : '{{ csrf_token }}',
		is_subscribed : {{ content.meta.flags.watched|lower|default:"false" }}
	});
</script>
{% endblock %}