{% extends 'base.html' %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active"><a href='{{ content.meta.links.self.href|slice:"7:" }}'>{{ content.title }}</a></li>
	</ol>
{% endblock %}

{% block ga %},'dimension3': '{{ content.id }}'{% endblock%}

{% block content %}
	<a id="microcosm_title" href="{% url 'single-microcosm' content.id %}"><h1>{{ content.title }}</h1></a>

	{% include "pagination_nav.html" %}

	{% for item in content.items.items %}
		<section id="{{ item.itemType }}{{ item.id }}" class="row margin-bottom-half">
			<table class="col col-md-10">
				<tbody>
					<tr>
						<td rowspan="2" width="42">{% ifequal item.item_type "conversation" %}<span class="glyphicon glyphicon-comment text-muted" style="font-size:36px;line-height:48px;margin-top:-10px;"></span>{% endifequal %}{% ifequal item.item_type "event" %}<span class="glyphicon glyphicon-calendar text-muted" style="font-size:36px;line-height:48px;margin-top:-5px;"></span>{% endifequal %}</td>
						<td><strong><a href="/{{ item.item_type }}s/{{ item.id }}/{% if user %}newest/{% endif %}">{{ item.title }}</a></strong></td>
					</tr>
					<tr>
						<td><small class="text-muted">started by <a href="{% url 'single-profile' item.meta.created_by.id %}">{{ item.meta.created_by.profile_name|truncatechars:25 }}</a> <time datetime="{{ item.meta.created|date:"c" }}"></time></small></td>
					</tr>
				</tbody>
			</table>

			<table class="col col-md-6 text-muted">
				<tbody>
					<tr>
						<td width="100"><small class="nowrap"><i class="glyphicon glyphicon-comment buffer-right"></i> {{ item.total_comments }}</small></td>
						<td rowspan="2" width="50">{% if item.last_comment_created %}<a href="{% url 'single-profile' item.last_comment_created_by.id %}"><img src="{% if 'gravatar' in item.last_comment_created_by.avatar %}{{item.last_comment_created_by.avatar}}{% elif 'files' in item.last_comment_created_by.avatar %}https://{{site.subdomain_key}}.microco.sm{{item.last_comment_created_by.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{item.last_comment_created_by.profile_name }}" align="left" class="gravatar-small" /></a>{% endif %}</td>
						<td>{% if item.last_comment_created %}<small><a href="{% url 'single-profile' item.last_comment_created_by.id %}">{{ item.last_comment_created_by.profile_name|truncatechars:25 }}</a></small>{% endif %}</td>
					</tr>					
					<tr>
						<td><small class="nowrap"><i class="glyphicon glyphicon-eye-open buffer-right"></i> {{ item.total_views }}</small></td>
						<td>{% if item.last_comment_created %}<small class="text-muted"><time datetime="{{ item.last_comment_created|date:"c" }}"></time></small>{% endif %}</td>
					</tr>					
				</tbody>
			</table>
		</section>

		<!-- <hr class="col-offset-1 col col-sm-15" /> -->
	{% endfor %}

	{% include "pagination_nav.html" %}

{% endblock %}

{% block sidebar%}

	{% if user %} {% if not content.meta.flags.iswatched %}
	<form method="POST" action="" id="subscribe_form">
		{% csrf_token %}
		<input type="hidden" name="alert_type_id" value="8">
		<input class="btn btn-default btn-block" id="watch" type="submit" value="Watch this microcosm" />
		<p/>
	</form>
	{% else %}
	<p class="text-muted">You are watching this microcosm</p>
	{% endif %}{% endif %}

	<p id="microcosm_description">{{ content.description }}</p>

	<p class="text-muted hidden-xs">
		Created by <a href="{% url 'single-profile' content.meta.created_by.id %}">{{ content.meta.created_by.profile_name|truncatechars:25 }}</a><br />
		<time datetime="{{ content.meta.created|date:"c" }}"></time>
	</p>

	{% if content.meta.permissions.update %}
	<p class="hidden-xs">
		<a id="edit_microcosm" href="{% url 'edit-microcosm' content.id %}">Edit Microcosm</a>

		{% if content.meta.permissions.delete %}
		<form method="POST" action="{% url 'delete-microcosm' content.id %}" id="microcosm_delete_form" class="hidden-xs">
			{% csrf_token %}
			<a id="delete-microcosm" href="#" onClick="if (confirm('Delete is a one-way action, are you sure?')) {$('#microcosm_delete_form').submit()}" class="text-danger">Delete Microcosm</a>
		</form>
		{% endif %}
	</p>
	{% endif %}

	{% if content.meta.permissions.create %}
		<a class="btn btn-primary btn-block" id="create_item" href="{% url 'item-choice' content.id %}">Create item</a>
	{% endif %}

{% endblock%}