<div id="modal-signin" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header navbar-header-wrapper tiling-bg">
        <img src="{% if site.logo_url %}{{ site.logo_url }}{% else %}{{ STATIC_URL }}themes/1/logo.png{% endif %}" alt="{{ site.title | safe }} - Powered by Microcosm" id="logo" />
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">

        <h3>{{ site.title | safe }}</h3>
        <p>{{ site.description | safe }}</p>

        <div class="modal-buttons">
          <button class="btn btn-lg btn-primary" onclick="login()">Sign in or Register to continue</button>
        </div>
      </div>
      <div class="modal-footer">
        Powered by <a href="#">Microcosm</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>