{% extends 'base.html' %}
{% block content %}
          <div class="content-header padded">
            <div class="row">
              <div class="col-xs-12">
                {% include 'breadcrumbs.html' %}
              </div>
            </div>
          </div>

          <div class="content-body">

            <div class="profile-header">

              <img class="profile-header-avatar"
                   src="{% if 'gravatar' in content.avatar %}{{content.avatar}}{% elif 'files' in content.avatar %}https://{{site.subdomain_key}}.microco.sm{{content.avatar}}{% else %}/static/img/avatar.gif{% endif %}" class="gravatar" alt="Avatar for {{ content.profile_name }}" />
              <div class="profile-header-text">
                <h1>{{content.profile_name}}</h1>
                Member since {{ content.created|date:"M Y" }}
                &bull;
                Last active {{content.last_active|date:"M Y"}}
              </div>
               <ul class="list-stats profile-header-stats">
                  <li>
                    <span>{{content.item_count}}</span>
                    conversations
                  </li>
                  <li>
                    <span>{{content.comment_count}}</span>
                    comments
                  </li>
                </ul>
            </div> <!-- /profile-header -->

{% comment %}
            {% if description %}
            <div class="comment-item-body profile-description">
              {% autoescape off %} {{ description.text }} {% endautoescape %}
            </div> <!-- /profile-description -->
            {% endif %}

            <div class="profile-section">
              <h2>Events attending</h2>
              {% with events_attending as items %}
                {% include 'microweb_templates/list_items.html' %}
              {% endwith %}
            </div>

            <div class="profile-section">
              <h2>Events attended</h2>
              {% with events_attended as items %}
                {% include 'microweb_templates/list_items.html' %}
              {% endwith %}
            </div>


            {% if recent_comments.count > 0 %}
            <div class="profile-section">
              <h2>Recent comments</h2>

              <ul class="list-collection bordered padded">
              {% for comment in recent_comments %}
                <li class="list-collection-row">
                  <div class="row">
                    <div class="col-xs-12">

                      <div class="list-collection-row-icon">
                        {% if comment.item.item_type == "conversation" %}
                          <span class="glyphicon glyphicon-comment"></span>
                        {% endif %}
                        {% if comment.item.item_type == "event" %}
                          <span class="glyphicon glyphicon-calendar"></span>
                        {% endif %}
                      </div>

                      <div class="list-collection-row-offset">

                        <div class="row-title-wrapper">
                          <a href="{% url 'items' comment.item.microcosm.name|slugify|default:'general' comment.item.name|slugify %}">
                            <h3 class="row-title">{{ comment.item.name }}</h3>
                          </a>
                          in
                          <a href="{% url 'microcosms' comment.item.microcosm.name|slugify|default:'general' %}">
                            {{ comment.item.microcosm.name }}
                          </a>
                        </div>

                          <div class="row-meta">
                            <a href="{% url 'profile' comment.item.last_reply.author.name|slugify %}">
                              @{{ comment.item.last_reply.author.name }}
                            </a> replied {{ comment.item.last_reply.timeago }} ago
                          </div>
                          <div class="comment-item-body recent-comment-body">
                            {% autoescape off%}
                            {{ comment.text }}
                            {% endautoescape %}
                          </div>
                          <div class="recent-comment-footer">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                            <a href="{% url 'items' comment.item.microcosm.name|slugify|default:'general' comment.item.name|slugify %}">
                              {% if comment.item.item_type == "conversation" %}
                              view conversation
                              {% endif %}
                              {% if comment.item.item_type == "event" %}
                              view event
                              {% endif %}
                            </a>
                            &bull;
                            {{ comment.item.last_reply.timeago }} ago
                          </div>
                      </div>

                    </div>
                  </div>
                </li>
              {% endfor %}
              </ul>

            </div> <!-- /profile-section -->

            {% endif %}

{% endcomment %}
          </div>

{% endblock content %}
{% block sidebar %}

          <div class="metabar-module">
            <h5>Got something to add?</h5>
            <div class="metabar-module-primary-buttons">
              <a href="#" class="btn btn-large btn-block btn-primary">
                <span class="glyphicon glyphicon-envelope"></span> Send message
              </a>
            </div>
          </div> <!-- primary actions -->

          <div class="metabar-module">
            <h5>Profile</h5>
            <div class="metabar-module-title">
              <h3>
                {{ content.profile_name }}
              </h3>
              <div class="follow">
                <button class="btn btn-xsmall btn-primary">Follow</button>
              </div>
            </div>
          </div> <!-- / about -->

{% endblock %}