{% extends 'base.html' %}profile

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/profiles/?top=true">Profiles</a></li>
		<li class="active"><a href='{{ content.meta.links.self.href|slice:"7:" }}'>{{ content.profile_name }}</a></li>
	</ol>
{% endblock %}

{% block content %}
    <h1 id="profile-name"><img src="{% if 'gravatar' in content.avatar %}{{content.avatar}}{% elif 'files' in content.avatar %}https://{{site.subdomain_key}}.microco.sm{{content.avatar}}{% else %}/static/img/avatar.gif{% endif %}" class="gravatar" alt="Avatar for {{ content.profile_name }}" /> {{content.profile_name}}</h1>

    <h3>Statistics</h3>
    <ul>
        <li>Created: {{content.created}}</li>
        <li>Last active: {{content.last_active}} </li>
        <li>Comment count: {{content.comment_count}}</li>
    </ul>

{% endblock %}