{% extends 'base.html' %}
{% load microcosm %}
{% load profile %}
{% load conversation %}
{% load event %}
{% load list_comment %}
{% load huddle %}
{% block title %}Search for {{ content.query.searched }}{% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %} | {{ site.title }}{% endblock title %}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-6">
			{% include 'breadcrumbs.html' %}
		</div>
		<div class="col-sm-6">
			{% include 'pagination.html' %}
		</div>
	</div>
	<h1>Search results for: {{ content.query.searched }}</h1>
	<p class="text-muted">
		{{ content.results.total }} matches.  Search took {{ content.time_elapsed }} seconds.
	</p>
</div>

<div class="content-body">
{% if content.results.items|length == 0 %}
<div class="list-search-empty bordered padded">
	<h2>
		We couldn't find any items that matched your search.
	</h2>
	<p>
		<h3>Suggestions:</h3>
		<ul>
			<li>Make sure that all words are spelled correctly.</li>
			<li>Try different or more general keywords.</li>
		</ul>
	</p>
</div>
{% else %}

	<div class="list-search">

		<ul class="list-collection bordered padded">
			{% for result in content.results.items %}

				{% if result.item_type == 'conversation' %}

					{% conversation result %}

				{% elif result.item_type == 'event' %}

					{% event result %}

				{% elif result.item_type == "microcosm" %}

					{% microcosm result %}

				{% elif result.item_type == "profile" %}

					{% profile result %}

				{% elif result.item_type == "comment" %}

					{% list_comment result %}

				{% elif result.item_type == "huddle" %}

					{% huddle result %}

				{% else %}

				{% endif %}
		{% endfor %}
	</ul>

</div>
{% endif %}

</div> <!-- /content-body -->

<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-7">
		</div>
		<div class="col-sm-5">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>



{% endblock %}

{% block sidebar %}

<div class="metabar-module metabar-filters">
	<h5>Filters</h5>
	<div class="metabar-module-title">
		<h3>
			Show me ...
		</h3>
	</div>
	<div class="metabar-module-body">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-microcosm">
						<input id="filter-microcosm" type="checkbox" name="type" value="microcosm" {% if "microcosm" in content.type %}checked="checked"{% endif %}/>
						Forums
					</label>
				</div>
			</li>
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-conversation">
						<input id="filter-conversation" type="checkbox" name="type" value="conversation" {% if "conversation" in content.type %}checked="checked"{% endif %}/>
						Conversations
					</label>
				</div>
			</li>
			<li class="list-group-item">
				<div class="checkbox">
						<label for="filter-events">
							<input id="filter-events" type="checkbox"  name="type" value="event" {% if "event" in content.type %}checked="checked"{% endif %}/>
							Events
						</label>
				</div>
			</li>
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-huddles">
						<input id="filter-huddles" type="checkbox" name="type" value="profile" {% if "profile" in content.type %}checked="checked"{% endif %}/>
						Profile
					</label>
				</div>
			</li>

		</ul>
	</div>
	<div class="metabar-module-title">
		<h3>
			Options
		</h3>
	</div>
	<div class="metabar-module-body">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-intitle">
						<input id="filter-intitle" type="checkbox" name="inTitle" value="true" {% if content.query.inTitle %}checked="checked"{% endif %}/>
						Only search titles
					</label>
				</div>
			</li>
		</ul>
	</div>
</div> <!-- / filters -->

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/filters.js"></script>
<script type="text/javascript">
(function(){
	window.search_filters = new Filters({
		el     : '.metabar-filters',
		query  : '{{ content.query.searched | urlencode }}',
		url    : '?q=$1'
	});
})();
</script>
{% endblock %}
