{% extends 'base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active"><a href='/updates/'>Updates</a></li>
    </ol>
{% endblock %}

{% block content %}
    <section class="row margin-bottom-half">
    <h1>Updates</h1>
    </section>
    {% if not content.updates.items %}
        <p>No updates yet. When your username is mentioned or a new comment is posted on an item you're watching, it'll show here.</p>
    {% else %}
        {% include "pagination_nav.html" %}
        {% for update in content.updates.items %}
            <section class="row">
            <table class="col col-md-16">
                <tbody>
                    <tr>
                        <td rowspan="2" width="42">
            {% if update.parent_item_type == "conversation" %}<span class="glyphicon glyphicon-comment text-muted" style="font-size:36px;line-height:48px;margin-top:-10px;"></span>
            {% elif update.parent_item_type == "event" %}<span class="glyphicon glyphicon-calendar text-muted" style="font-size:36px;line-height:48px;margin-top:-5px;"></span>
            {% elif update.item_type == "conversation" %}<span class="glyphicon glyphicon-comment text-muted" style="font-size:36px;line-height:48px;margin-top:-10px;"></span>
            {% elif update.item_type == "event" %}<span class="glyphicon glyphicon-calendar text-muted" style="font-size:36px;line-height:48px;margin-top:-5px;"></span>
            {% endif %}</td>
                        <td>                    <span>
                        {% if update.update_type == "new_comment" %}
                            <a href="{{ update.parent_link }}/newest/">{{ update.parent_item.title }}</a>
                        {% elif update.update_type == "reply_to_comment" %}
                            <a href="{{ update.profile_link }}">@{{ update.item.meta.created_by.profile_name }}</a>
                            replied to your comment on <a href="{{ update.parent_link }}">{{ update.parent_item.title }}</a>
                            <br />
                            {{ update.item.html|safe}}
                        {% elif update.update_type == "mentioned" %}
                            <a href="{{ update.profile_link }}">@{{ update.item.meta.created_by.profile_name }}</a>
                            mentioned you in <a href="{{ update.parent_link }}">{{ update.parent_item.title }}</a>
                            <br />
                            {{ update.item.html|safe}}
                        {% elif update.update_type == "new_comment_in_huddle" %}
                            <a href="{{ update.item_link }}">
                            {% if update.item_type == "conversation" or update.item_type == "event" %}
                                {{ update.item.title }}
                            {% elif update.item_type == "comment" %}
                                {{ update.item.html|safe }}
                            {% endif %}
                            </a>
                        {% elif update.update_type == "new_attendee" %}
                            <a href="{{ update.item_link }}/newest/">{{ update.item.title }}</a>
                        {% elif update.update_type == "new_vote" %}
                            <a href="{{ update.item_link }}/newest/">
                            {% if update.item_type == "conversation" or update.item_type == "event" %}
                                {{ update.item.title }}
                            {% elif update.item_type == "comment" %}
                                {{ update.item.html|safe }}
                            {% endif %}
                            </a>
                        {% elif update.update_type == "event_reminder" %}
                            <a href="{{ update.item_link }}">
                            {% if update.item_type == "conversation" or update.item_type == "event" %}
                                {{ update.item.title }}
                            {% elif update.item_type == "comment" %}
                                {{ update.item.html|safe }}
                            {% endif %}
                         </a>
                        {% elif update.update_type == "new_item" %}
                            <a href="{{ update.item_link }}/newest/">{{ update.item.title }}</a> was started in
                            <a href="{{ update.parent_link }}">{{ update.parent_text }}</a>
                        {% endif %}
                    </span><br />
                    <span class="text-muted">→ <a href="{{ update.parent_link }}">view 
                {% if update.parent_item_type == "conversation" %}conversation
                {% elif update.parent_item_type == "event" %}event
                {% elif update.parent_item_type == "poll" %}poll
                {% elif update.item_type == "conversation" %}conversation
                {% elif update.item_type == "event" %}event
                {% elif update.item_type == "poll" %}poll
                {% endif %}</a></span> • <time datetime="{{ update.item.meta.created|date:"c" }}"></time>
                </div></td>
                    </tr>
                </tbody>
            </table>
            </section>
        <hr style="margin-top:12px;margin-bottom:12px" />
        {% endfor %}
        {% include "pagination_nav.html" %}
    {% endif %}
{% endblock %}

{% block sidebar%}
    <a href="/updates/settings/">Update Settings</a>
{% endblock%}
