<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link rel="preconnect" href="https://{{ site.subdomain_key }}.microco.sm">
		<link rel="preconnect" href="https://login.persona.org">
		<link rel="preconnect" href="https://static.login.persona.org">
		<link rel="preconnect" href="https://fonts.googleapis">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<title>{% block title %}{% endblock %}</title>
		<meta name="Description" content="{% block description %}{% endblock %}">
		
		<meta name="referrer" content="origin">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<!--[if lt IE 9]>
		  <script src="{{ STATIC_URL }}3rd/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="{{ STATIC_URL }}3rd/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link href="{{ STATIC_URL }}themes/{{ site.theme_id|default:"1" }}/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		{% if site.favicon_url %}<link rel="shortcut icon" href="{{ site.favicon_url }}" />{% else %}<link rel="shortcut icon" href="/static/img/favico.png" />{% endif %}

		<meta name="subdomain" content="https://{{ site.subdomain_key }}.microco.sm" />

		<style type="text/css" id='site-style'>
		a, a:hover, a:focus, a:active {
			color: {{ site.link_color }};
		}
		body {
			background-color: {{ site.background_color }};
			{% if site.background_url %}
			background-image: url('{{ site.background_url }}');
				{% if site.background_position == "tile" %}
					background-repeat: repeat;
				{% elif site.background_position == "cover" %}
					background-size: cover;
					background-attachment: fixed;
				{% elif site.background_position == "tall" %}
					background-size: 150% 100%;
					background-attachment: fixed;
					background-position-x: 50%;
				{% elif site.background_position == "wide" %}
					background-size: 100% 150%;
					background-attachment: fixed;
					background-position-y: 50%;
				{% else %}
					background-repeat: no-repeat;
					background-position: {{site.background_position}} top;
				{% endif %}
			{% endif %}
		}

		#auth0signin, #auth0signin:focus, #auth0signin:active {
		    /* Remove all decorations to look like normal text */
		    background: none;
		    border: none;
		    display: inline;
		    font: inherit;
		    margin: 0;
		    padding: 0;
		    outline: none;
		    outline-offset: 0;
		    /* Additional styles to look like a link */
		    cursor: pointer;
		    text-decoration: underline;
		}
		/* Remove extra space inside buttons in Firefox */
		#auth0signin::-moz-focus-inner {
		    border: none;
		    padding: 0;
		}
		</style>
		{% block css %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header-wrapper tiling-bg" id="headerBackground">
				<div class="container">
					<div class="row">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header col-xs-12">
							<button type="button" class="navbar-toggle-btn navbar-toggle menu-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="sprite sprite-drawer"></span>
							</button>

							<button type="button" class="navbar-toggle-btn metabar-toggle">
								<span class="sr-only">Toggle metabar</span>
								<span class="sprite sprite-menu-2"></span>
							</button>

							<div class="row">
								<div class="col-sm-3 col-md-3 col-lg-2 navbar-brand">
									<a href="/" title="Return to Homepage"><img src="{{ site.logo_url }}" alt="{{ site.title | safe }} - Powered by Microcosm" id="logo" /></a>
								</div>

								<div class="col-md-3 col-lg-3 navbar-profile">
									{% if user %}
										<div class="navbar-profile-row-1">
											<span id="logout" class="navbar-profile-logout" onclick="authSignout();"><a href="#" title="Sign out" class="sprite sprite-logout"></a></span>

											<div class="navbar-profile-row-1-left">
												<a href="{% url 'single-profile' user.id %}" title="View your profile" class="navbar-profile-avatar"><img src="{% if 'gravatar' in user.avatar %}{{user.avatar}}{% elif 'files' in user.avatar %}https://{{site.subdomain_key}}.microco.sm{{user.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ user.profile_name }}" title="Edit your profile" /></a>
												<a href="{% url 'single-profile' user.id %}" title="View your profile" id="profile" class="navbar-profile-name"><strong>{{ user.profile_name | safe }}</strong></a>
												<a id="edit_profile" class="navbar-profile-edit" href="{% url 'edit-profile' user.id %}"><span class="sprite sprite-pencil-small"></span><span class="navbar-profile-edit-text">Edit Profile</span></a>
												<a class="navbar-profile-row-1-huddles" href="{% url 'list-huddle' %}">{% if user and user.meta.stats.unreadHuddles > 0 %}<span class="label label-warning">{{ user.meta.stats.unreadHuddles }} <span class="sprite sprite-envelope"></span></span>{% else %}<span class="sprite sprite-envelope"></span>{% endif %}</a>
											</div>

										</div>
										<div class="navbar-profile-row-2">
											<a href="{% url 'list-huddle'%}">{% if user and user.meta.stats.unreadHuddles > 0 %}<span class="label label-warning">{{ user.meta.stats.unreadHuddles }} <span class="sprite sprite-envelope-small"></span></span>{% else %}<span class="sprite sprite-envelope-small"></span>{% endif %} <strong>Messages</strong></a>
										</div>
									{% else %}
										<div class="navbar-profile-row-4">
										Browsing as <strong>guest</strong>.
										</div>
										<div class="navbar-profile-row-5">
											<button id="login" class="btn btn-primary" onclick="authSignin();">
												Sign In or Register
											</button>
										</div>
									{% endif %}
								</div><!-- /.navbar-profile -->
							</div>
						</div>

					</div>
				</div>
			</div> <!-- / navbar-header-wrapper -->
			<div class="navbar-nav-wrapper container">
				<div class="row">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse">

							{% if not user %}
							<ul class="nav navbar-nav navbar-nav-unregistered">
								<li class="lh">Join our community</li>
								<li>
									<a href="#" id="loginNavbar" onclick="authSignin();">
										<span class="btn btn-primary btn-block">Sign in or Register</span>
									</a>
								</li>
							</ul>
							{% else %}
							<div class="navbar-profile">
								<div class="navbar-profile-row-1">
									<div class="navbar-profile-row-1-left">
										<a href="{% url 'single-profile' user.id %}" title="Edit your profile" class="navbar-profile-avatar"><img src="{% if 'gravatar' in user.avatar %}{{user.avatar}}{% elif 'files' in user.avatar %}https://{{site.subdomain_key}}.microco.sm{{user.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ user.profile_name }}" /></a>
										<a href="{% url 'single-profile' user.id %}" title="Edit your profile" class="navbar-profile-name"><strong>{{ user.profile_name | safe }}</strong></a>
										<a class="navbar-profile-row-1-huddles" href="{% url 'list-huddle' %}">{% if user and user.meta.stats.unreadHuddles > 0 %}<span class="label label-warning">{{ user.meta.stats.unreadHuddles }} <span class="sprite sprite-envelope"></span></span>{% else %}<span class="sprite sprite-envelope"></span>{% endif %}</a>
									</div>
								</div>
								<div class="navbar-profile-row-2">
									<a href="{% url 'list-huddle'%}">{% if user and user.meta.stats.unreadHuddles > 0 %}<span class="label label-warning">{{ user.meta.stats.unreadHuddles }} <span class="sprite sprite-envelope-small"></span></span>{% else %}<span class="sprite sprite-envelope-small"></span>{% endif %} <strong>Messages</strong></a>
								</div>
							</div>
							{% endif %}
							<ul class="nav navbar-nav">
								<li class="col-sm-4 col-md-3 navbar-nav-search">
									<form class="navbar-form navbar-left" role="search" action="{% url 'single-search' %}">
										<div class="input-group">
											<input
												type="text"
												id="navbar-search-input"
												class="form-control"
												name="q"
												placeholder="Search"
												{% if content.query.q and not site_section == 'today' %}value="{{content.query.q | escape}}"{% endif %}
												tabindex="1"
											/>
											{% if not content.query or site_section == 'today' %}
											<input type="hidden" name="defaults" value="true" />
											{% endif %}
											<span class="input-group-btn">
												<button class="btn btn-default"><span class="sprite sprite-search-small"></span></button>
											</span>
										</div>
									</form>
								</li>
								<li class="lh">Pages</li>
								<li class="first {% if not site_section or site_section == "microcosm"%}active{% endif %}">
									<a href="{% url 'index' %}">Forums</a>
								</li>
								<li {% if site_section == "today"%}class="active"{% endif %}>
									<a href="{% url 'single-today'%}">Today</a>
								</li>
								<li {% if site_section == "updates"%}class="active"{% endif %}>
									<a href="{% url 'list-updates' %}">Following</a>
								</li>
								<li {% if site_section == "people"%}class="active"{% endif %}>
									<a href="{% url 'list-profiles' %}?top=true">People</a>
								</li>

								{% if site.menu|length > 1 %}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{site.title}} <b class="caret"></b></a>
									<ul class="dropdown-menu">
									{% for menu_item in site.menu %}
										<li><a href="{{ menu_item.href }}"{% if menu_item.title %} title="{{menu_item.title}}"{% endif %}>{{menu_item.text}}</a></li>
									{% endfor %}
									</ul>
								</li>
								{% endif %}
							</ul>
							{% if user %}
							<ul class="nav navbar-nav navbar-nav-registered">
								<li class="lh">Your account</li>
								<li>
									<a href="{% url 'edit-profile' user.id %}">Edit profile</a>
								</li>
								<li>
									<a href="{% url 'updates-settings' %}">Notification Settings</a>
								</li>
								<li>
									<a href="#" id="logoutNavbar" onclick="authSignout();">Sign out</a>
								</li>
							</ul>
							{% endif %}
					</div><!-- /.navbar-collapse -->
				</div>
			</div> <!-- / navbar-nav-wrapper -->
		</nav> <!-- /nav -->

		<div class="container main">
			<div class="row">
				<div class="col-md-9 content">
					{% block content %}{% endblock content %}
				</div> <!-- / content -->
				<div class="col-md-3 metabar">
					{% block sidebar %}{% endblock %}
				</div> <!-- / metabar -->
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<ul class="clearfix footnav">
					<li><a href="{% url 'index' %}">Forums</a></li>
					<li><a href="{% url 'single-today'%}">Today</a></li>
					<li><a href="{% url 'list-updates' %}">Following</a></li>
					<li><a href="{% url 'list-profiles' %}?top=true">People</a></li>
					<li><a href="#" onClick="$('html, body').animate({ scrollTop: 0 }, 'fast'); return false;">Top</a></li>
				</ul>
				<hr />
				<p>&copy; {{ site.title }}, powered by <a href="http://microco.sm/">microcosm</a>.</p>
				<p class="links">
					<a href="{% url 'list-legal' %}">About</a>
					<a href="{% url 'single-legal' 'terms' %}">Terms of Use</a>
					<a href="{% url 'single-legal' 'privacy' %}">Privacy Policy</a>
					<a href="{% url 'single-legal' 'cookies' %}">Cookie Policy</a>
					<a href="mailto:founders@microcosm.cc">Report a problem</a>
				</p>
			</div>
		</div>

        {% if not user %}
        <div id="modal-signin" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header navbar-header-wrapper tiling-bg">
                        <img src="{{ site.logo_url }}" alt="{{ site.title | safe }} - Powered by Microcosm" id="logo" />
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">

                        <h3>{{ site.title | safe }}</h3>
                        <p>{{ site.description | safe }}</p>

                        <div class="modal-buttons">
                            <button class="btn btn-lg btn-primary" onclick="authSignin();">Sign in or Register to continue</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        &copy; {{ site.title }}, powered by <a href="http://microco.sm/">microcosm</a>.<br/>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
		{% endif %}

		<script src="{{ STATIC_URL }}3rd/jquery/1.10.2/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}3rd/moment.js/2.10.6/moment.min.js"></script>
		<script src="{{ STATIC_URL }}3rd/prettify/r298/prettify.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/base.js"></script>
		<script src="{{ STATIC_URL }}js/metabar.js?v=20160619"></script>

		<!-- Signout form is universal to all auth methods -->
		<form id="signout-form" class="hidden" method="POST" action="{% url 'logout' %}">
			{% csrf_token %}
		</form>

		{% if site.auth0_domain and site.auth0_client_id %}
			{% if not user %}
				<script src="{{ STATIC_URL }}3rd/auth0/lock-passwordless/2.2.3/lock-passwordless.min.js"></script>
				<script type="text/javascript">
				function auth0signin() {
					var domain = '{{ site.auth0_domain }}';
					var clientID = '{{ site.auth0_client_id }}';
					var opt = {
						autoclose: true,
						{% if site.auth0_domain == "rapha.auth0.com" %}{% else %}connections: [{% if site.auth0_domain == "espruino.eu.auth0.com" %}'google-oauth2','github'{% else %}'google-oauth2','windowslive'{% endif %}],{% endif %}
						dict: {
							title: 'Sign in'
						},
						icon: '{{ site.logo_url }}',
						defaultLocation: 'GB',
						focusInput: false,
						popup: false,
						primaryColor: '{{ site.link_color }}',
						socialBigButtons: true,
						authParams: {
							state: '{{ request.get_full_path }}'
						},
						callbackURL: '{{ site.site_url }}/auth0login/',
						responseType: 'code'
					};
					var lock = new Auth0LockPasswordless(clientID, domain);
					{% if site.auth0_domain == "rapha.auth0.com" %}lock.emailcode(opt);{% else %}lock.socialOrEmailcode(opt);{% endif %}
				}
				function authSignin() {
					auth0signin();
				}
				</script>
			{% else %}
				<script type="text/javascript">
				function authSignout() {
					document.getElementById("signout-form").submit();
				}
				</script>
			{% endif %}
		{% else %}
			<!-- <script src="https://login.persona.org/include.js"></script> -->
			<script src="{{ STATIC_URL }}js/mozpersona.js"></script>
			<!-- Persona signin -->
			<form id="signin-form" class="hidden" method="POST" action="{% url 'login' %}">
				<!-- {% csrf_token %} -->
				<input id="Assertion" type="hidden" name="Assertion" value="" />
				<input id="target_url" type="hidden" name="target_url" value="{{request.get_full_path}}" />
			</form>

			{% if not user.meta.permissions.banned %}
				<script type="text/javascript">
				function personaSignin() {
					navigator.id.request({"siteLogo": "{% if site.logo_url %}{{ site.logo_url }}{% else %}{{ STATIC_URL }}themes/1/logo.png{% endif %}"});
				}
				function personaSignout() {
					navigator.id.logout();
					document.getElementById("signout-form").submit();
				}
				navigator.id.watch({
					loggedInUser: {% if user.email %}'{{user.email}}'{% else %}null{% endif %},
					onlogin: function(assertion) {
						{% if user.email %}return false;{% endif %}
						document.getElementById("Assertion").value = assertion;
						document.getElementById("signin-form").submit();
					},
					onlogout: function() {
						{% if user.email %}return false;{% endif %}
						document.getElementById("signout-form").submit();
					},
				});
				function authSignin() {
					personaSignin();
				}
				function authSignout() {
					personaSignout();
				}
				</script>
			{% endif %}
		{% endif %}

{% block js %}{% endblock js%}
<script type="text/javascript">
{% if site.subdomain_key == 'dev1' or site.subdomain_key == 'dev2' %}window['ga-disable-UA-36951023-2'] = true;{% endif %}
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','{{ STATIC_URL }}3rd/isogram/201606011835/isogram.js','isogram');
isogram('create', 'UA-36951023-2', 'auto');
{% if user %}isogram('set', 'userId', {{user.id}});{% endif %}
isogram(function(tracker) {
	tracker.set('sendHitTask', function(model) {
		var payLoad = model.get('hitPayload');
		var isogramRequest = new XMLHttpRequest();
		isogramRequest.open('get','/isogram?ua='+encodeURI(window.navigator.userAgent)+'&'+payLoad,true);
		isogramRequest.send();
	});
});
isogram('send', 'pageview');

{% if site.ga_web_property_id %}
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', '{{ site.ga_web_property_id }}', 'auto');
{% if user %}ga('set', 'userId', {{user.id}});{% endif %}
ga('send', 'pageview');
{% endif %}
</script>
	</body>
</html>
