<li class="list-collection-row" id="{{ microcosm.itemType }}{{ microcosm.item.id }}">
	<div class="row">
		<div class="col-sm-12">
			<div class="list-collection-row-icon">
				<a class="sprite sprite-microcosm" title="Microcosm"></a>
			</div>
			<div class="list-collection-row-offset">
				<div class="row-title">
					<h3 class="row-title">
						<a href="{{ microcosm.item.meta.links.self.href }}">{{ microcosm.item.title | safe }}</a>
						{% if microcosm.unread %}
							<span class="label label-warning">NEW</span>
						{% endif %}
					</h3>
				</div>
				<div class="row-meta">
					{{ microcosm.item.description | safe }}
				</div>
			</div>
		</div>
	</div>
</li>
