{% load humanize %}
<li class="list-collection-row{% if item.meta.flags.sticky %} row-pinned{% endif %} {% if item.is_deleted %} row-deleted{% endif %}" id="{{ item_type }}{{ item.id }}" itemscope itemtype="http://schema.org/Event">
	<div class="row block">
		<div class="col-sm-8">
			<div class="cell-icon">
				{% if not item.meta.flags.open %}
				<a class="sprite sprite-lock" title="Closed event"></a>
				{% elif item.meta.flags.sticky %}
				<a class="sprite sprite-pushpin" title="Pinned event"></a>
				{% else %}
				<a class="sprite sprite-calendar" title="Event"></a>
				{% endif %}
			</div>
			<div class="cell-icon-offset">
				<h3 class="cell-title" itemprop="name">
					<a href="/events/{{ item.id }}/{% if user %}newest/{% endif %}" itemprop="url">{% if item.highlight %}{{ item.highlight | safe }}{% else %}{{ item.title | safe }}{% endif %}</a>
					{% if unread or item.unread or item.meta.flags.unread %}<span class="label label-warning">NEW</span>{% endif %}
				</h3>
				{% if item.meta.created_by %}
				<div class="cell-started">
					<span itemprop="attendee" itemscope itemtype="http://schema.org/Person"><a href="{% url 'single-profile' item.meta.created_by.id %}" itemprop="url">@<span itemprop="name">{{ item.meta.created_by.profile_name | safe | truncatechars:25 }}</span></a></span> {% if user %}<a href="/events/{{ item.id }}/" >{% endif %}started{% if user %}</a>{% endif %} <time datetime="{{ item.meta.created|date:"c" }}"></time>
				</div>
				{% endif %}
				<div class="cell-meta-event">
					{% if item.when %}
					<span>
						<time class="plain" datetime="{{item.when|date:"c"}}" itemprop="startDate">{{ item.when|date:"N jS" }}</time>
					</span>
					{% else %}
					<span>
						<time class="plain" title="Date to be determined">TBD</time>
					</span>
					{% endif %}
					{% if item.where %}
					<span class="cell-meta-event-where" itemprop="location" itemscope itemtype="http://schema.org/Place">
						<span itemprop="name" title="{{ item.where | safe }}">{{ item.where | safe }}</span>
					</span>
					{% else %}
					<span class="cell-meta-event-where">
						<span title="Location to be determined">TBD</span>
					</span>
					{% endif %}
				</div>
				{% if showForum %}
				<div class="cell-forum">
					in <a href="{{ item.meta.links.microcosm.href }}">{{ item.meta.links.microcosm.title | safe }}</a>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col-sm-4">
			<div class="cell-stats">
				<ul class="list-stats list-stats-sm">
					{% if item.total_comments >= 0%}
					<li>
						<span>{{ item.total_comments | default:0 | intcomma }}</span>
						comment{{ item.total_comments | pluralize:",s" }}
					</li>
					{% endif %}
					{% if item.total_views >= 0%}
					<li>
						<span>{{ item.total_views | default:0 | intcomma }}</span>
						view{{ item.total_views | pluralize:",s" }}
					</li>
					{% endif %}
				</ul>
			</div>
			<div class="cell-recent">
				{% if item.last_comment_created %}
					<a href="{% url 'single-profile' item.last_comment_created_by.id %}">@{{item.last_comment_created_by.profile_name | safe }}</a> <a href="{% url 'incontext-comment' item.last_comment_id %}">replied</a> <time datetime="{{ item.last_comment_created|date:"c" }}"></time>
				{% endif %}
			</div>
		</div>
	</div>
</li>
