{% load humanize %}
<li class="list-collection-row">
	<div class="row block">
		<div class="col-sm-8">
			<div class="cell-icon">
				<a class="sprite sprite-envelope" title="Message"></a>
			</div>
			<div class="cell-icon-offset">
				<h3 class="cell-title">
					<a href="{% url 'newest-huddle' item.id %}">{{ item.title | safe }}</a>
					{% if unread or item.unread or item.meta.flags.unread %}
					<span class="label label-warning">NEW</span>
					{% endif %}
				</h3>
				{% if item.meta.created_by %}
				<div class="cell-started">
					<a href="{% url 'single-profile' item.meta.created_by.id %}">@{{ item.meta.created_by.profile_name | safe | truncatechars:25 }}</a> <a href="/huddles/{{ item.id }}/" >started</a> <time datetime="{{ item.meta.created|date:"c" }}"></time>
					&bull;
				</div>
				{% endif %}
				<div class="cell-meta-huddle">
					<ul class="list-people list-people-sm">
						{% for participant in item.participants|slice:":6" %}
							<li>
								<a href="{% url 'single-profile' participant.id %}" data-toggle="tooltip" title="@{{ participant.profile_name | safe }}"><img src="{% if 'gravatar' in participant.avatar %}{{participant.avatar}}{% elif 'files' in participant.avatar %}https://{{site.subdomain_key}}.microco.sm{{participant.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ participant.profile_name | safe }}"/></a>
							</li>
						{% endfor %}
						<li>
						{% if item.participants|length > 6 %}
							+{{ item.participants|length|add:"-6" }}
						{% endif %}
						</li>
					</ul>
				</div>
			</div> <!-- /list-collection-row-offset -->
		</div> <!-- /col-sm-8 -->
		<div class="col-sm-4">
			<div class="cell-stats">
				<ul class="list-stats list-stats-sm">
					<li>
						<span stat="{{ item.total_comments | default:0 }}">{{ item.total_comments | default:0 | intcomma }}</span>
						comment{{ item.total_comments | pluralize:",s" }}
					</li>
				</ul>
			</div>
			<div class="cell-recent">
				{% if item.last_comment_created %}
					<a href="{% url 'single-profile' item.last_comment_created_by.id %}">@{{ item.last_comment_created_by.profile_name | safe | truncatechars:25 }}</a> <a href="{% url 'incontext-comment' item.last_comment_id %}">replied</a> <time datetime="{{ item.last_comment_created|date:"c" }}">{{ item.last_comment_created|timesince }}</time>
				{% else %}
					<a href="{% url 'single-profile' item.meta.created_by.id %}">@{{ item.meta.created_by.profile_name | safe | truncatechars:25 }}</a> replied <time datetime="{{ item.meta.created|date:"c" }}">{{ item.meta.created|timesince }}</time>
				{% endif %}
			</div>
		</div> <!-- /col-sm-4 -->
	</div> <!--/row -->
</li>
