{% load humanize %}
<li class="list-collection-row" id="{{ microcosm.itemType }}{{ microcosm.item.id }}">
	<div class="row">
		<div class="col-sm-7 col-md-7">
			<div class="list-collection-row-icon">
				<a class="sprite sprite-microcosm" title="Microcosm"></a>
			</div>
			<div class="list-collection-row-offset">
				<h2 class="row-title">
					<a href="{% url 'single-microcosm' microcosm.item.id %}">{{ microcosm.item.title | safe }}</a>
					{% if microcosm.item.meta.flags.unread or microcosm.unread %}<span class="label label-warning">NEW</span>{% endif %}
				</h2>
				<div class="row-meta">
					<span class="microcosm-item-description">
						{{ microcosm.item.description | safe }}
						{% if showForum and microcosm.item.meta.links.parent %}
							<br />in <a href="{{ microcosm.item.meta.links.parent.href }}">{{ microcosm.item.meta.links.parent.title | safe }}</a>
						{% endif %}
					</span>
				</div>
			</div>
			{% if showForum %}
			<div class="cell-forum">
				in 
				{% if item.breadcrumb %}
					{% for key,value in item.breadcrumb.breadcrumb.iteritems %}
						<a href="{{ value.href }}">{{ value.title | safe }}</a> {% if not forloop.last %}/{% endif %}
					{% endfor %}
				{% else %}
					<a href="{{ item.meta.links.microcosm.href }}">{{ item.meta.links.microcosm.title | safe }}</a>
				{% endif %}
			</div>
			{% endif %}
		</div>
		<div class="col-sm-5 col-md-5">
			<div class="row-stats">
				<ul class="list-stats">
					<li>
						<span>{{ microcosm.item.total_items | default:0 | intcomma }}</span>
						conversation{{ microcosm.item.total_items | default:0 | pluralize:",s" }}
					</li>
					<li>
						<span>{{ microcosm.item.total_comments | default:0 | intcomma }}</span>
						comment{{ microcosm.item.total_comments | default:0 | pluralize:",s" }}
					</li>
				</ul>
			</div>
			<div class="row-context">
				{#<input type="checkbox" class="row-admin-checkbox" /> #}
				{% if microcosm.item.most_recent_update %}
					<a href="/{{microcosm.item.most_recent_update.item_type}}s/{{microcosm.item.most_recent_update.id}}/{% if user %}newest/{% endif %}" title="{{ microcosm.item.most_recent_update.title | safe }}">{{ microcosm.item.most_recent_update.title | safe | truncatechars:30 }}</a>
					{% if microcosm.item.most_recent_update.total_comments %}
						<time datetime="{{ microcosm.item.most_recent_update.last_comment_created|date:"c" }}"></time>
						{% comment %}
						by <a href="{% url 'single-profile' microcosm.item.most_recent_update.last_comment_created_by.id %}">{{ microcosm.item.most_recent_update.last_comment_created_by.profile_name | safe }}</a>
						{% endcomment %}
					{% else%}
						<time datetime="{{ microcosm.item.most_recent_update.meta.created|date:"c" }}"></time>
						{% comment %}
						 by <a href="{% url 'single-profile' microcosm.item.most_recent_update.meta.created_by.id %}">{{ microcosm.item.most_recent_update.meta.created_by.profile_name | safe }}</a>
						{% endcomment %}
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</li>


