{% extends 'base.html' %}
{% load commentBox %}
{% load comments %}

{% block title %}{{ content.title | safe }}{% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %} | {{ site.title | safe }}{% endblock title %}

{% block description %}Where: {{ content.where }}, When: {{ content.when|date:"j F Y" }}, {{ content.comments.items.0.html | striptags }} {% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %}{% endblock description %}

{% block ga %},'dimension2': '{{ content.meta.created_by.id }}','dimension3': '{{ content.microcosm_id }}'{% endblock%}

{% block css %}
		<!-- Leaflet -->
		<link href="{{ STATIC_URL }}3rd/leaflet/0.7.7/leaflet.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
<div class="content-header padded">
	<div class="row">
		<div class="col-sm-12">
			{% include 'breadcrumbs.html' with skipself=True %}
		</div>
	</div>
</div>

<div class="content-body">
	<div class="item" itemscope itemtype="event">
		<div class="item-header padded">
			<h1 itemprop="name"><a id="title" href="{{ content.meta.links.self.href }}">{{ content.title | safe }}</a></h1>
			<div class="row">
				<div class="item-meta col-sm-6">
					Posted on <strong><time class="plain" itemprop="dateCreated" datetime="{{content.meta.created|date:"c"}}">{{ content.meta.created|date:"D jS, F Y"}}</time></strong>
					{# {% include "forms/content-moderation.html" %} #}
				</div>
				<div class="col-sm-6">
					{% include 'pagination.html' %}
				</div>
			</div>
		</div>

		{% if content.comments.page > 1 %}
			{% include 'event_header_small.html' %}
		{% else %}
			{% if content.where and content.lat and content.lon %}
				{% include 'event_header_large.html' %}
			{% else %}
				{% include 'event_header_small.html' %}
			{% endif %}
		{% endif %}

		{# {% include "forms/content-moderation.html" %} #}

	</div> <!-- item -->

	<ul class="list-comments">
		{% comments content.comments.items %}
	</ul>

	{# {% include "forms/content-moderation.html" %} #}

</div> <!-- / content-body -->

<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-6"></div>
		<div class="col-sm-6">{% include 'pagination.html' %}</div>
	</div>
</div> <!-- /content-footer -->

<a id="reply"></a>
<div class="reply-container">
	<ul class="list-comments">
		<li class="comment-item padded">
			<div class="comment-item-inner">
				<div class="comment-item-header">
					<div class="comment-item-author">
						{% if user %}
							<img src="{% if 'gravatar' in user.avatar %}{{user.avatar}}{% elif 'files' in user.avatar %}https://{{site.subdomain_key}}.microco.sm{{user.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ user.profile_name | safe }}"/>
						{% else %}
							<img src="/static/img/avatar.gif" />
						{% endif %}
							<strong>Post a reply</strong>
					</div>
				</div>
				<div class="comment-item-body">
					{% commentBox %}
				</div>
			</div>
		</li>
	</ul>
</div> <!-- /reply-container -->

{% include "modal_event_attendees.html" %}


{% endblock content %}

{% block sidebar %}

	<div class="metabar-module">
		<div class="metabar-module-primary-buttons">
		{% if user %}
			<a id="post-a-reply-handle" href="#reply" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-speech-bubble-small"></span> Post a reply</a>
			{% if content.meta.permissions.update %}
			<a id="edit-event" href="{% url 'edit-event' content.id %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-pencil-small"></span> Edit Event</a>
			{% endif %}
		{% else %}
			<a href="#reply" class="btn btn-large btn-block btn-primary" data-toggle="modal" data-target="#modal-signin"><span class="sprite sprite-speech-bubble-small"></span> Post a reply</a>
		{% endif %}
		</div>
	</div> <!-- primary actions -->

	<div class="metabar-module">
		<h5>About</h5>
		<div class="metabar-module-title">
			<h3>
				{{ content.title | safe }}
			</h3>
			<p class="metabar-module-author">
				Posted by <a href="{% url 'single-profile' content.meta.created_by.id %}"><img src="{% if 'gravatar' in content.meta.created_by.avatar %}{{ content.meta.created_by.avatar }}{% elif 'files' in  content.meta.created_by.avatar  %}https://{{site.subdomain_key}}.microco.sm{{ content.meta.created_by.avatar }}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ content.meta.created_by.profile_name | safe }}" /> @{{ content.meta.created_by.profile_name | safe | truncatechars:25 }}</a> <time datetime="{{ content.meta.created|date:"c" }}"></time>
			</p>
		</div>
	</div> <!-- / about -->

	<div class="metabar-module">
		<h5>Actions</h5>
		<form class="metabar-search-form" role="search" action="{% url 'single-search' %}">
			<div class="input-group">
				<input
					type="text"
					id="navbar-search-input"
					class="form-control metabar-search-input"
					name="q"
					placeholder="Search event"
					tabindex="1"
				/>
				<input type="hidden" name="type" value="event" />
				<input type="hidden" name="type" value="comment" />
				<input type="hidden" name="id" value="{{ content.id }}" />
				<input type="hidden" name="sort" value="date" />
				<span class="input-group-btn">
					<button class="btn btn-default metabar-search-icon"><span class="sprite sprite-search-small"></span></button>
				</span>
			</div>
		</form>

		<div class="metabar-module-body">
			<p>{% include 'forms/subscribe.html' %}</p>
		</div>
	</div> <!-- / actions -->
	{% if user %}
	<div class="metabar-module">
	<h5>Controls</h5>
		{% include 'forms/metabar-moderation.html' %}

		{% if not content.meta.permissions.owner %}
		<div class="metabar-module-body">
			<form action="/ignore/" method="POST" id="ignore_form">
				{% csrf_token %}
				<input type="hidden" name="item_type" value="event" />
				<input type="hidden" name="item_id" value="{{ content.id }}" />
				{% if content.meta.flags.ignored %}
				<input type="hidden" name="delete" value="true" />
				<input type="submit" value="Unignore" class="btn btn-default btn-xs" />
				{% else %}
				<input type="submit" value="Ignore" class="btn btn-default btn-xs" />
				{% endif %}
			</form>
		</div>
		{% endif %}

		{% if content.meta.permissions.owner or content.meta.permissions.admin or content.meta.permissions.moderator %}
			<div><a id="csv-event" href="{% url 'csv-event' content.id %}">Download Attendees CSV</a></div>
		{% endif %}
	</div> <!-- / controls -->
	{% endif %}

{% endblock %}

{% block js %}

{% if content.comments.page == 1 %}
<script src="{{ STATIC_URL }}3rd/leaflet/0.7.7/leaflet.js"></script>
<script src="https://maps.google.com/maps/api/js?v=3.2&key=AIzaSyAQiDoalPm41b4e-tuIecK39xoaPPV5k3E&sensor=false"></script>

<script src="{{ STATIC_URL }}js/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/eventMap.js"></script>

<script type="text/javascript">
var lat = {{ content.lat   | default:"null" }},
    lon = {{ content.lon   | default:"null" }},
    n   = {{ content.north | default:"null" }},
    w   = {{ content.west  | default:"null" }},
    s   = {{ content.south | default:"null" }},
    e   = {{ content.east  | default:"null" }};

if (lat && lon) {
	var eventMap = new EventMap({
		map : 'map-canvas'
	});
	eventMap.restore(lat,lon,[[n,w],[s,e]]);
}
</script>
{% endif %}

{% if user %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/comments.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/formValidator.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/attachments.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Markdown.Converter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Markdown.Editor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/simpleEditor.js"></script>

<script type="text/javascript">
(function(){

	var comments = new Comments({
		el               : '.content-body',
		defaultContainer : '.reply-container',
		template         : $('.reply-container .comment-item-body').html().trim()
	});

	var replyBox = new simpleEditor({
		el : '.reply-box'
	});

	$('#post-a-reply-handle').on('click',function(e){
		var selectedText = Comments.prototype.getWindowSelectedText();
		if (selectedText){
			replyBox.textarea.value = selectedText;
			replyBox.quote();
		}
	});

	var subscribe = new Subscribe({
		el    : '.subscribe',
		url   : '{% url 'single-watcher' %}',
		id    : {{ content.id }},
		type  : '{{ item_type }}',
		token : '{{ csrf_token }}',
		is_subscribed : {{ content.meta.flags.watched|lower|default:"false" }}
	});

})();
</script>

{% endif %} {# endif user #}
{% endblock js %}
