{% extends 'base.html' %}
{% load huddle %}
{% block title %}Messages{% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %} | {{ site.title }}{% endblock title %}

{% block ga %},'dimension3': '{{ content.id }}'{% endblock%}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-12">
			{% include 'breadcrumbs.html' with skipself=True %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h1><a href="{{ content.meta.links.self.href }}">Messages</a></h1>
		</div>
		<div class="col-sm-6">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>

<div class="content-body">

{% if user %}

	{% if content.huddles.items %}
	<div class="list-huddles">
		<ul class="list-collection bordered padded">
		{% for item in content.huddles.items %}
			{% huddle item %}
		{% endfor %}
		</ul>
	</div>
	{% else %}
		<p class="row-meta">You currently have no messages.</p>
	{% endif %}
{% else %}
	<p class="row-meta">Sign-in to read your messages.</p>
{% endif %}

</div>


<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-6 pull-right">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>

{% endblock %}

{% block sidebar%}
<div class="metabar-module">
	<h5>Got something to add?</h5>
	<div class="metabar-module-primary-buttons">
		<a href="{% url 'create-huddle' %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-envelope-small"></span> Send a Message</a>
	</div>
</div> <!-- primary actions -->


<div class="metabar-module">
	<h5>About</h5>
	<div class="metabar-module-title">
		<h3>Messages</h3>
		<p>Messages are discreet conversations shared with a small group of people.</p>
		<p>When every person with access to a message has deleted it, the shared conversation and all comments will be physically deleted.</p>
	</div>
</div> <!-- / about -->
{% endblock%}