{% extends 'base.html' %}
{% load huddle %}
{% block title %}Messages{% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %} | {{ site.title }}{% endblock title %}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-12">
			{% include 'breadcrumbs.html' with skipself=True %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h1><a href="{{ content.meta.links.self.href }}">Messages</a></h1>
		</div>
		<div class="col-sm-6">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>

<div class="content-body">

{% if user %}

	{% if content.huddles.items %}
	<div class="list-huddles">
		<ul class="list-collection bordered padded">
		{% for item in content.huddles.items %}
			{% huddle item %}
		{% endfor %}
		</ul>
	</div>
	{% else %}
		<p class="row-meta">You currently have no messages.</p>
	{% endif %}
{% else %}
	<p class="row-meta">Sign-in to read your messages.</p>
{% endif %}

</div>


<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-6"></div>
		<div class="col-sm-6">{% include 'pagination.html' %}</div>
	</div>
</div>

{% endblock %}

{% block sidebar%}
<div class="metabar-module">
	<div class="metabar-module-primary-buttons">
		<a href="{% url 'create-huddle' %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-envelope-small"></span> Send a Message</a>
	</div>
</div> <!-- primary actions -->


<div class="metabar-module">
	<h5>About</h5>
	<div class="metabar-module-title">
		<h3>Messages</h3>
		<p>Messages are discreet conversations shared with a small group of people.</p>
		<p>When every person with access to a message has deleted it, the shared conversation and all comments will be physically deleted from the server.</p>
	</div>
</div> <!-- / about -->

<div class="metabar-module metabar-filters">
	<h5>Filters</h5>
	<div class="metabar-module-title">
		<h3>
			Show me ...
		</h3>
	</div>
	<div class="metabar-module-body">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-unread">
						<input id="filter-unread" type="checkbox" name="unread" value="true" {% if unread %}checked="checked"{% endif %}/>
						Unread
					</label>
				</div>
			</li>
		</ul>
	</div>
	<h5>Actions</h5>
	<form class="metabar-search-form" role="search" action="{% url 'single-search' %}">
		<div class="input-group">
			<input
				type="text"
				id="navbar-search-input"
				class="form-control metabar-search-input"
				name="q"
				placeholder="Search messages"
				tabindex="1"
			/>
			<input type="hidden" name="type" value="huddle" />
			<input type="hidden" name="defaults" value="true" />
			<span class="input-group-btn">
				<button class="btn btn-default metabar-search-icon"><span class="sprite sprite-search-small"></span></button>
			</span>
		</div>
	</form>
</div>
{% endblock%}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/filters.js"></script>
<script type="text/javascript">
(function(){
	var search_filters = new Filters({
		el     : '.metabar-filters',
		query  : '',
		url    : '?$1',
		concat_char : '&',
		param_char : '='
	});

	$('input#filter-name').on('change',function(e){
		var filter = $('input#filter-name');
		if (filter.is(':checked') && "{{q}}" === filter.val()) {
			e.stopPropagation();
		} else if (!filter.is(':checked') && "" === filter.val()) {
			e.stopPropagation();
		}
	});

	$('#select-name-prefix').on('change',function(e){
		var select = $('#select-name-prefix'),
		    filter = $('input#filter-name'),
		    original = "{{ q }}";

		if (select.val() !== "") {
			filter.val(select.val()).prop('checked', true);
			if (select.val() != original) {
				search_filters.changeHandler();
			}
		} else {
			filter.val("").prop('checked', false);
			if (select.val() != original) {
				search_filters.changeHandler();
			}
		}
	});
})();
</script>
{% endblock %}