{% extends 'base.html' %}
{% load comments %}

{% block title %}{{ content.title }}{% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %} | {{ site.title | safe }}{% endblock title %}

{% block ga %},'dimension2': '{{ content.meta.created_by.id }}'
			,'dimension3': '{{ content.microcosm_id }}'{% endblock%}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-6">
			{% include 'breadcrumbs.html' with skipself=True %}
		</div>
		<div class="col-sm-6">
			{% include 'pagination.html' %}
		</div>
	</div>
	<h1><a href="{{ content.meta.links.self.href }}">{{ content.title | safe }}</a></h1>
</div>


<div class="content-meta huddle-meta padded">
	<div class="row">
		<div class="col-sm-12">

			<ul class="list-people list-people-md">
				{% for profile in content.participants|slice:":7" %}
				<li>
					<a href="{% url 'single-profile' profile.id %}" data-toggle="tooltip" title="{{ profile.profile_name | safe }}"><img src="{% if 'gravatar' in profile.avatar %}{{profile.avatar}}{% elif 'files' in profile.avatar %}https://{{site.subdomain_key}}.microco.sm{{profile.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{profile.profile_name | safe }}" /></a>
				</li>
				{% endfor %}
				{% if content.participants|length > 7%}
				<li>
					<a href="#"
						 class="btn btn-default btn-xs"
						 data-toggle="modal"
						 data-target="#modal-huddle-invite">
						+{{ content.participants|length|add:"-7" }}
					</a>
				</li>
				{% endif %}
			</ul>

			<div class="huddle-actions">
				{% if not content.isConfidential %}
				<a class="btn btn-primary btn-xs"
					data-toggle="modal"
					data-target="#modal-huddle-invite">
					Share Message
				</a>
				{% endif %}
				<a class="btn btn-primary btn-xs"
					data-toggle="modal"
					data-target="#modal-huddle-leave">
					Delete Message
				</a>
			</div>
		</div>
	</div>
</div>


<div class="content-body">
	<ul class="list-comments">
		{% comments content.comments.items %}
	</ul>
</div> <!-- / content-body -->

<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-6"></div>
		<div class="col-sm-6">{% include 'pagination.html' %}</div>
	</div>
</div>

<a name="reply"></a>
	<div class="reply-container">
		<ul class="list-comments">
			<li class="comment-item">
				<div class="comment-item-inner">
					<div class="comment-item-header">
						<div class="comment-item-author">
								<img src="{% if 'gravatar' in user.avatar %}{{user.avatar}}{% elif 'files' in user.avatar %}https://{{site.subdomain_key}}.microco.sm{{user.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{ user.profile_name | safe }}"/>
								<strong>Post a reply</strong>
						</div>
					</div>
					<div class="comment-item-body">
						{% include 'forms/block_comment_box.html' %}
					</div>
				</div>
			</li>
		</ul>
	</div> <!-- /reply-container -->

	{% if content.meta.permissions.owner %}
	<form id="invite-form" action="{% url 'invite-huddle' content.id %}" method="POST">
		{% csrf_token %}
	</form>
	{% endif %}

{% if not content.isConfidential %}
	{% include "modal_huddle_invite.html" %}
{% endif %}
{% include "modal_huddle_leave.html" %}

{% endblock %}

{% block sidebar %}
<div class="metabar-module">
	<h5>About</h5>
	<div class="metabar-module-title">
		<h3>
			{{ content.title | safe }}
		</h3>

		<p class="metabar-module-author">
			Started by <a href="{% url 'single-profile' content.meta.created_by.id %}" id="created_by"><img src="{% if 'gravatar' in content.meta.created_by.avatar %}{{content.meta.created_by.avatar}}{% elif 'files' in content.meta.created_by.avatar %}https://{{site.subdomain_key}}.microco.sm{{content.meta.created_by.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{content.meta.created_by.profile_name | safe }}" /> @{{ content.meta.created_by.profile_name | safe | truncatechars:25 }}</a> <time datetime="{{ content.meta.created|date:"c" }}">{{ content.meta.creates|timesince }}</time>
		</p>
	</div>
</div> <!-- / about -->

<div class="metabar-module">
	<h5>Actions</h5>
	<form class="metabar-search-form" role="search" action="{% url 'single-search' %}">
		<div class="input-group">
			<input
				type="text"
				id="navbar-search-input"
				class="form-control metabar-search-input"
				name="q"
				placeholder="Search message"
				tabindex="1"
			/>
			<input type="hidden" name="type" value="huddle" />
			<input type="hidden" name="type" value="comment" />
			<input type="hidden" name="id" value="{{ content.id }}" />
			<input type="hidden" name="sort" value="date" />
			<span class="input-group-btn">
				<button class="btn btn-default metabar-search-icon"><span class="sprite sprite-search-small"></span></button>
			</span>
		</div>
	</form>

	<div class="metabar-module-body">
		<p>{% include 'forms/subscribe.html' %}</p>
	</div>
</div>

{% endblock %}


{% block js %}
{% if user %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.textcomplete.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/comments.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/formValidator.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/attachments.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Markdown.Converter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Markdown.Editor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/peopleWidget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/simpleEditor.js"></script>
<script type="text/javascript">
(function(){

	var subdomain = $('meta[name="subdomain"]').attr('content');

	/////////////////////////
	//       comments      //
	/////////////////////////
	var comments = new Comments({
		el               : '.content-body',
		defaultContainer : '.reply-container',
		template         : $('.reply-container .comment-item-body').html().trim()
	});

	/////////////////////////
	//    comment box      //
	/////////////////////////
	var replyBox = new simpleEditor({
		el : '.reply-box'
	});

	$('#post-a-reply-handle').on('click',function(e){
		var selectedText = Comments.prototype.getWindowSelectedText();
		if (selectedText){
			replyBox.textarea.value = selectedText;
			replyBox.quote();
		}
	});

	/////////////////////////
	//        invite       //
	/////////////////////////
	var p = new PeopleWidget({
		el         : 'input#invite',
		static_url : subdomain,
		dataSource : subdomain + '/api/v1/profiles?disableBoiler&top=true&q=',
		is_textbox : true,
		list_target: '#modal-huddle-people-widget-list',
		invited    : {{ participants_json|safe|default:"[]" }}
	});

	p.onSelection(function(invited, added){

		var invited_list = $('#modal-huddle-invited-list'),
				person;

		if (typeof added !== 'undefined'){
			img_src = subdomain + added.avatar;
			a_href = "{{ site.url }}/profiles/"+added.id;
			a_profile_name = added.profileName;
			li_id = added.id;

			person = $('<li class="pending" data-id="'+li_id+'"><a href="'+a_href+'"><img src="'+img_src+'"/> @'+a_profile_name+'</a><img class="preloader" src="{{ STATIC_URL }}img/preloader.gif"/></li>');
			invited_list.append(person);

			// fire off calls to invite

			$.ajax({
				url  : '{% url 'invite-huddle' content.id %}',
				type : 'POST',
				data : {
					invite_profile_id : added.id,
					csrfmiddlewaretoken : '{{ csrf_token }}'
				}
			}).success(function(){
				var li = invited_list.find('li[data-id='+added.id+']'),
						meta_list = $('.huddle-meta').find('.list-people');

				li.removeClass('pending').find('.preloader').remove();

				meta_list.append(
					'<li><a href="'+a_href+'" data-toggle="tooltip" title="'+a_profile_name+'"><img src="'+img_src+'"/></a></li>'
				);

				$.each(meta_list.find('a[data-toggle="tooltip"]'),function(index,item){
					$(item).tooltip();
				});

			});

		}
	});

	/////////////////////////
	//     subscribe       //
	/////////////////////////
	var subscribe = new Subscribe({
		el    : '.subscribe',
		url   : '{% url 'single-watcher' %}',
		id    : {{ content.id }},
		type  : '{{ item_type }}',
		token : '{{ csrf_token }}',
		is_subscribed : {{ content.meta.flags.watched|lower|default:"false" }}
	});
})();
</script>


{% endif %}
{% endblock js %}
