{% extends 'base.html' %}

{% load conversation %}
{% load event %}

{% block title %}About{% endblock title %}

{% block description %}Index of site usage policies such as the privacy policy and terms of use.{% endblock description %}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-7">
			{% include 'breadcrumbs.html' with skipself=True %}
		</div>
		<div class="col-sm-5"></div>
	</div>
	<h1><a href="{{ content.meta.links.self.href }}">About</a></h1>
</div>

<div class="content-body comment-item-body">

	<h1>{{ site.title | safe }}</h1>

	<p>{{ site.description | safe }}</p>

	<h2>Policies</h2>

	<p>A number of documents describe how we protect the data you provide and the terms under which we offer the forum service.</p>

	<p>We have attempted to make these documents as easy to understand as possible, if you have any trouble understanding them please let us know.</p>

	<div>
		<ul>
			<li><a href="{% url 'single-legal' 'terms' %}">Our terms of use</a></li>
			<li><a href="{% url 'single-legal' 'privacy' %}">Our privacy policy</a></li>
			<li><a href="{% url 'single-legal' 'cookies' %}">Our use of cookies</a></li>
		</ul>
	</div>
</div>

{% endblock %}

{% block sidebar%}

	<div class="metabar-module">
		<h5>About</h5>
	</div> <!-- / about -->

{% endblock %}