{% extends 'base.html' %}
{% load humanize %}

{% block title %}Membership groups{% endblock title %}

{% block description %}Membership groups allow site members to be granted access and permissions to the content within a forum. This page lists all of the groups that exist for the current forum and their permissions.{% endblock description %}

{% block content %}

<div class="content-header padded">
  <div class="row">
    <div class="col-sm-12">
      {% include 'breadcrumbs.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h1>Membership Groups</h1>
    </div>
    <div class="col-sm-6">
      {% include 'pagination.html' %}
    </div>
  </div>
</div>

<div class="content-body">

  <div class="list-memberships">

    <ul class="list-collection bordered padded">
    {% for membership in memberships.items.items %}
        <li class="list-collection-row">
          <div class="row">

            <div class="col-sm-8">
              <!--<div class="list-collection-row-icon">

              </div> /list-collection-row-icon -->
              <div class="list-collection-row-offset">
                <h2 class="row-title">{{ membership.title }}</h2>
                <div class="row-meta">
                  {% if membership.members.total > 0 %}

                    {{ membership.members.total | default:0 | intcomma }} profile{{ membership.members.total | pluralize:",s" }}, including:

                    <ul class="list-people list-people-sm">
                      {% for member in membership.members.items %}
                      <li><a href="{% url 'single-profile' member.id  %}"><img src="{% if 'gravatar' in member.avatar %}{{member.avatar}}{% elif 'files' in member.avatar %}https://{{site.subdomain_key}}.microco.sm{{member.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{member.profile_name | safe }}" align="left" class="img-badge" /></a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                  {% if membership.include_users %}<p>This group includes <span class="green bold">anyone who is signed in</span>.</p>{% endif%}
                  
                  {% if membership.include_guests %}<p>This group includes <span class="green bold">people who are not signed in</span>.</p>{% endif%}

                  <p class="list-membership-description">

                    {% if membership.moderator %}
                      As a moderator, they <span class="green bold">can read,
                      create, update and delete</span> their own content, and 
                      <span class="green bold">can read, update and delete</span>
                      the conversations, events and comments of others.

                    {% elif membership.banned %}
                      As a member of a banned group, they
                      <span class="red bold">cannot read, create, update
                      or delete</span> any content in this forum.

                    {% else %}
                      <strong>{{ membership.title }}</strong>
                      {% if membership.read %}
                      <span class="green bold">can read</span>
                      {%else%}
                      <span class="red bold">cannot read</span>
                      {% endif %}
                      this forum.<br>

                      They
                      {% if membership.create %}
                      <span class="green bold">can create and edit</span>
                      {%else%}
                      <span class="red bold">cannot create and edit</span>
                      {% endif %}
                      their own conversations, events and comments.<br>

                      {% if membership.close or membership.open %}
                        They
                        {% if membership.close and membership.open %}
                        <span class="green bold">can open and close</span>
                        {% elif membership.close %}
                        <span class="green bold">can close</span>
                        {% else %}
                        <span class="green bold">can open</span>
                        {% endif %}
                        their own conversations and events.<br>
                      {% endif %}

                      They
                      {% if membership.update %}
                      <span class="green bold">can update</span>
                      {%else%}
                      <span class="red bold">cannot update</span>
                      {% endif %}
                      items created by others.<br>

                      They
                      {% if membership.delete %}
                      <span class="green bold">can delete</span>
                      {%else%}
                      <span class="red bold">cannot delete</span>
                      {% endif %}
                      items created by others.<br>

                    {% endif %}
                  </p>
                </div>
              </div>
            </div>

            {% if membership.microcosm_id %}
              {% if content.meta.permissions.owner or content.meta.permissions.admin or content.meta.permissions.moderator %}
            <div class="col-sm-4">
              <div class="row-stats">
                <a
                  href="{% url 'edit-memberships' content.id membership.id %}"
                  class="btn btn-default pull-right"
                >Edit Group</a>
              </div>
              <div class="row-context">
              </div>
            </div>
              {% endif %}
            {% endif %}
            {% if membership.microcosm_id == 0 %}
            <div class="col-sm-4">
              <div class="row-stats">
                <span class="pull-right">Default Group</span>
              </div>
              <div class="row-context">
              </div>
            </div>{% endif %}

          </div>
        </li>
    {% endfor %}
    </ul>
  </div>

</div>


<div class="row content-footer">
  <div class="col-sm-6 pull-right">
    {% include 'pagination.html' %}
  </div>
</div>

{% endblock content %}

{% block sidebar %}

  {% if content.meta.permissions.owner or content.meta.permissions.admin or content.meta.permissions.moderator %}
    <div class="metabar-module">
      <div class="metabar-module-primary-buttons">
      {% if user %}
        <a
          id="create_membership_group"
          href="{% url 'create-memberships' content.id %}"
          class="btn btn-large btn-block btn-primary"
        ><span class="sprite sprite-user-group"></span>
          Create a membership group
        </a>
      {% endif %}
      </div>
    </div> <!-- primary actions -->
  {% endif %}


  <div class="metabar-module">
    <h5>About</h5>
    <div class="metabar-module-title">
      <h3>Membership groups</h3>

      <p>Membership groups control access and permissions within a forum.</p>

      <p>People start with no permission to do anything, and are granted
      permission by being a member of a membership group.</p>

      <p>The vast majority of people are either guests (not signed-in) or
      members (signed-in).</p>

      <p>The <b>default groups</b> are site-wide, and all new forums have these
      groups. If a forum has it's own custom membership groups, then these
      may override the defaults and allow for private forums.</p>

    </div>
  </div> <!-- / about -->

{% endblock sidebar %}