{% extends 'base.html' %}
{% load humanize %}

{% block title %}Membership groups{% endblock title %}

{% block content %}

<div class="content-header padded">
  <div class="row">
    <div class="col-sm-7">
      {% include 'breadcrumbs.html' %}
    </div>
    <div class="col-sm-5">
      {% include 'pagination.html' %}
    </div>
  </div>
  <h1>Membership Groups</h1>
</div>

<div class="content-body">

  <div class="row-meta">
    <p class="well-sm alert-warning">
  {% if memberships.default_roles %}
      These are the <strong>default membership groups</strong> and are applied
      to all forums that do not have custom permissions.
  {% else %}
      These are <strong>custom membership groups</strong> that apply to this
      forum only.
  {% endif %}
    </p>
  </div>

  <div class="list-memberships">

    <ul class="list-collection bordered padded">
    {% for membership in memberships.items.items %}
        <li class="list-collection-row">
          <div class="row">

            <div class="col-sm-8">
              <!--<div class="list-collection-row-icon">

              </div> /list-collection-row-icon -->
              <div class="list-collection-row-offset">
                <h2 class="row-title">{{ membership.title }}</h2>
                <div class="row-meta">
                  {% if membership.members.total > 0 %}

                    {{ membership.members.total | default:0 | intcomma }} profile{{ membership.members.total | pluralize:",s" }} in the membership group, including:

                    <ul class="list-people list-people-sm">
                      {% for member in membership.members.items %}
                      <li><a href="{% url 'single-profile' member.id  %}"><img src="{% if 'gravatar' in member.avatar %}{{member.avatar}}{% elif 'files' in member.avatar %}https://{{site.subdomain_key}}.microco.sm{{member.avatar}}{% else %}/static/img/avatar.gif{% endif %}" alt="Avatar for {{member.profile_name | safe }}" align="left" class="img-badge" /></a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                  <p class="list-membership-description">

                    {% if membership.include_users %}<p>This group includes <span class="green bold">anyone who is signed in</span>.</p>{% endif%}

                    {% if membership.include_guests %}<p>This group includes <span class="green bold">guests who are not signed in</span>.</p>{% endif%}

                    {% if membership.moderator %}
                      As a moderator, they <span class="green bold">can create,
                      read, update and delete</span> their own content, and 
                      <span class="green bold">can read, update and delete</span>
                      the conversations, events and comments of others.

                    {% elif membership.banned %}
                      As a member of a banned group, they
                      <span class="red bold">cannot read, update or delete</span>
                      any content in this forum.

                    {% else %}
                      <strong>{{ membership.title }}</strong>
                      {% if membership.read %}
                      <span class="green bold">can access</span>
                      {%else%}
                      <span class="red bold">cannot access</span>
                      {% endif %}
                      this forum.<br>

                      They
                      {% if membership.create %}
                      <span class="green bold">can create and edit</span>
                      {%else%}
                      <span class="red bold">cannot create and edit</span>
                      {% endif %}
                      their own conversations, events and comments.<br>

                      They
                      {% if membership.update %}
                      <span class="green bold">can update</span>
                      {%else%}
                      <span class="red bold">cannot update</span>
                      {% endif %}
                      items created by others.<br>

                      They
                      {% if membership.delete %}
                      <span class="green bold">can delete</span>
                      {%else%}
                      <span class="red bold">cannot delete</span>
                      {% endif %}
                      items created by others.

                    {% endif %}
                  </p>
                </div>
              </div>
            </div>

            {% if not memberships.default_roles %}

            <div class="col-sm-4">
              <div class="row-stats">
                <a
                  href="{% url 'edit-memberships' content.id membership.id %}"
                  class="btn btn-default pull-right"
                >Edit Group</a>
              </div>
              <div class="row-context">
              </div>
            </div>

            {% endif %}

          </div>
        </li>
    {% endfor %}
    </ul>
  </div>

</div>


<div class="row content-footer">
  <div class="col-sm-8">
      {% include 'breadcrumbs.html' %}
    </div>
    <div class="col-sm-4">
      {% include 'pagination.html' %}
    </div>
</div>

{% endblock content %}

{% block sidebar %}

  {# if content.meta.permissions.create #}
    <div class="metabar-module">
      <div class="metabar-module-primary-buttons">
      {% if user %}
        <a
          id="create_membership_group"
          href="{% url 'create-memberships' content.id %}"
          class="btn btn-large btn-block btn-primary"
        ><span class="sprite sprite-user-group"></span>
          Create a membership group
        </a>
      {% endif %}
      </div>
    </div> <!-- primary actions -->
  {# endif #}


  <div class="metabar-module">
    <h5>About</h5>
    <div class="metabar-module-title">
      <h3>
        Membership groups
      </h3>
      <p>Membership groups control access and permissions within a forum.</p>
      {% if memberships.default_roles %}
      <p>The vast majority of people are either guests (not signed-in) or
      members, and would usually be granted some permissions that allow them to
      view the forum and create new content.</p>
      {% endif %}
    </div>
  </div> <!-- / about -->

{% endblock sidebar %}