{% extends 'base.html' %}

{% load humanize %}

{% block title %}{{ site.title | safe }} {% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %}{% endblock title %}

{% block description %}{{ site.description }} {% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %}{% endblock description %}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-6">
			{% include 'breadcrumbs.html' with skipself=True %}
		</div>
		<div class="col-sm-6">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>

<div class="content-body">

	{% if not content.microcosms.items %}
		<div class="row-meta">
			<p>This is such a new site that there are no forums.</p>
		{% if content.meta.permissions.create %}
			<p><a href="{% url 'create-microcosm' %}">Create your first forum.</a></p>
		{% endif %}
		</div>
	{% else %}

		<div class="list-microcosms">
			<ul class="list-collection bordered padded">
			{% for item in content.microcosms.items %}
					<li class="list-collection-row">
						<div class="row">

							<div class="col-sm-7 col-md-7">
								<!--<div class="list-collection-row-icon">

								</div> /list-collection-row-icon -->
								<div class="list-collection-row-offset">
									<h2 class="row-title">
										<a href="{% url 'single-microcosm' item.id %}">{{ item.title | safe }}</a>
										{% if item.meta.flags.unread %}<span class="label label-warning">NEW</span>{% endif %}
									</h2>

									<div class="row-meta">
										<p class="microcosm-item-description">
											{{ item.description | safe }}
										</p>
									</div>
								</div>
							</div>

							<div class="col-sm-5 col-md-5">

								<div class="row-stats">
									<ul class="list-stats">
										<li>
											<span>{{ item.total_items | default:0 | intcomma }}</span>
											conversation{{ item.total_items | default:0 | pluralize:",s" }}
										</li>
										<li>
											<span>{{ item.total_comments | default:0 | intcomma }}</span>
											comment{{ item.total_comments | default:0 | pluralize:",s" }}
										</li>
									</ul>
								</div>
								<div class="row-context">
									{#<input type="checkbox" class="row-admin-checkbox" /> #}
									{% if item.most_recent_update %}

										<a href="{{item.most_recent_update.item_type}}s/{{item.most_recent_update.id}}/{% if user %}newest/{% endif %}" title="{{ item.most_recent_update.title | safe }}">{{ item.most_recent_update.title | safe | truncatechars:30 }}</a>
										{% if item.most_recent_update.total_comments %}
											<time datetime="{{ item.most_recent_update.last_comment_created|date:"c" }}"></time>
											{% comment %}
											by <a href="{% url 'single-profile' item.most_recent_update.last_comment_created_by.id %}">{{ item.most_recent_update.last_comment_created_by.profile_name | safe }}</a>
											{% endcomment %}
										{% else%}
											<time datetime="{{ item.most_recent_update.meta.created|date:"c" }}"></time>
											{% comment %}
											 by <a href="{% url 'single-profile' item.most_recent_update.meta.created_by.id %}">{{ item.most_recent_update.meta.created_by.profile_name | safe }}</a>
											{% endcomment %}
										{% endif %}
									{% endif %}
								</div>

							</div>
						</div>
					</li>
			{% endfor %}
			</ul>
		</div>
{% endif %}
</div>

<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-6">
			{% include 'breadcrumbs.html' %}
		</div>
		<div class="col-sm-6">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>

{% endblock %}

{% block sidebar %}

	{% if content.meta.permissions.create %}
	<div class="metabar-module">
		<h5>Got something to add?</h5>
		<a id="create_microcosm" href="{% url 'create-microcosm' %}" class="btn btn-large btn-block btn-primary"><span class="glyphicon glyphicon-folder-open"></span> Create a forum</a>
	</div> <!-- primary actions -->
	{% endif %}

	<div class="metabar-module">
		<h5>About</h5>
		<div class="metabar-module-title">
			<h3>
				{{ site.title | safe }}
			</h3>
			<p>
				{{ site.description | safe }}
			</p>
		</div>
	</div> <!-- / about -->


	<div class="metabar-module">
		<h5>Population</h5>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge-alt">{{ site.meta.stats.totalProfiles | default:0 | intcomma }}</span>
				<a href="/profiles/?top=true">People</a>
			</li>
			{% if site.meta.stats.onlineProfiles %}
			<li class="list-group-item">
				<span class="badge-alt">{{ site.meta.stats.onlineProfiles | default:0 | intcomma }}</span>
				<a href="/profiles/?top=true&amp;online=true">Online now</a>
			</li>
			{% endif %}
		</ul>
		{% if site.meta.stats.totalConversations or site.meta.stats.totalEvents %}
		<h5>Content</h5>
		<ul class="list-group">
			{% if site.meta.stats.totalConversations %}
			<li class="list-group-item">
				<span class="badge-alt">{{ site.meta.stats.totalConversations | default:0 | intcomma }}</span>
				<a href="/search/?type=conversation" title="Find recently updated conversations">Conversations</a>
			</li>
			{% endif %}
			{% if site.meta.stats.totalEvents %}
			<li class="list-group-item">
				<span class="badge-alt">{{ site.meta.stats.totalEvents | default:0 | intcomma }}</span>
				<a href="/search/?type=event" title="Find recently updated events">Events</a>
			</li>
			{% endif %}
			{% if site.meta.stats.totalComments %}
			<li class="list-group-item">
				<span class="badge-alt">{{ site.meta.stats.totalComments | default:0 | intcomma }}</span>
				Comments
			</li>
			{% endif %}
		</ul>
		{% endif %}
	</div> <!-- / population -->

	{% if user %}
    <div class="metabar-module-body">
        {% include 'forms/mark-read.html' %}
    </div>
	{% endif %}


{% endblock%}
