{% extends 'base.html' %}

{% load humanize %}

{% load conversation %}
{% load event %}
{% load microcosm %}

{% block title %}{{ site.title | safe }} {% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %}{% endblock title %}

{% block description %}{{ site.description }} {% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %}{% endblock description %}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-6">
			{% include 'breadcrumbs.html' with skipself=True %}
		</div>
		<div class="col-sm-6">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>

<div class="content-body">
	{# {% include "forms/content-moderation.html" %} #}
	{% if not content.items.items %}
		<div class="row-meta">
		{% if user %}
			<h2>Problems logging in?</h2>
			<p>The Rapha Cycling Club Forum uses the <a href="https://login.persona.org/about">Mozilla Persona</a> sign-in system.</p>
			<p>You are signed in with <strong>{{user.email}}</strong>, please make sure this matches your Rapha.cc account email.</p>
			<p>If you still can&rsquo;t see this message please make sure you are allowing third party cookies on this domain, without the Persona cookie your cannot login at all. <a href="https://login.persona.org/about">Learn more about Mozilla Persona and privacy here</a>.</p>
			<p>Thank you</p>
			<p><a href="mailto:rcc@rapha.cc">rcc@rapha.cc</a></p>
		{% else %}
			<p>There are no public forums, please create an account using the email address that you use to login to rapha.cc</p>
		{% endif %}
		{% if content.meta.permissions.create %}
			<p><a href="{% url 'create-microcosm' %}">Create your first forum.</a></p>
		{% endif %}
		</div>
	{% else %}
		<div class="list-items">
			<ul class="list-collection bordered padded">
			{% for item in content.items.items %}
				{% if item.item_type == "microcosm" %}
					{% microcosm item %}
				{% elif item.item_type == "conversation" %}
					{% conversation item %}
				{% elif item.item_type == "event" %}
					{% event item %}
				{% else %}
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	{% endif %}
	{# {% include "forms/content-moderation.html" %} #}
</div>

<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-6"></div>
		<div class="col-sm-6">{% include 'pagination.html' %}</div>
	</div>
</div>

{% endblock %}

{% block sidebar %}
	{% if content.meta.flags.open %}
		{% if content.meta.permissions.admin or content.meta.permissions.owner or content.meta.permissions.moderator %}
			<div class="metabar-module">
				<div class="metabar-module-primary-buttons">
					{% for item_type in content.item_types %}{%if item_type == "conversation" %}
						<a id="create_conversation" href="{% url 'create-conversation' content.id %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-speech-bubble"></span> Post a conversation</a>
					{%endif%}{% endfor %}
					{% for item_type in content.item_types %}{%if item_type == "event" %}
						<a id="create_event" href="{% url 'create-event' content.id %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-calendar"></span> Post an event</a>
					{%endif%}{% endfor %}
				</div>
				<div class="metabar-module-primary-buttons" style="margin-top: 10px;">
					{% for item_type in content.item_types %}{%if item_type == "microcosm" %}
						<a id="create_conversation" href="{% url 'create-child-microcosm' content.id %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-microcosm"></span> Create a forum</a>
					{%endif%}{% endfor %}
				</div>
			</div>
		{% endif %}
	{% endif %}
	<div class="metabar-module">
		<h5>About</h5>
		<div class="metabar-module-title">
			<h3>
				{{ site.title | safe }}
			</h3>
			<p>
				{{ site.description | safe }}
			</p>
		</div>
	</div> <!-- / about -->
	<div class="metabar-module">
		<h5>Population</h5>
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge-alt">{{ site.meta.stats.totalProfiles | default:0 | intcomma }}</span>
				<a href="/profiles/?top=true">People</a>
			</li>
			{% if site.meta.stats.onlineProfiles %}
			<li class="list-group-item">
				<span class="badge-alt">{{ site.meta.stats.onlineProfiles | default:0 | intcomma }}</span>
				<a href="/profiles/?top=true&amp;online=true">Online now</a>
			</li>
			{% endif %}
		</ul>
	</div> <!-- Population -->
	<div class="metabar-module">
		{% if site.meta.stats.totalConversations or site.meta.stats.totalEvents %}
		<h5>Content</h5>
		<ul class="list-group">
			{% if site.meta.stats.totalConversations %}
			<li class="list-group-item">
				<span class="badge-alt">{{ site.meta.stats.totalConversations | default:0 | intcomma }}</span>
				<a href="/search/?type=conversation" title="Find recently updated conversations">Conversations</a>
			</li>
			{% endif %}
			{% if site.meta.stats.totalEvents %}
			<li class="list-group-item">
				<span class="badge-alt">{{ site.meta.stats.totalEvents | default:0 | intcomma }}</span>
				<a href="/search/?type=event" title="Find recently updated events">Events</a>
				<ul>
					<li style="list-style:none;"><a href="/search?type=event&amp;eventAfter=0&amp;sort=oldest">upcoming events</a></li>
					<li style="list-style:none;"><a href="/search?type=event&amp;eventBefore=0&amp;sort=newest">past events</a></li>
				</ul>
			</li>
			{% endif %}
			{% if site.meta.stats.totalComments %}
			<li class="list-group-item">
				<span class="badge-alt">{{ site.meta.stats.totalComments | default:0 | intcomma }}</span>
				Comments
			</li>
			{% endif %}
		</ul>
		{% endif %}
	</div> <!-- Content -->

	{% if user %}
	<div class="metabar-module">
		<h5>Actions</h5>
		<div class="metabar-module-body">
			{% include 'forms/mark-read.html' %}
		</div>
		{% if content.meta.permissions.admin or content.meta.permissions.owner or content.meta.permissions.moderator %}
			<div class="metabar-module-body">
				<a href="{% url 'list-memberships' content.id %}">Manage site permissions</a>
			</div>
		{% endif %}
	</div>
	{% endif %}
{% endblock%}
