{% extends 'base.html' %}

{% load conversation %}
{% load event %}

{% block title %}{{ content.title | safe }}{% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %} | {{ site.title | safe }}{% endblock title %}

{% block description %}{{content.description | striptags}} {% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %}{% endblock description %}

{% block ga %},'dimension3': '{{ content.id }}'{% endblock%}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-12">
			{% include 'breadcrumbs.html' with skipself=True %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h1><a id="title" href="{{ content.meta.links.self.href }}">{{ content.title|safe }}</a></h1>
		</div>
		<div class="col-sm-6">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>

<div class="content-body">

{# {% include "forms/content-moderation.html" %} #}

	<div class="list-items">

		<ul class="list-collection bordered padded">
		{% for item in content.items.items %}

			{% if item.item_type == "conversation" %}
				{% conversation item %}
			{% endif %}

			{% if item.item_type == "event" %}
				{% event item %}
			{% endif %}

		{% endfor %}
		</ul>
	</div>

</div>

{# {% include "forms/content-moderation.html" %} #}


<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-6 pull-right">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>


{% endblock %}

{% block sidebar%}

	{# if content.meta.permissions.create #}
		<div class="metabar-module">
			<h5>Got something to add?</h5>
			<div class="metabar-module-primary-buttons">
			{% if user %}
				<a id="create_conversation" href="{% url 'create-conversation' content.id %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-speech-bubble-small"></span> Start a conversation</a>
				<a id="create_event" href="{% url 'create-event' content.id %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-calendar-small"></span> Start an event</a>
			{% else %}
				<a href="#" class="btn btn-large btn-block btn-primary" data-toggle="modal" data-target="#modal-signin"><span class="sprite sprite-speech-bubble-small"></span> Start a conversation</a>
				<a href="#" class="btn btn-large btn-block btn-primary" data-toggle="modal" data-target="#modal-signin"><span class="sprite sprite-calendar-small"></span> Start an event</a>
			{% endif %}
			</div>
		</div> <!-- primary actions -->
	{# endif #}


	<div class="metabar-module">
		<h5>About</h5>
		<div class="metabar-module-title">
			<h3>
				{{ content.title | safe }}
			</h3>
		</div>
		<div class="metabar-module-body">
			<p>{{ content.description | safe }}</p>
			<p class="metabar-module-author">
				Created by <a href="{% url 'single-profile' content.meta.created_by.id %}">@{{ content.meta.created_by.profile_name | safe | truncatechars:25 }}</a> <time datetime="{{ content.meta.created|date:"c" }}"></time>
			</p>
            <p><a href="{% url 'list-memberships' content.id %}">Who has access to this forum?</a></p>
        </div>
		<h5>Actions</h5>
		<form class="metabar-search-form" role="search" action="{% url 'single-search' %}">
			<div class="input-group">
				<input
					type="text"
					id="navbar-search-input"
					class="form-control metabar-search-input"
					name="q"
					placeholder="Search this forum"
					tabindex="1"
				/>
				<input type="hidden" name="forumId" value="{{ content.id }}" />
				<input type="hidden" name="defaults" value="true" />
				<span class="input-group-btn">
					<button class="btn btn-default metabar-search-icon"><span class="sprite sprite-search-small"></span></button>
				</span>
			</div>
		</form>

		<div class="metabar-module-body">
			<p>{% include 'forms/subscribe.html' %}</p>
		</div>
		{% if user %}
        <div class="metabar-module-body">
            {% include 'forms/mark-read.html' %}
        </div>
		{% endif %}
		{% if content.meta.permissions.admin or content.meta.permissions.super_user %}
		<div class="metabar-module-primary-buttons">
			<a id="edit-microcosm" href="{% url 'edit-microcosm' content.id %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-pencil-small"></span> Edit Forum</a>
			{% comment %}
			{% if content.meta.permissions.delete %}
			<form method="POST" action="{% url 'delete-microcosm' content.id %}" id="microcosm_delete_form" class="hidden-xs">
				{% csrf_token %}
				<a id="delete-microcosm" href="#" onClick="if (confirm('Delete is a one-way action, are you sure?')) {$('#microcosm_delete_form').submit()}" class="text-danger">Delete Forum</a>
			</form>
			{% endif %}
			{% endcomment %}
		</div>
		{% endif %}
	</div> <!-- / about -->

{% endblock %}
{% block js %}
<script type="text/javascript">
	var subscribe = new Subscribe({
		el    : '.subscribe',
		url   : '{% url 'single-watcher' %}',
		id    : {{ content.id }},
		type  : '{{ item_type }}',
		token : '{{ csrf_token }}',
		is_subscribed : {{ content.meta.flags.watched|lower|default:"false" }}
	});
</script>
{% endblock %}