<div id="formatting-help-modal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Formatting Help</h4>
			</div>
			<div class="modal-body">
				<p>Don't worry about formatting, just type in the text and we'll take care of making sense of it. We will auto-convert links, and if you put asterisks around words we will make them bold.</p>
				<p>Tips:</p>
				<ul>
					<li>Create headers by underlining text with ==== or ----</li>
					<li>To <em>*italicise*</em> text put one asterisk each side of the word</li>
					<li>To <bold>**bold**</bold> text put two asterisks each side of the word</li>
					<li>Embed images by entering:<br>&nbsp;![](https://www.google.co.uk/images/srpr/logo4w.png)<br>That's the hard one: exclamation, square brackets and then the URL to the image in brackets.</li>
					<li>* Create lists by starting lines with asterisks</li>
					<li>1. Create numbered lists by starting lines with a number and a dot</li>
					<li>&gt; Quote text by starting lines with &gt;</li>
					<li>Mention another user by @username</li>
					<li>For syntax highlighting, surround the code block with three backticks:<br>
					<br>
					```<br>
					Your code goes here<br>
					```<br>
					Just like <a href="https://help.github.com/articles/github-flavored-markdown#fenced-code-blocks">Github</a>, a blank line must precede a code block.
					</li>
					<li>If you upload more than 5 files we will display all attachments as thumbnails.</li>
				</ul>
				<p>For a full reference visit the <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a>.</p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>