{% extends 'base.html' %}

{% load list_comment %}
{% load microcosm %}
{% load conversation %}
{% load event %}
{% load humanize %}

{% block title %}@{{ content.profile_name | safe }} | {{ site.title | safe }}{% endblock title %}

{% block description %}Profile page for {{content.profile_name | striptags}},  {% if content.profile_comment %}{{ content.profile_comment.html | striptags }}{% endif %}{% endblock description %}

{% block content %}
					<div class="content-header padded">
						<div class="row">
							<div class="col-xs-12">
								{% include 'breadcrumbs.html' with skipself=True %}
							</div>
						</div>
					</div>

					<div class="content-body">

						<div class="profile-header padded">

							<img class="profile-header-avatar"
									 src="{% if 'gravatar' in content.avatar %}{{content.avatar}}{% elif 'files' in content.avatar %}https://{{site.subdomain_key}}.microco.sm{{content.avatar}}{% else %}/static/img/avatar.gif{% endif %}" class="gravatar" alt="Avatar for {{ content.profile_name | safe }}" />
							<div class="profile-header-text">
								<h1><a href="{{ content.meta.links.self.href }}">{{ content.profile_name | safe }}</a></h1>
								Member since {{ content.created|date:"M Y" }}
								&bull;
								Last active {{content.last_active|date:"M Y"}}
							</div>
							 <ul class="list-stats profile-header-stats">
									<li>
										<span stat="{{ content.item_count | default:"0" }}">{%if content.item_count > 0 %}<a href="/search?type=conversation&amp;authorId={{content.id}}">{{content.item_count | intcomma }}</a>{% else %}0{% endif %}</span>
										conversations
									</li>
									<li>
										<span stat="{{ content.comment_count | default:"0" }}">{%if content.comment_count > 0 %}<a href="/search?type=comment&amp;authorId={{content.id}}">{{content.comment_count | intcomma }}</a>{% else %}0{% endif %}</span>
										comments
									</li>
								</ul>
						</div> <!-- /profile-header -->

						{% if content.profile_comment %}
						<div class="comment-item-body padded">
							{{ content.profile_comment.html | safe }}
						</div> <!-- /profile-description -->
						{% endif %}

{% comment %}

						<div class="profile-section">
							<h2>Events attending</h2>
							{% with events_attending as items %}
								{% include 'microweb_templates/list_items.html' %}
							{% endwith %}
						</div>

						<div class="profile-section">
							<h2>Events attended</h2>
							{% with events_attended as items %}
								{% include 'microweb_templates/list_items.html' %}
							{% endwith %}
						</div>
{% endcomment %}
						<!-- START :: SEARCH -->
						<div class="profile-section">

						{% if search.results.items|length == 0 %}
							<h3 class="padded">Recent activity</h3>
							<div class="empty-state padded">
								<p class="row-meta">
									This person has not yet posted anything.
								</p>
							</div>
						{% else %}
							<h3 class="padded">Most recent activity</h3>
							<ul class="list-collection bordered padded">
							{% for result in search.results.items %}

								{% if result.item_type == 'microcosm' %}

									{% microcosm result %}

								{% elif result.item_type == 'conversation' %}

									{% conversation result %}

								{% elif result.item_type == 'event' %}

									{% event result %}

								{% elif result.item_type == 'comment' %}

									{% list_comment result %}

								{% endif %}

							{% endfor %}
							</ul>
						{% endif %}
						</div>
						<!-- END :: SEARCH -->
					</div>

{% endblock content %}
{% block sidebar %}

	<div class="metabar-module">
	{% if content.id == user.id %}
		<div class="metabar-module-primary-buttons">
			<a id="edit_profile" href="{% url 'edit-profile' user.id %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-pencil-small"></span> Edit your Profile</a>
			<a href="/ignored/" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-format-list"></span> View Ignored</a>
		</div>
	{% else %}
		<div class="metabar-module-primary-buttons">
			{% if user %}
			<a href="{% url 'create-huddle' %}?to={{ content.id }}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-envelope-small"></span> Send Message</a>
			{% else %}
			<a href="#" data-toggle="modal" data-target="#modal-signin" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-envelope-small"></span> Send Message</a>
			{% endif %}
		</div>
	{% endif %}
	</div> <!-- primary actions -->

	{% if content.email %}
	<div class="metabar-module">
		<h5>About</h5>
		<div class="metabar-module-body">
			<a href="mailto:{{ content.email | safe }}">{{ content.email | safe }}</a>
		</div>
	</div>
	{% endif %}

	<div class="metabar-module">
		<h5>Actions</h5>
		<div class="metabar-module-body">
			{% include 'forms/subscribe.html' %}
		</div>
		{% if user and content.id != user.id %}
			<div class="metabar-module-body">
				<form action="/ignore/" method="POST" id="ignore_form">
					{% csrf_token %}
					<input type="hidden" name="item_type" value="profile" />
					<input type="hidden" name="item_id" value="{{ content.id }}" />
					{% if content.meta.flags.ignored %}
					<input type="hidden" name="delete" value="true" />
					<input type="submit" value="Unignore" class="btn btn-default btn-xs" />
					{% else %}
					<input type="submit" value="Ignore" class="btn btn-default btn-xs" />
					{% endif %}
				</form>
			</div>
			{% if content.meta.permissions.admin %}
				<div class="metabar-module-body">
					<form action="/profiles/{{content.id}}/patch/" method="POST" id="patch_form">
						{% csrf_token %}
						{% if content.is_member %}
							<button type="submit" name="member" value="false" class="btn btn-default btn-xs">Revoke membership</button>
						{% else %}
							<button type="submit" name="member" value="true" class="btn btn-default btn-xs">Grant membership</button>
						{% endif %}
					</form>
				</div>
				{% if content.member %}
				{% else %}
				{% endif %}
			{% endif %}
		{% endif %}
	</div>

{% endblock %}
{% block js %}
{% if user %}
<script type="text/javascript">

	{% if not content.id == user.id %}
	var subscribe = new Subscribe({
		el        : '.subscribe',
		url       : '{% url 'single-watcher' %}',
		updateType: 1,
		type      : '{{ item_type }}',
		id        : {{ content.id }},
		token     : '{{ csrf_token }}',
		is_subscribed : {{ content.meta.flags.watched|lower|default:"false" }}
	});
	{% endif %}
</script>
{% endif %}
{% endblock %}