{% extends 'base.html' %}
{% load humanize %}
{% load microcosm %}
{% load profile %}
{% load conversation %}
{% load event %}
{% load list_comment %}
{% load huddle %}
{% block title %}Search for {{ content.query.searched }}{% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %} | {{ site.title }}{% endblock title %}

{% block description %}Search results for {{content.query.searched | striptags}} {% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %}{% endblock description %}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-12">
			{% include 'breadcrumbs.html' %}
		</div>
	</div>
{% if not content.results %}
	<h1>No valid search terms supplied.</h1>
</div>
<div class="content-body">
	<p>Please enter some search terms.</p>
{% elif content.results.items|length == 0 %}
	<h1>We couldn't find any items that matched your search.</h1>
</div>
<div class="content-body">
	<p>
		<h3>Suggestions:</h3>
		<ul>
			<li>Make sure that all words are spelled correctly.</li>
			<li>Try different or more general keywords.</li>
		</ul>
	</p>
{% else %}
	<h1>Search results for: {{ content.query.searched }}</h1>
	<div class="row">
		<div class="text-muted col-sm-6">
			{{ content.results.total | default:0 | intcomma }} matches.  Search took {{ content.time_elapsed }} seconds.
		</div>
		<div class="col-sm-6">
			{% include 'pagination.html' %}
		</div>
	</div>
</div>
<div class="content-body">
	<div class="list-search">
		<ul class="list-collection bordered padded">
			{% for result in content.results.items %}
				{% if result.item_type == 'conversation' %}
					{% conversation result unread=result.unread %}
				{% elif result.item_type == 'event' %}
					{% event result unread=result.unread %}
				{% elif result.item_type == "microcosm" %}
					{% microcosm result unread=result.unread %}
				{% elif result.item_type == "profile" %}
					{% profile result send_message=True %}
				{% elif result.item_type == "comment" %}
					{% list_comment result %}
				{% elif result.item_type == "huddle" %}
					{% huddle result unread=result.unread %}
				{% else %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endif %}
</div> <!-- /content-body -->

<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-6"></div>
		<div class="col-sm-6">{% include 'pagination.html' %}</div>
	</div>
</div>



{% endblock %}

{% block sidebar %}

<div class="metabar-module metabar-filters">
	<h5>Filters</h5>
	<div class="metabar-module-title">
		<h3>
			Show me ...
		</h3>
	</div>
	<div class="metabar-module-body">
		<ul class="list-group">
			{% if not content.query.forumId %}
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-microcosm">
						<input id="filter-microcosm" type="checkbox" name="type" value="microcosm" {% if "microcosm" in content.type %}checked="checked"{% endif %}/>
						Forums
					</label>
				</div>
			</li>
			{% endif %}
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-conversation">
						<input id="filter-conversation" type="checkbox" name="type" value="conversation" {% if "conversation" in content.type %}checked="checked"{% endif %}/>
						Conversations
					</label>
				</div>
			</li>
			<li class="list-group-item">
				<div class="checkbox">
						<label for="filter-events">
							<input id="filter-events" type="checkbox"  name="type" value="event" {% if "event" in content.type %}checked="checked"{% endif %}/>
							Events
						</label>
				</div>
			</li>
			{% if not content.query.forumId %}
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-profiles">
						<input id="filter-profiles" type="checkbox" name="type" value="profile" {% if "profile" in content.type %}checked="checked"{% endif %}/>
						Profile
					</label>
				</div>
			</li>
			{% endif %}
			{% if user and not content.query.forumId %}
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-huddles">
						<input id="filter-huddles" type="checkbox" name="type" value="huddle" {% if "huddle" in content.type %}checked="checked"{% endif %}/>
						Messages
					</label>
				</div>
			</li>
			{% endif %}
		</ul>
	</div>
	{% if content.query.q or user %}
	<div class="metabar-module-title">
		<h3>
			Options
		</h3>
	</div>
	<div class="metabar-module-body">
		<ul class="list-group">
			{% if content.query.q %}
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-intitle">
						<input id="filter-intitle" type="checkbox" name="inTitle" value="true" {% if content.query.inTitle %}checked="checked"{% endif %}/>
						Only search titles
					</label>
				</div>
			</li>
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-date">
						<input id="filter-date" type="checkbox" name="sort" value="date" {% if content.query.sort == "date" %}checked="checked"{% endif %}/>
						Order by date
					</label>
				</div>
			</li>
			{% endif %}
			{% if user %}
			<li class="list-group-item">
				<div class="checkbox">
					<label for="filter-following">
						<input id="filter-following" type="checkbox" name="following" value="true" {% if content.query.following %}checked="checked"{% endif %}/>
						Following
					</label>
				</div>
			</li>
			{% endif %}
		</ul>
	</div>
	{% endif %}
	{% if content.query.forumId %}
		<input type="hidden" name="forumId" value="{{content.query.forumId}}" />
	{% endif %}
	{% for itemid in content.query.id %}
		<input type="hidden" name="id" value="{{itemid}}" />
	{% endfor %}
	{% if "comment" in content.type %}
		<input type="hidden" name="type" value="comment" />
	{% endif %}
</div> <!-- / filters -->

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/filters.js"></script>
<script type="text/javascript">
(function(){
	window.search_filters = new Filters({
		el     : '.metabar-filters',
		query  : '{{ content.query.searched | urlencode }}',
		url    : '?q=$1'
	});
})();
</script>
{% endblock %}
