{% extends 'base.html' %}

{% load conversation %}
{% load event %}

{% block title %}Trending | {{ site.title | safe }}{% endblock title %}

{% block description %}The top 25 posts on the site right now.{% endblock description %}

{% block content %}

<div class="content-header padded">
  <div class="row">
    <div class="col-sm-12">
      {% include 'breadcrumbs.html' %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h1><a href="{{ content.meta.links.self.href }}">Trending</a></h1>
    </div>
    <div class="col-sm-6">
      {% include 'pagination.html' %}
    </div>
  </div>
</div>

<div class="content-body">

  {% if not content.items.items %}

    <p class="row-meta">Nothing is trending right now.</p>

  {% else %}

    <div class="list-items">

      <ul class="list-collection bordered padded">
      {% for item in content.items.items %}
        {% if item.item_type == "conversation" %}
          {% conversation item showForum=True %}
        {% endif %}
        {% if item.item_type == "event" %}
          {% event item showForum=True %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>

  {% endif %}

</div>

<div class="content-footer padded">
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">{% include 'pagination.html' %}</div>
  </div>
</div>


{% endblock %}

{% block sidebar%}


  <div class="metabar-module">
    <h5>About</h5>
    <div class="metabar-module-title">
      <h3>
        Trending
      </h3>
      <p>The 25 hottest items on the site at the moment.</p>
    </div>
  </div> <!-- / about -->

{% endblock %}