{% extends 'base.html' %}

{% load microcosm %}
{% load profile %}
{% load conversation %}
{% load event %}
{% load list_comment %}
{% load huddle %}

{% block title %}Following{% if pagination and pagination.page > 1 %} (page {{ pagination.page }}){% endif %} | {{ site.title | safe }}{% endblock title %}

{% block content %}

<div class="content-header padded">
	<div class="row">
		<div class="col-sm-7">
			{% include 'breadcrumbs.html' %}
		</div>
		<div class="col-sm-5">
			{% include 'pagination.html' %}
		</div>
	</div>
	<h1><a href="{{ content.meta.links.self.href }}">Following</a></h1>
</div>

<div class="content-body">

	<div class="list-updates">
		{% if user %}

			{% if not content.updates.items %}

				<p class="row-meta">No updates to show. When your name is mentioned or a new comment is posted on something that you are following, it will show here.</p>

			{% else %} {# else has content.updates.items #}

			<ul class="list-collection bordered padded">
				{% for update in content.updates.items %}
					<!-- Start item -->
					{% if update.item_type == 'conversation' %}
						{% conversation update unread=update.meta.flags.unread %}
					{% elif update.item_type == 'event' %}
						{% event update unread=update.meta.flags.unread %}
					{% elif update.item_type == 'microcosm' %}
						{% microcosm update unread=update.meta.flags.unread %}
					{% elif update.item_type == 'profile' %}
						{% profile update %}
					{% elif update.item_type == 'huddle' %}
						{% huddle update unread=update.meta.flags.unread %}
					{% elif update.item_type == 'comment' %}
						{% if update.update_type == 'new_comment' or update.update_type == 'new_comment_in_huddle'  %}
							{% if update.parent_item_type == 'conversation' %}
								{% conversation update.parent_item unread=update.meta.flags.unread %}
							{% elif update.parent_item_type == 'event' %}
								{% event update.parent_item unread=update.meta.flags.unread %}
							{% elif update.parent_item_type == 'profile' %}
								{% profile update.parent_item %}
							{% elif update.parent_item_type == 'huddle' %}
								{% huddle update.parent_item unread=update.meta.flags.unread %}
							{% else %}
							{% endif %}
						{% else %}
							{% list_comment update action=update.update_type %}
						{% endif %}
					{% else %}
					{% endif %}
					<!-- End item -->
				{% endfor %}
			</ul>

			{% endif %} {# endif content.updates.items #}

		{% else %} {# else not user #}

			Please sign in to view updates on the items that you are following.

		{% endif %}
	</div> <!-- /list-updates -->

</div><!-- /content-body -->

<div class="content-footer">
	<div class="row">
		<div class="col-sm-7">
		</div>
		<div class="col-sm-5">
			{% include 'pagination.html' %}
		</div>

	</div>
</div>

{% endblock %}

{% block sidebar%}

	{% if user %}
	<div class="metabar-module">
		<div class="metabar-module-primary-buttons">
			<a href="{% url 'updates-settings' %}" class="btn btn-large btn-block btn-primary"><span class="glyphicon glyphicon-comment"></span> Change your notification settings</a>
		</div>
	</div> <!-- primary actions -->
	{% endif %}


	<div class="metabar-module">
		<h5>About</h5>
		<div class="metabar-module-title">
			<h3>Following</h3>
			<p>Updates on the items that you are following are shown with the most recent update at the top.</p>
			<p>Unfollow items by visiting them directly, remember that if you are following a forum you will need to unfollow that.</p>
			<p>Interactions such as replies and @mentions will always be shown.</p>
		</div>
	</div> <!-- / about -->


{% endblock%}
{% block js %}
<script type="text/javascript">

$('.inline-subscribe').each(function(index,item){
	var subscribe = new Subscribe({
		el    : item,
		url   : '{% url 'watchers' %}',
		id    : function(){ return this.button.attr('data-content-id'); },
		type  : function(){ return this.button.attr('data-content-type'); },
		token : '{{ csrf_token }}',
		is_subscribed : true
	});
});

</script>
{% endblock %}
